{% extends "../base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block contenido %}
<style>
	.main-footer{
		display: none;
	}
</style>
<section id="home" class="parallax fullscreen layer-overlay overlay-dark-7" data-bg-img="/static/img/login/1.jpg">
	<div class="display-table">
		<div class="display-table-cell">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-3">
						<div class="icon-box mb-0 p-0">
							<a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10 text-white">
								<i class="fa fa-user"></i>
							</a>
							<h4 class="text-theme-colored pt-10 mt-0 mb-30"> Inicia sesión.
							</h4>
						</div>
						<hr>
						<form method="POST" class="checkout with_padding form-horizontal clearfix form-transparent" role="form" action="{% url 'account_login' %}">
							{% csrf_token %}
							{% if form.errors %}
								<p>{{form.errors}}</p>
							{% endif %}
							
								<div class="form-group col-md-12">
									<label class="text-white" for="form_username_email">Usuario</label> <span class="required">*</span>
									{{form.login}}
								</div>
							
								<div class="form-group col-md-12">
									<label  class="text-white" for="form_password">Contraseña</label> <span class="required">*</span>
									{{form.password}}
								</div>
								<div class="form-group col-md-12">
									<div class="row">
										<div class="col-lg-4">
											<input type="submit" class="btn btn-colored btn-theme-colored btn-sm" name="inicio_sesion" value="Iniciar sesión">
										</div>
										<div class="col-lg-4">
											<a class="text-theme-colored font-weight-600 font-12" href="{% url 'account_reset_password' %}">
												¿Olvidó su contraseña?
											</a>
										</div>
										
										<div class="col-lg-4">
											<label for="form_checkbox" class="text-white font-weight-600 font-15">{{form.remember}} Recordarme</label>
										</div>
									</div>

									{% get_providers as socialaccount_providers %}
									{% if socialaccount_providers %}
									<div class="socialaccount">
										<ul class="socialaccount_providers">
												{% for provider in socialaccount_providers %}
												{% if provider.id == "openid" %}
												{% for brand in provider.get_brands %}
												<li>
													<a title="{{brand.name}}" 
														class="socialaccount_provider {{provider.id}} {{brand.id}}" 
														href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
														>{{brand.name}}</a>
												</li>
												{% endfor %}
												{% endif %}
												<li>
													<a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn btn-dark btn-lg btn-block no-border mt-15 mb-15" 
														href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Iniciar sesión con {{provider.name}}</a>
														
												</li>
												{% endfor %}
										</ul>
									</div>
									{% endif %}
									<p class="text-white">Si aún no ha creado una cuenta, por favor
									<a class="text-theme-colored" href="{{ signup_url }}">Registrarse</a> primero</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock contenido %}
{% block extra_js %}
<script type="text/javascript">
	$("a.socialaccount_provider").addClass("btn");
	$("#id_login").addClass("form-control");
	$("#id_password").addClass("form-control");
	
</script>
{% endblock extra_js %}