{% extends "../base.html" %}

{% load i18n %}

{% block contenido %}
<style type="text/css">
	#services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_30 section_padding_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="customcard">
				
					<div class="header mb-20">
						<p class="not_found slideDown"><span class="highlight2 fa fa-sign-out"></span></p>
						<h1 class="slideUp">{% trans 'Are you sure you want to sign out?' %}</h1>
					</div>
					<div class="body">
						<form class="fadeIn" method="post" action="{% url 'account_logout' %}">
							{% csrf_token %}
							{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
							{% endif %}
							<button class="theme_button color2 min_width_button margin_0" type="submit">{% trans 'Sign Out' %}</button>
						</form>
					</div>
					<br>

				</div>
				
			</div>
		</div>
	</div>
</section>


{% endblock %}