{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block contenido %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <h4>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h4>

                <!-- Mailchimp Subscription Form-->
                <form id="mailchimp-subscription-form1" class="newsletter-form mt-40 password_reset"  method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        
                    <div class="input-group">
                        {{ form.email }}
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-colored btn-theme-colored btn-lg m-0"
                                data-height="45px">{% trans 'Reset My Password' %}</button>
                        </span>
                    </div>
                </form>
                <!-- <p class="">Si tiene alguna dificultad para restablecer tu contraseña, por favor <a class="text-theme-colored"
                    href="/contactenos/">contáctanos</a>.</p> -->
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $("#id_email").addClass("form-control");
</script>

{% endblock extra_js %}