{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contenido %}
<style type="text/css">
	#services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_30 section_padding_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="customcard">
				
					<div class="header mb-20">
						<h3 class="">{% trans "Password Reset" %}</h3>
					</div>
					<div class="body">
						{% if user.is_authenticated %}
					    {% include "account/snippets/already_logged_in.html" %}
					    {% endif %}
					    
					    <p>
						    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
						</p>
						<a class="theme_button color2 min_width_button margin_0" href="/">Ir a Inicio</a>
					</div>
					<br>

				</div>
				
			</div>
		</div>
	</div>
</section>

    
    
{% endblock %}