{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contenido %}
<style type="text/css">
    #services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_30 section_padding_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="customcard">
                
                    <div class="header mb-20">
                        <h3 class="">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
                    </div>
                    <div class="body">
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a 
                                <a class="theme_button color2 min_width_button margin_0" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="theme_button color2 min_width_button margin_0" type="submit" name="action" value="{% trans 'change password' %}"/>
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br>

                </div>
                
            </div>
        </div>
    </div>
</section>
        
{% endblock %}
