{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block contenido %}
<style type="text/css">
	#services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_30 section_padding_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="customcard">
				
					<div class="header mb-20">
						<h3 class="">{% trans "Set Password" %}</h3>
					</div>
					<div class="body">
						<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
					        {% csrf_token %}
					        {{ form.as_p }}
					        <input class="theme_button color2 min_width_button margin_0" type="submit" name="action" value="{% trans 'Set Password' %}"/>
					    </form>
					</div>
					<br>

				</div>
				
			</div>
		</div>
	</div>
</section>
{% endblock %}