{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contenido %}
<style type="text/css">
	#services{display: none}
</style>
<section class="ls ms section_404 section_padding_top_30 section_padding_bottom_30">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="card">
				
					<div class="header mb-20">
						<h1 class="">{% trans "Change Password" %}</h1>
					</div>
					<div class="body">
						{% trans 'Your password is now changed.' %}
						<a class="theme_button color2 min_width_button margin_0" href="/">Ir a Inicio</a>
					</div>
					<br>

				</div>
				
			</div>
		</div>
	</div>
</section>
{% endblock %}
