{% extends "../base.html" %}

{% load i18n %}

{% block contenido %}
<style type="text/css">
	.main-footer {
		display: none;
	}
</style>
<section id="home" class="divider parallax fullscreen layer-overlay overlay-dark-7" data-bg-img="/static/img/login/2.jpg">
	<div class="display-table">
		<div class="display-table-cell">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-3">
						<form class="register-form form-transparent" method="POST" action="{% url 'account_signup' %}">
							{% csrf_token %}
							{{form.organizacion}}
							
							<div class="icon-box mb-0 p-0">
								<a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10 text-white">
									<i class="fa fa-users"></i>
								</a>
								<h4 class="text-theme-colored pt-10 mt-0 mb-30"> Registrarse.
								</h4>
							</div>
							<hr>
							<div class="row">
								<div class="form-group col-md-6">
									<label class="text-white">Nombre</label>
									{{form.username}}
								</div>
								<div class="form-group col-md-6">
									<label class="text-white">Correo electrónico</label>
									{{form.email}}
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-6">
									<label class="text-white" for="form_choose_password">Contraseña</label>
									{{form.password1}}
								</div>
								<div class="form-group col-md-6">
									<label class="text-white">Contraseña (de nuevo)</label>
									{{form.password2}}
								</div>
							</div>
							<div class="form-group">
								{% if redirect_field_value %}
								<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
								{% endif %}
								<button class="btn btn-theme-colored btn-lg btn-block mt-15" type="submit">Registrarse Ahora</button>
							</div>
							<p class="text-center text-white">¿Ya tienes una cuenta? Entonces por favor <a class="text-theme-colored"
								href="{{ login_url }}">iniciar sesión</a>.</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('input[type=text], input[type=email], input[type=password]').addClass('form-control');
</script>
{% endblock extra_js %}