{% load widget_tweaks static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <title>CFCA - Hacer una Petición</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col">
          <form action="." method="POST">
            {% csrf_token %}
            <div class="mb-3">
              {% render_field form.fecha class+="form-control" %}
            </div>
            <div class="mb-3">
              <label for="InputCaps" class="form-label">Escoja su CAPS</label>
              {% render_field form.caps class+="form-select" %}
              <div id="emailHelp" class="form-text">Seleccionar el nombre de su CAPS</div>
            </div>
            <div class="mb-3">
              <label for="sexo" class="form-label">Seleccione su sexo</label>
              {% render_field form.sexo class+="form-select" %}
            </div>
            <div class="mb-3">
              <label for="accion" class="form-label">Tipo de acción</label>
              {% render_field form.tipo_accion class+="form-select" %}
            </div>
            <div class="mb-3">
              <label for="institucion" class="form-label">Institución que dirige la petición</label>
              {% render_field form.solicitud_a class+="form-control" %}
            </div>
            <div class="mb-3">
              <label for="tipo_peticion" class="form-label">Tipo de petición</label>
              {% render_field form.tipo_peticion class+="form-select" %}
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Describa su petición</label>
              {% render_field form.descripcion class+="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary">Enviar Petición</button>
          </form>
        </div>
      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    document.querySelector('#id_fecha').style.display = 'none';
    $(document).ready(function() {
      $('#id_solicitud_a').select2();
    });

    </script>
  </body>
</html>