{% extends "seguimiento/basedash.html" %}

{% load humanize extras_tags_cfca %}

{% block extra_css %}
<link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">
{% endblock extra_css %}

{% block contenido %}
<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20 tab-dash">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Beneficiarios Inversiones</span></h4>
                </div>

            </div>
            <div class="row mb-20">

            {% comment %} {% include "seguimiento/formulario_filtro.html" %} {% endcomment %}
            <div class="row">
                <div class="col-md-6" id="sandbox-container">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">Desde</span>
                        <input type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">hasta</span>
                        <input type="text" class="input-sm form-control" name="end" />
                    </div>
                </div>
            </div>
            
            
            
            <p>mostrar algo</p>
            {{filtro}}
            </div>
           
    </section>
</div>
{% endblock contenido %}
{% block extra_js %}
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript">
    
$('#sandbox-container .input-daterange').datepicker({
    format: "dd/mm/yy",
    language: "es",
    autoclose: true
});

</script>


{% endblock extra_js %}
