<div class="col-lg-12">
    <form action="." method="POST" autocomplete="off">{% csrf_token %}
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sexo">Departamento</label>
                    {{form.departamento}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sexo">Municipio</label>
                    {{form.municipio}}
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sexo">Tipo de sistema</label>
                    {{form.tipo_sistema}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sexo">CAPS Legalizado Municipal</label>
                    {{form.legalizado}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="sexo">CAPS Legalizado Nacional</label>
                    {{form.legal_nacional}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="municipio">Perforaciones</label>
                    {{form.perforacion}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label for="comunidad">Mejoras</label>
                    {{form.mejora}}
                </div>
            </div>
            
        </div>
        <div class="">
            <input type="submit" value="Consultar" id="boton" class="btn btn-success"/>
            <a class="btn btn-primary" href="/caps/filtro-mapa/">Limpiar consulta</a>
            <!-- <a class="btn btn-warning" href="/peticiones/">Mapa de peticiones</a> -->
        </div>
    </form>
</div>