
<div class="col-lg-12">
    <form action="." method="POST">{% csrf_token %}
		<div class="row">
			<div class="input-group input-daterange">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="input-group" id="fecha1" data-target-input="nearest">
						{{ form.media }}
					  {{ form.fecha_inicio }}
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="input-group" id="fecha2" data-target-input="nearest">
					  {{ form.fecha_final }}
					</div>
				</div>
			</div>
		</div>
        <div class="">
            <input type="submit" value="Consultar" id="boton" class="btn btn-success"/>
        </div>
    </form>
</div>