{% extends "seguimiento/basedash.html" %}
{% load staticfiles humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
   <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
   


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">

{% endblock extra_css %}
{% block contenido %}
<style type="text/css">
    #mapid { height: 650px; }
    .letras {
        color:#FFF;
    }
    .pop-map{
        font-size:12px;
        width:320px;
    }
    .pop-map .row{
        border-bottom:1px solid #eee;
        padding-bottom:5px;
    }
    .final {
        padding-bottom:15px;
    }
    .data-img{
        float: left;
        padding-top: 10px;
    }
    .data-info{
        padding-left: 0px;
        padding-right: 10px;
    }
    .pop-map h6{
        margin-bottom:5px;
        font-size:13px;
    }
    .data-info ul{
        padding-right:0px;
    }
    .pop-check{
        position:relative;
    }
    .pop-check span{
        position: absolute;
        right: 12px;
        top: -43px;
        font-size: 25px;
        color: green;
    }
    .data-count{
        text-align:center;
    }
    .pop-map p{
        font-size:12px;
        font-weight: 600;
        margin:5px 0;
    }
    .pop-link{
        float: right;
        padding: 5px;
        font-size: 13px;
    }
    .select2-container .select2-selection--single{
        height: 45px;
        min-width: 200px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 40px;
    }
    .select2-dropdown .select2-dropdown--below {
        width: 200px !important;
        min-width: 200px !important;
    }
    .form-group input[type=checkbox] {
        width: 17px;
        height: 17px;
        border: 1px solid #eee;
    }
    .form-group input[type=checkbox]:checked {
        background-color: #F58027;
    }
    .form-group input[type=checkbox]:focus {
        box-shadow: none;
    }
    
    
</style>


<div class="bg-silver-light">
    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="title line-bottom"> Mapa <span class="text-theme-colored">Perforación y mejoras</span></h4>
                        </div>
                       
                    </div>
                    <div class="row mb-20">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card-admin">
                                <div class="card-body">
                                    <h3 class="mt-0 mb-5 pr-15 pl-15">Filtros <span class="text-theme-colored"> Perforación y mejoras</span></h3>
                                    {% include "seguimiento/filtro_mapa_actividad.html" %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-20">
                        <div class="card-admin bg-white">
                            <div class="card-body">
                                <h2 class="mt-0 mb-15 pr-15 pl-15"> Existen <span class="text-theme-colored">{{cantidad_caps|default:0}} Actividades</span> en los departamento de  Chinandega y León</h2>
                                <div class="col-md-12 col-lg-12">
                                    <div id="mapid"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="card-admin bg-white">
                            <div class="card-body">
                                <div class="col-md-12 col-lg-12">
                                    <h4 class="title line-bottom mb-10"> Detalle de cobertura de CAPS</h4>
                        
                                   <table class="table table-hover table-bordered table-primary" id="datatable">
                                        <thead class="bg-theme-colored-darker3 text-white">
                                            <tr>
                                                <th>Nombre de la actividad</th>
                                                <th>CAPS beneficiado</th>
                                                <th>Latitud</th>
                                                <th>Longitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obj in object_list %}
                                            <tr>
                                                <td>{{obj.actividad}}</td>
                                                <td>{% for ids in obj.caps.all %}
                                                    <b><a href="{% url 'detail-caps' ids.id %}">{{ids.nombre_caps}}
                                                    </a></b>{%if forloop.last%} {%else%},{%endif%}
                                                {% endfor %}    
                                                </td>
                                                <td>{% for ids in obj.caps.all %}
                                                    <b><a href="{% url 'detail-caps' ids.id %}">{{ids.latitud}}
                                                    </a></b>{%if forloop.last%} {%else%},{%endif%}
                                                    {% endfor %}  
                                                </td>
                                                
                                                <td>{% for ids in obj.caps.all %}
                                                    <b><a href="{% url 'detail-caps' ids.id %}">{{ids.longitud}}
                                                    </a></b>{%if forloop.last%} {%else%},{%endif%}
                                                    {% endfor %}
                                                </td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </section>
</div>
{% endblock contenido %}
{% block extra_js %}
    <script src="/static/js/select2.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>


<script type="text/javascript">
// esto es para la suma
    $('tr').each( function(){
        var totalJD = 0;
        $(this).find('.sumar').each(function(){
            var total = $(this).text();
            if ( total.length !== 0){
                totalJD += parseInt(total);
            }
        });
        $(this).find('#total').html(totalJD);
    });

    $(function() {
        var sum1 = parseInt(sumColumn(6))
        var sum2 = parseInt(sumColumn(5))
        var granTotalSum = sum1 + sum2
      $("#granTotal").html(granTotalSum);
      
    });
    function sumColumn(index) {
      var total = 0;
      $("td:nth-child(" + index + ")").each(function() {
        total += parseInt($(this).text(), 10) || 0;
      });  
      return total;
    }



    $( "select" ).addClass( "form-control" );
    $(document).ready(function() {
        $('#id_departamento,#id_municipio,#id_tipo_sistema').select2();
    });


    $("#id_departamento").change(function () {
      var url = '/encuestas/ajax/load-municipios/'
      var departamentoId = $("#id_departamento").val();

        $.ajax({
            url: url,
            data: {
              'departamento': departamentoId
            },
            success: function (data) {
              $("#id_municipio").html(data);
            }
        });
    });

</script>

    <!-- <script src="/static/js/beneficiarios.js"></script> 
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable( {
                "pageLength": 20,
                "bLengthChange" : false, //quita el btndrop de la tabla
                "bInfo":false,
                "order": [[ 0, "asc" ]],
                "dom": '<f>t<"col-sm-12"lp>',
                "language": {

                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"

                }
            } );
        } );
    </script> -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable( {
                dom: 'Bfrtip',
                buttons: [
                   'excel'
                ],
                "pageLength": 20,
                "paging":   true,
                "ordering": true,
                "info":     true,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registro por pagina",
                    "zeroRecords": "Nada se encontro - lo sentimos",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles.",
                    "infoFiltered": "(filtrado desde _MAX_ total registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
            } );
        } );
    </script>
    <script type="text/javascript">

        $('.menuzord-menu li.menu1').addClass('active');
    </script>

{% if centinela == 0 %}
<script type="text/javascript">
    var mymap = L.map('mapid',{
        scrollWheelZoom: false
    }).setView([12.755, -86.7856], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var LeafIcon = L.Icon.extend({
        options: {
            shadowUrl: '/static/img/mapa/marker-shadow-3.png',
            iconSize:     [38, 54],
            //shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [13, 38],
            popupAnchor:  [-3, -95]
        }
    });
    
    var greenIcon = new LeafIcon({iconUrl: '/static/img/mapa/marker-icon-3.png'});

    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    var markersList = [];
    
    
    {% for elemento in lista %}
        
            var marker = L.marker([{{elemento.lat}}, {{elemento.lon}}],{icon: greenIcon})
            var contenido = '<div class="pop-map bg-white container-fluid"> <div class="row">'+
            '<div class="data-info"> <h6><b>'+'{{elemento.nombre}}'+' en el {{elemento.nombreCaps}}'+'</b></h6>'+ '</div> </div>' +
            '<div class="row"><p><b>SIMAS/CFCA: </b> '+' ${{elemento.ejecutado|intcomma}}'+'</p> </div>'+
            '<div class="row"><p>'+'<img class="data-img" src="/static/img/logos/logos_mapa.png" width="auto" height="60" alt="caps-nicaragua">'+'</p> </div>'+
            '{% if elemento.infraestructura %}<div class="row"><p><b>Alcaldia/Enacal/Comunidad: </b> '+
            '${{elemento.infraestructura|floatformat:2|intcomma}}'+'</p> </div>{% endif %}'+
            '{% if elemento.instituciones%}<div class="row"><p><b>Instituciones/ONG: </b>'+
            '${{elemento.instituciones|floatformat:2|intcomma}}'+'</p> </div>{%endif%}'+
            '{% if elemento.logo %}<div class="row"><p>'+'{% for imagen in elemento.logo%}<img class="data-img" src="/media/{{imagen}}" width="auto" height="50" alt="caps-nicaragua">{% endfor %}'+'</p> </div> {% endif %}'+
            '{% if elemento.descripcion %}<div class="row"><p><b>Descripción: </b> '+
            '{{elemento.descripcion|safe|default:"Sin descripción"}} {%endif%}'+'</p> </div>'+
            '<div class="final"> <a href="/caps/perfiles-caps/'+'{{elemento.id}}'+'" class="pop-link">Ver Ficha</a> </div> </div>';
            marker.bindPopup(contenido)
            
            markers.addLayer(marker);    
    {% endfor %}
        mymap.addLayer(markers);
   
    
</script>
{% endif %}
    

{% if centinela == 1 %}
<script type="text/javascript">
    var mymap = L.map('mapid',{
        scrollWheelZoom: false
    }).setView([12.755, -86.7856], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var LeafIcon = L.Icon.extend({
        options: {
            shadowUrl: '/static/img/mapa/marker-shadow-3.png',
            iconSize:     [38, 54],
            //shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [13, 38],
            popupAnchor:  [-3, -95]
        }
    });
    
    var greenIcon = new LeafIcon({iconUrl: '/static/img/mapa/marker-icon-3.png'});

    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    var markersList = [];
    
    
    {% for elemento in lista %}
        
            var marker = L.marker([{{elemento.lat}}, {{elemento.lon}}],{icon: greenIcon})
            var contenido = '<div class="pop-map bg-white container-fluid"> <div class="row">'+
            '<div class="data-info"> <h6><b>'+'{{elemento.nombre}}'+' en el {{elemento.nombreCaps}}'+'</b></h6>'+ '</div> </div>' +
            '<div class="row"><p><b>SIMAS/CFCA: </b> '+' ${{elemento.ejecutado|intcomma}}'+'</p> </div>'+
            '<div class="row"><p>'+'<img class="data-img" src="/static/img/logos/logos_mapa.png" width="auto" height="60" alt="caps-nicaragua">'+'</p> </div>'+
            '{% if elemento.infraestructura %}<div class="row"><p><b>Alcaldia/Enacal/Comunidad: </b> '+
            '${{elemento.infraestructura|floatformat:2|intcomma}}'+'</p> </div> {% endif %}'+
            '{% if elemento.instituciones %}<div class="row"><p><b>Instituciones/ONG: </b> '+
            '${{elemento.instituciones|floatformat:2|intcomma}}'+'</p> </div> {%endif%}'+
            '{% if elemento.logo %}<div class="row"><p>'+'{% for imagen in elemento.logo%}<img class="data-img" src="/media/{{imagen}}" width="auto" height="50" alt="caps-nicaragua">{% endfor %}'+'</p> </div> {% endif %}'+
            '{% if elemento.descripcion %}<div class="row"><p><b>Descripción: </b> '+
            '{{elemento.descripcion|safe|default:"Sin descripción"}} {%endif%}'+'</p> </div>'+
            '<div class="final"> <a href="/caps/perfiles-caps/'+'{{elemento.id}}'+'" class="pop-link">Ver Ficha</a> </div> </div>';
            marker.bindPopup(contenido)
            
            markers.addLayer(marker);    
    {% endfor %}
        mymap.addLayer(markers);
   
    
</script>
{% endif %}

{% endblock extra_js %}
