{% extends "seguimiento/basedash.html" %}
{% block extra_css %}

{% endblock extra_css %}
{% block contenido %}

<!-- Section: inner-header -->
<section class="inner-header layer-overlay bg-title" data-bg-img="http://placehold.it/1920x1280">
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Perfil CAPS</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Perfil CAPS</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="section-content perfil-caps">
			<div role="tabpanel" class="tab-perfil">
				<h3 class="name text-theme-colored mt-0 mb-20">Asociación de agua potable y otros proyectos de San Ramón, Santa Cruz, San Jerónimo y El Riito.</h3>
				<div class="row">
					<div class="col-lg-4">
				        <div class="progress m-t-30">
                            <div class="progress-bar progress-bar-success animated progress-animated" style="width: 80%;" role="progressbar"> <span class="sr-only">80%</span> </div>
                            <span class="progress-type">Estado</span>
            				<span class="progress-completed">80%</span>
                        </div>
					</div>
					<div class="col-lg-8">
						 <ul class="header-dropdown display-block">
                            <li class="active">
                                <a class="tab_btn" href="#perfil-tab1" aria-controls="perfil-tab1" role="tab" data-toggle="tab">2019</a>

                            </li>
                            <li>
                                <a class="tab_btn" href="#perfil-tab2" aria-controls="perfil-tab2" role="tab" data-toggle="tab">2018</a>
                            </li>
                        </ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="container-perfil">
					<div class="tab-content">
	                        <div role="tabpanel" class="tab-pane active" id="perfil-tab1">
	                        	<!-- Nav tabs -->
								<ul class="nav nav-tabs boot-tabs mb-20" role="tablist">
									<li role="presentation" class="active">
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#general" aria-controls="general" role="tab" data-toggle="tab">Información general</a>
									</li>
									<li role="presentation">
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Estructuras y documentos</a>
									</li>
									<li role="presentation" >
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#patrimonio" aria-controls="patrimonio" role="tab" data-toggle="tab">Patrimonio y asistencia técnica </a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content p-0 border-0">
									<div role="tabpanel" class="tab-pane active" id="general">
										<div class="row">
											<div class="col-md-5">
												<div class="thumb">
													<img src="http://placehold.it/500x300" alt="" width="100%">
												</div>
												<ul class="styled-icons icon-dark icon-theme-colored icon-sm text-right">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												</ul>

												<div class="bg-light media border-bottom p-15">
													<div class="media-left">
														<i class="fas fa-mobile-alt text-theme-colored font-28 mt-5"></i>
													</div>
													<div class="media-body">
														<h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
															Contacto: Maudelí Pineda Morales
														</h5>
														<p>
															<span>Cargo:</span> Presidente <br>
															<span>Celular:</span> 86265923 <span class="badge badge-movistar">M</span><!-- , 77956163 <span class="badge badge-claro">C</span> --><br>
															<span>Correo:</span> <a href="">presidente.caps@gmail.com</a>
														</p>
													</div>
												</div>
												<div class="bg-light media border-bottom p-15">
													<div class="media-left">
														<i class="fas fa-map-marker-alt text-theme-colored font-28 mt-5"></i>
													</div>
													<div class="media-body">
														<h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
															Ubicación: Chinandega
														</h5>
														<p>
															<span>Municipio:</span> Villanueva <br>
															<span>Comunidad:</span> La Concepción <br>
															<span>Dirección:</span> Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen. <br>
														</p>
													</div>
													<div class="map-caps">
														<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18515.744138392816!2d-87.1210540250649!3d12.68365149272574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDQwJzUxLjAiTiA4N8KwMDcnMDIuOSJX!5e0!3m2!1ses-419!2sni!4v1554500212707!5m2!1ses-419!2sni" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
													</div>
												</div>


											</div>
											<div class="col-md-7">

												<div class="contitucion mb-10">
													<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Datos de constitución</h4>
													<div class="">
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Nombre del presidente</label>
																<p class="label-contenido">
																	Maudelí Pineda Morales
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
																<label for="">Sexo</label>
																<p class="label-contenido">
																	Femenino
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
																<label for="">Fecha nacimiento</label>
																<p class="label-contenido">
																	21/02/1984
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Fecha constitución del caps</label>
																<p class="label-contenido">
																	17/03/2016
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Fecha de registro municipal</label>
																<p class="label-contenido">
																	23/04/2016
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Registro aval</label>
																<p class="label-contenido" data-toggle="tooltip" title="Inscripción en el Registro Central de Proveedores de Servicios de Agua Potable y Saneamiento">
																	IRCPSAPS
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Tipo sistema agua</label>
																<p class="label-contenido" data-toggle="tooltip" title="Mini acueducto por bombeo eléctrico solar">
																	MABE-ES
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Cantidad de tomas</label>
																<p class="label-contenido">
																	261
																</p>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Cantidad de familias</label>
																<p class="label-contenido">
																	203
																</p>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Personas beneficiaras</label>
																<p class="label-contenido">
																	506
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="row mt-30">

													<div class="col-md-6">
														<h4 class="line-bottom">Últimas peticiones</h4>
														<div class="latest-peticiones">
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<i class="fas fa-reply text-primary font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Respuesta"></i>
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Mejoras al sistemas de agua</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
																	</span>
																</div>

															</article>
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<i class="fas fa-ban text-danger font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Rechazado"></i>
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Contrucción de tanque de almacenamiento</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
																	</span>
																</div>

															</article>
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<!-- <i class="fas fa-reply text-primary font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Respuesta"></i> -->
																	<i class="fas fa-check text-success font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Completado"></i>
																	<!-- <i class="fas fa-ban text-danger font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Rechazado"></i> -->
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Revisión de presupuesto</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 07/03/2019
																	</span>
																</div>

															</article>
															<a class="pull-right mt-10" href="#">Más peticiones <i class="fas fa-chevron-right"></i></a>



														</div>



													</div>
													<div class="col-md-6">
														<h4 class="line-bottom">Noticias del CAPS</h4>
														<div class="latest-posts">
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/53/2b/532b6afb1cb610c2c8d6ff2a74b2fedf.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">“Agua y vida son dos palabras unidas”</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/c0/fc/c0fc877aadaafb06a292e09d648fd110.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">CAPS mejoran sus sistemas de agua en Somotillo</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/6a/16/6a1645b0296c928fd9c33b547b8ca27d.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">"Con mi celular acorto distancia y me comunico rapidito"</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/13/cf/13cfbf914c343408e8c6e044b48d5d89.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">“Superando los tiempos de agua escasa”</a></h5>

																</div>
															</article>
															<a class="pull-right mt-10" href="#">Más noticias <i class="fas fa-chevron-right"></i></a>
														</div>


													</div>


												</div>
											</div>
										</div>

									</div>
									<div role="tabpanel" class="tab-pane" id="documentos">
										<div class="estructuras">
											<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Estructuras y documentos de gobernanza de el CAPS</h4>
											<div class="">
												<div class="row mb-20">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Estructuras</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Asamblea general de pobladores</li>
															<li>Comisión de apoyo</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Nombres de estructuras de apoyo</label>
														<p class="label-contenido text-left">
															estructuras de apoyo 1, estructuras de apoyo 2, estructuras de apoyo 3
														</p>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Cargos junta directiva</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Tesorero</li>
															<li>Otro</li>
														</ul>
													</div>

												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Junta directiva mujer</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Presidente</li>
															<li>Secretario</li>
															<li>Otros</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Documentos caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Certificado de registro del CAPS</li>
															<li>Plan de mantenimiento de obras</li>
															<li>Libro de Acta</li>
															<li>Libro Diario</li>
															<li>Registro de Usuarios</li>

														</ul>
													</div>

												</div>
											</div>
										</div>
										<div class="funciones">
											<h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Funciones del CAPS</h4>
											<div class="">
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
														<label for="">Cuáles de las siguiente funciones desempeñadas por la jd del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Cumplir y hacer cumplir el reglamento y las normativas que establece el INAA</li>
															<li>Recaudar y administrar los fondos provenientes de tarifas del servicio y otros ingresos</li>
															<li>Colaborar con Alcaldía en las campañas de promoción comunal y divulgación sanitaria</li>
															<li>Cumplir normas de calidad del agua que establezca INAA en coordinación con MINSA</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
														<label for="">Ingresos del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Pago de tarifa</li>
															<li>Aportaciones voluntarias</li>
															<li>Proyectos de la cooperación</li>
														</ul>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
														<label for="">Principales gastos del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Gasto de operaciones</li>
															<li>Gasto de mantenimiento</li>
														</ul>
													</div>

												</div>

											</div>
										</div>
									</div>

									<div role="tabpanel" class="tab-pane " id="patrimonio">
										<div class="estructuras">
											<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>El patrimonio del CAPS</h4>
											<div class="">
												<div class="row mb-20">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Patrimonio CAPS</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Sistema de distribución del agua</li>
															<li>Pozo</li>
															<li>Pila, Tanque y Torre</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">El caps paga impuestos</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Impuesto sobre la renta (IR)</li>
															<li>Impuesto sobre el valor agregado (IVA)</li>
														</ul>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Tarifa diferenciada por la energia electrica</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>No</li>
															<label for="">Razones:</label>
															<p>Razones 1, Razones 2, Razones 3</p>
														</ul>
													</div>

												</div>

											</div>
										</div>
										<div class="funciones">
											<h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Asistencia técnica del CAPS</h4>
											<div class="table-responsive">
												<table class="table table-bordered table-hove">
													<thead class="bg-theme-colored-darker3 text-white">
														<tr>
															<th>OPCION</th>
															<th>REGLAMENTO</th>
															<th>LEY 722</th>
															<th>EDUCACION</th>
															<th>AGUA SANEAMIENTO</th>
															<th>MANEJO FINANCIERO</th>
															<th>MANEJO ADMINISTRATIVO</th>
															<th>OTROS</th>

														</tr>
													</thead>
													<tbody>
														<tr>
															<td>MINSA</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>ALCALDIA</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>ONG NACIONAL</td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>

														</tr>
														<tr>
															<td>ONG INTER.</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>OTROS CAPS</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>DGI</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>INIFOM</td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>NUEVO FISE</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>

														</tr>
														<tr>
															<td>ENACAL</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div role="tabpanel" class="tab-pane" id="perfil-tab2">
	                        	<!-- Nav tabs -->
								<ul class="nav nav-tabs boot-tabs mb-20" role="tablist">
									<li role="presentation" class="active">
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#general" aria-controls="general" role="tab" data-toggle="tab">Información general</a>
									</li>
									<li role="presentation">
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">Estructuras y documentos</a>
									</li>
									<li role="presentation" >
										<a class="btn-theme-colored btn-border font-14 font-weight" href="#patrimonio" aria-controls="patrimonio" role="tab" data-toggle="tab">Patrimonio y asistencia técnica </a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content p-0 border-0">
									<div role="tabpanel" class="tab-pane active" id="general">
										<div class="row">
											<div class="col-md-5">
												<div class="thumb">
													<img src="http://placehold.it/500x300" alt="" width="100%">
												</div>
												<ul class="styled-icons icon-dark icon-theme-colored icon-sm text-right">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												</ul>

												<div class="bg-light media border-bottom p-15">
													<div class="media-left">
														<i class="fas fa-mobile-alt text-theme-colored font-28 mt-5"></i>
													</div>
													<div class="media-body">
														<h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
															Contacto: Francisco Javier Donaire Garcia
														</h5>
														<p>
															<span>Cargo:</span> Presidente <br>
															<span>Celular:</span> 86823490 <span class="badge badge-movistar">M</span>, 77956163 <span class="badge badge-claro">C</span><br>
															<span>Correo:</span> <a href="">presidente.caps@gmail.com</a>
														</p>
													</div>
												</div>
												<div class="bg-light media border-bottom p-15">
													<div class="media-left">
														<i class="fas fa-map-marker-alt text-theme-colored font-28 mt-5"></i>
													</div>
													<div class="media-body">
														<h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
															Ubicación: Chinandega
														</h5>
														<p>
															<span>Municipio:</span> Villanueva <br>
															<span>Comunidad:</span> La Concepción <br>
															<span>Dirección:</span> Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen. <br>
														</p>
													</div>
													<div class="map-caps">
														<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18515.744138392816!2d-87.1210540250649!3d12.68365149272574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDQwJzUxLjAiTiA4N8KwMDcnMDIuOSJX!5e0!3m2!1ses-419!2sni!4v1554500212707!5m2!1ses-419!2sni" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
													</div>
												</div>


											</div>
											<div class="col-md-7">

												<div class="contitucion mb-10">
													<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Datos de constitución</h4>
													<div class="">
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Nombre del presidente</label>
																<p class="label-contenido">
																	Francisco Javier Donaire Garcia
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
																<label for="">Sexo</label>
																<p class="label-contenido">
																	Masculino
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
																<label for="">Fecha nacimiento</label>
																<p class="label-contenido">
																	07/06/1982
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Fecha constitución del caps</label>
																<p class="label-contenido">
																	17/03/2016
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Fecha de registro municipal</label>
																<p class="label-contenido">
																	23/04/2016
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Registro aval</label>
																<p class="label-contenido" data-toggle="tooltip" title="Inscripción en el Registro Central de Proveedores de Servicios de Agua Potable y Saneamiento">
																	IRCPSAPS
																</p>
															</div>
															<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
																<label for="">Tipo sistema agua</label>
																<p class="label-contenido" data-toggle="tooltip" title="Mini acueducto por bombeo eléctrico solar">
																	MABE-ES
																</p>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Cantidad de tomas</label>
																<p class="label-contenido">
																	164
																</p>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Cantidad de familias</label>
																<p class="label-contenido">
																	102
																</p>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<label for="">Personas beneficiaras</label>
																<p class="label-contenido">
																	400
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="row mt-30">

													<div class="col-md-6">
														<h4 class="line-bottom">Últimas peticiones</h4>
														<div class="latest-peticiones">
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<i class="fas fa-paper-plane text-info font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Enviada"></i>
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Mejoras al sistemas de agua</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
																	</span>
																</div>

															</article>
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<i class="fas fa-envelope-open-text text-warning font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Recibida"></i>
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Contrucción de tanque de almacenamiento</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
																	</span>
																</div>

															</article>
															<article class="bg-light media border-bottom p-15">

																<div class="media-left">
																	<!-- <i class="fas fa-reply text-primary font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Respuesta"></i> -->
																	<!-- <i class="fas fa-check text-success font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Completado"></i> -->
																	<i class="fas fa-ban text-danger font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Rechazado"></i>
																</div>
																<div class="media-body">
																	<h5 class="post-title mt-0 mb-10 ">
																		<a href="#">Revisión de presupuesto</a>
																	</h5>
																	<span class="mb-10 text-gray-darkgray mr-10 font-13">
																		<i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
																	</span>
																</div>

															</article>
															<a class="pull-right mt-10" href="#">Más peticiones <i class="fas fa-chevron-right"></i></a>



														</div>



													</div>
													<div class="col-md-6">
														<h4 class="line-bottom">Noticias del CAPS</h4>
														<div class="latest-posts">
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/53/2b/532b6afb1cb610c2c8d6ff2a74b2fedf.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">“Agua y vida son dos palabras unidas”</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/c0/fc/c0fc877aadaafb06a292e09d648fd110.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">CAPS mejoran sus sistemas de agua en Somotillo</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/6a/16/6a1645b0296c928fd9c33b547b8ca27d.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">"Con mi celular acorto distancia y me comunico rapidito"</a></h5>

																</div>
															</article>
															<article class="post media-post clearfix pb-0 mb-10">
																<a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/13/cf/13cfbf914c343408e8c6e044b48d5d89.jpg" alt="" width="75"></a>
																<div class="post-right">
																	<h5 class="post-title mt-0"><a href="#">“Superando los tiempos de agua escasa”</a></h5>

																</div>
															</article>
															<a class="pull-right mt-10" href="#">Más noticias <i class="fas fa-chevron-right"></i></a>
														</div>


													</div>


												</div>
											</div>
										</div>

									</div>
									<div role="tabpanel" class="tab-pane" id="documentos">
										<div class="estructuras">
											<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Estructuras y documentos de gobernanza de el CAPS</h4>
											<div class="">
												<div class="row mb-20">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Estructuras</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Asamblea general de pobladores</li>
															<li>Comisión de apoyo</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Nombres de estructuras de apoyo</label>
														<p class="label-contenido text-left">
															estructuras de apoyo 1, estructuras de apoyo 2, estructuras de apoyo 3
														</p>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Cargos junta directiva</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Tesorero</li>
															<li>Otro</li>
														</ul>
													</div>

												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Junta directiva mujer</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Presidente</li>
															<li>Secretario</li>
															<li>Otros</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Documentos caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Certificado de registro del CAPS</li>
															<li>Plan de mantenimiento de obras</li>
															<li>Libro de Acta</li>
															<li>Libro Diario</li>
															<li>Registro de Usuarios</li>

														</ul>
													</div>

												</div>
											</div>
										</div>
										<div class="funciones">
											<h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Funciones del CAPS</h4>
											<div class="">
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
														<label for="">Cuáles de las siguiente funciones desempeñadas por la jd del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Cumplir y hacer cumplir el reglamento y las normativas que establece el INAA</li>
															<li>Recaudar y administrar los fondos provenientes de tarifas del servicio y otros ingresos</li>
															<li>Colaborar con Alcaldía en las campañas de promoción comunal y divulgación sanitaria</li>
															<li>Cumplir normas de calidad del agua que establezca INAA en coordinación con MINSA</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
														<label for="">Ingresos del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Pago de tarifa</li>
															<li>Aportaciones voluntarias</li>
															<li>Proyectos de la cooperación</li>
														</ul>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
														<label for="">Principales gastos del caps</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Gasto de operaciones</li>
															<li>Gasto de mantenimiento</li>
														</ul>
													</div>

												</div>

											</div>
										</div>
									</div>

									<div role="tabpanel" class="tab-pane " id="patrimonio">
										<div class="estructuras">
											<h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>El patrimonio del CAPS</h4>
											<div class="">
												<div class="row mb-20">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Patrimonio CAPS</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Sistema de distribución del agua</li>
															<li>Pozo</li>
															<li>Pila, Tanque y Torre</li>
														</ul>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">El caps paga impuestos</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>Impuesto sobre la renta (IR)</li>
															<li>Impuesto sobre el valor agregado (IVA)</li>
														</ul>

													</div>
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
														<label for="">Tarifa diferenciada por la energia electrica</label>
														<ul class="list theme-colored check mt-0 label-contenido  text-left">
															<li>No</li>
															<label for="">Razones:</label>
															<p>Razones 1, Razones 2, Razones 3</p>
														</ul>
													</div>

												</div>

											</div>
										</div>
										<div class="funciones">
											<h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Asistencia técnica del CAPS</h4>
											<div class="table-responsive">
												<table class="table table-bordered table-hove">
													<thead class="bg-theme-colored-darker3 text-white">
														<tr>
															<th>OPCION</th>
															<th>REGLAMENTO</th>
															<th>LEY 722</th>
															<th>EDUCACION</th>
															<th>AGUA SANEAMIENTO</th>
															<th>MANEJO FINANCIERO</th>
															<th>MANEJO ADMINISTRATIVO</th>
															<th>OTROS</th>

														</tr>
													</thead>
													<tbody>
														<tr>
															<td>MINSA</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>ALCALDIA</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>ONG NACIONAL</td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>

														</tr>
														<tr>
															<td>ONG INTER.</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>OTROS CAPS</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>DGI</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>INIFOM</td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
														<tr>
															<td>NUEVO FISE</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>

														</tr>
														<tr>
															<td>ENACAL</td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-check-circle text-primary"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>
															<td class="text-center"><i class="fas fa-times-circle text-danger"></i></td>

														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                </div>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock contenido %}

{% block extra_js %}
	<script type="text/javascript">
        $('.menuzord-menu li.menu6').addClass('active');
    </script>
{% endblock extra_js %}
