{% extends "seguimiento/basedash.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
{% endblock extra_css %}

{% block contenido %}
<style>
    #mapid { height: 650px; }
    .project-title h5 {
        color: #140AA5 !important;
    }
</style>
<section class="inner-header layer-overlay bg-title" data-bg-img="/static/img/imgprueba/encuesta.png">
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Peticiones</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Lista de peticiones</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container">
		<div class="section-content peticiones">
            <div class="row mb-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h4 class="title line-bottom"> Mapa y Dashboard de <span class="text-theme-colored">Peticiones</span></h4>
                    </div>
                </div>
                <div class="row mb-20">

                <div class="col-md-6 col-lg-4">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="text-center">
                                <h2 class="mt-0 round-inner">{{total_peticiones}}</h2>
                                <h4 class="mb-0 text-theme-colored">Peticiones</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="text-center">
                                <h2 class="mt-0 round-inner">{{peticiones_resueltas}}</h2>
                                <h4 class="mb-0 text-success">Resueltos</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="text-center">
                                <h2 class="mt-0 round-inner">{{peticiones_pendientes}}</h2>
                                <h4 class="mb-0 text-warning">Pendientes</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div id="mapid"></div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div id="container"></div>
                </div>
                <div class="col-lg-6">
                    <div id="formato"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="tipo_de_peticiones"></div>
                </div>
                <div class="col-lg-6">
                    <div id="por_municipio"></div>
                </div>
            </div>

            <div class="row">
            	<div class="card-admin col-md-12">
            		<div class="card-body">
	            		<div class="header">
	                        <h4 class="title line-bottom mb-10">Peticiones</h4>
	                    </div>

	            		<div class="table-responsive">
	            			<table class="table table-hover js-basic-example dataTable table-custom m-b-0">
                                <thead class="bg-theme-colored-darker3 text-white">
                                    <tr>
                                        <th>Tipo de petición</th>
                                        <th>Solicitante</th>
                                        <th>Solicitud a</th>
                                        <th>Respuesta</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for obj in tabla %}
                                    <tr>
                                        <td class="project-title">
                                        <a href="#" data-toggle="modal" data-target="#id-modal-{{obj.id}}"><h5 class="m-0">{{obj.tipo_peticion}} - <span class="glyphicon glyphicon-share" aria-hidden="true"></span> </h5> </a>
                                        <small class="font-13">{{obj.fecha|date:"d F Y"}}</small>
                                        </td>
                                        <td>
                                        	<p class="font-14 m-0">{{obj.caps.nombre_caps}}</p>
											<small class="font-13">{{obj.sexo|upper}}</small>
                                        </td>
                                        <td>
                                            <p class="font-14 m-0">
                                            {% for x in obj.solicitud_a.all %} {{x}}{% if forloop.last%}{%else%},{%endif%} {%endfor%}</p>
                                        </td>
                                        <td>
                                        	<p class="font-14 m-0">
                                            {% if obj.respuestapeticion_set.all %}
                                                {% for i in obj.respuestapeticion_set.all %} {{i.fecha}} - <a href="#" data-toggle="modal" data-target="#id-modal-respuesta{{i.id}}"><h5 class="m-0">respuesta<span class="glyphicon glyphicon-share" aria-hidden="true"></span></span>{%endfor%}
                                            {% else %} Sin Respuesta {% endif %}</p>
                                        </td>
                                        {% if obj.respuestapeticion_set.all %}
                                        {% for i in obj.respuestapeticion_set.all %}
                                            {% if i.tipo_resolucion != 'None' and i.tipo_resolucion == 1 %}
                                            <td><span class="badge badge-resuelto"><i class="fas fa-check"></i> Resuelto</span></td>
                                            {% elif i.tipo_resolucion != 'None' and i.tipo_resolucion == 2 %}
                                            <td><span class="badge badge-resuelto"><i class="fas fa-check"></i> En Proceso</span></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% else %}
                                        <td><span class="badge badge-pendiente"><i class="fas fa-exclamation-triangle"></i> Pendiente</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


	            		</div>
	            	</div>
            	</div>
            </div>
		</div>
	</div>
</section>
{% for obj in tabla %}

<div class="modal fade" id="id-modal-{{obj.id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tipo petición: {{obj.tipo_peticion}}</h4>
      </div>
      <div class="modal-body">
        <h4>CAPS solicitante: {{obj.caps}}</h4>
        <p>{{obj.descripcion|safe}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

    {% for x in obj.respuestapeticion_set.all %}
        <div class="modal fade" id="id-modal-respuesta{{x.id}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Respuesta al CAPS: {{x.peticion.caps.nombre_caps}}</h4>
              </div>
              <div class="modal-body">
                <h4>Fecha de resolución: {{x.fecha}}</h4>
                <p>{{x.respuesta|safe}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

{% endfor %}
{% endblock contenido %}

{% block extra_js %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.knob.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<script>
$(document).ready( function () {
    $('.dataTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      },
      "lengthMenu": [ 25, 50, 75, 100 ]
    });
} );

    $(function() {
        $(".dial").knob();
    });

    $('#sparkline11').sparkline([45, 38, 17], {
            type: 'pie',
            height: '127',
            resize: true,
            sliceColors: ['#5cb85c', '#f0ad4e', '#d9534f']
        });
</script>

<script type="text/javascript">
    var mymap = L.map('mapid').setView([12.755, -86.7856], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var LeafIcon = L.Icon.extend({
        options: {
            shadowUrl: '/static/img/mapa/marker-shadow-3.png',
            iconSize:     [38, 54],
            //shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [13, 38],
            popupAnchor:  [-3, -95]
        }
    });

    var greenIcon = new LeafIcon({iconUrl: '/static/img/mapa/marker-icon-3.png'});

    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    {% for x in map_peticiones %}
        var marker = L.marker([{{x.0}}, {{x.1}}],{icon: greenIcon});
        //var contenido = '{{x.2}}';
        var contenido = '<div class="pop-map bg-white container-fluid"> <div class="row">'+
            '<div class="data-info"><h3><b>{{x.2}}'+'</b></h3>'+
            '<div class=""><p><b>Municipio: </b> {{x.4}}</p> </div>'+
            '<div class=""><p><b>Dirección: </b> {{x.3}}</p> </div>'+
            '<div class="pop-link"> <a class="pop-link" href="/caps/perfiles-caps/{{x.5}}'+'" ><h4 class="pop-link">Ver Ficha</h4></a> </div> </div>';
        marker.bindPopup(contenido);
        markers.addLayer(marker);
    {% endfor %}

    mymap.addLayer(markers);
</script>

<script>
    Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Peticiones por sexo'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f}% ({point.y})'
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Peticiones',
        colorByPoint: true,
        data: [
        {% for k,v in sexo_peticion.items %}
            {
                name: '{{k}}',
                y: {{v}},
            },
        {% endfor %}]
    }]
});

Highcharts.chart('formato', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Formato'
    },
    xAxis: {
        categories: ['Conteo',]
    },
    credits: {
        enabled: false
    },
    series: [
    {% for k,v in formato_peticion.items  %}
    {
        name: '{{k}}',
        data: [{{v}}]
    },
    {% endfor %}
     ]
});

Highcharts.chart('tipo_de_peticiones', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Tipo de petición'
    },
    xAxis: {
        categories: ['Conteo',]
    },
    credits: {
        enabled: false
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.2f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
    },
    series: [
    {% for k,v in grafo_peticion.items  %}
    {
        name: '{{k}}-({{v.0}})',
        data: [{{v.1}}]
    },
    {% endfor %}
     ]
});

Highcharts.chart('por_municipio', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Peticiones x Municipios'
    },
    xAxis: {
        categories: ['Conteo',]
    },
    credits: {
        enabled: false
    },
    series: [
    {% for k,v in grafo_municipios.items  %}
    {
        name: '{{k}}',
        data: [{{v}}]
    },
    {% endfor %}
     ]
});
</script>
{% endblock extra_js %}