{% extends "seguimiento/basedash.html" %}
{% block extra_css %}
	<link href="/static/css/notice.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}

<div class="bg-silver-light">
    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Avances</span></h4>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <a href="#" class="btn btn-dark btn-border btn-theme-colored pull-right mt-10 mb-30"><i class="fa fa-filter "></i> Filtro</a>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                            <div class="card-admin">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="mt-0 mb-5 pr-15 pl-15">% de mujeres en posiciones de poder en organizaciones locales, específicamente en posiciones ejecutivas en las CAPS.</h5>
                                        <br>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="mujeres" style="width:100%; height:340px;"></div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="card-admin">
                                <div class="card-body">
                                    <h4 class="title line-bottom"> Mapeo</h4>
                                    <div class="map-dash">
                                        <img src="/static/img/imgprueba/mapa2.png" alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row mb-20">
                        <div class="col-lg-12">
                            <div class="card-admin">
                                <div class="card-body">

                                    <div class="row">
                                        <h5 class="mt-0 mb-5 pr-15 pl-15"> Número de personas (mujeres y hombres, niñas y niños, y grupos marginados) en países seleccionados que están participando en procesos democráticos, gozando y ejercitando sus derechos humanos.</h5>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="impacto1" style="width:100%; height:400px;"></div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card-admin">
                                <div class="card-body">

                                    <div class="row">
                                        <h5 class="mt-0 mb-5 pr-15 pl-15">Número de CAPS que participan en procesos democráticos de toma de decisión relacionados al derecho al agua (presupuesto participativo, diseño de políticas públicas, acuerdos sobre gestión de sistemas de agua) con autoridades locales, departamentales o nacionales, ONG, sector privado, u organizaciones de sociedad civil.</h5>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="impacto2" style="width:100%; height:400px;"></div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>
{% endblock contenido %}
{% block extra_js %}

    <script src="/static/js/impacto.js"></script>
    <script type="text/javascript">
        $('.menuzord-menu li.menu2').addClass('active');
    </script>
    

{% endblock extra_js %}