{% extends "seguimiento/basedash.html" %}
{% block extra_css %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}
<style>
    .badge-success {
        background-color: #3ca90f;
    }
    .badge-warning {
        background-color: #e6d937;
    }
    .badge-danger {
        background-color: #ca063c;
    }
    #id_year{
        min-width: 100px;
    }
    .form-control{
        height: 40px;
    }
</style>
<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Actividades programático</span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-admin bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="mt-20 mb-30"> Resultado <span class="text-theme-colored">acumulado de cumplimiento</span> de la meta del indicador </h2>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12">
                                        <form class="form-inline" action="." method="POST">{% csrf_token %}
                                            <div class="form-group">
                                                <label for="">Año</label>
                                                {{form.year}}
                                            </div>

                                            <button class="btn btn-colored btn-flat btn-theme-colored btn-lg" type="submit">Consultar</button>
                                        </form>
                                    </div>
                                    {% if tabla %}
                                    <div class="tabs-anios">
                                        <div class="col-lg-12">
                                            <!--<div class="col-lg-4"></div>
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-4">
                                            <div class="form-group">
                                                <select name="ocultar" required="" id="id_ocultar" class="form-control">
                                                  <option value="" selected="">---------</option>

                                                  <option value="1">ocultar T1</option>

                                                  <option value="2">ocultar T2</option>

                                                  <option value="3">ocultar T3</option>

                                                  <option value="4">ocultar T4</option>

                                                  <option value="5">Mostrar todos</option>

                                                </select>
                                            </div>
                                            </div> -->

                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered tabla-acti table-condensed" id="tabletemas">
                                                        <tr>
                                                            <th class="ancho-th bg-theme-colored-darker2 text-white" rowspan="3" >ACTIVIDADES
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2" class="T1">T1</th>
                                                            <th colspan="2" class="T2">T2</th>
                                                            <th colspan="2" class="T3">T3</th>
                                                            <th colspan="2" class="T4">T4</th>
                                                            <th colspan="2">Desempeño</th>

                                                        </tr>
                                                        <tr>
                                                            <th class="T1">Meta</th>
                                                            <th class="T1">Alcance</th>
                                                            <th class="T2">Meta</th>
                                                            <th class="T2">Alcance</th>
                                                            <th class="T3">Meta</th>
                                                            <th class="T3">Alcance</th>
                                                            <th class="T4">Meta</th>
                                                            <th class="T4">Alcance</th>
                                                            <th colspan="2">anual</th>

                                                        </tr>
                                                    <tbody>
                                                        {% for key,value  in tabla.items %}
                                                            <tr>
                                                            <td class="ancho-th">{{key}}</td>
                                                            <td class="T1">{{value.0}}</td>
                                                            <td class="T1">{{value.1}}</td>
                                                            <td class="T2">{{value.2}}</td>
                                                            <td class="T2">{{value.3}}</td>
                                                            <td class="T3">{{value.4}}</td>
                                                            <td class="T3">{{value.5}}</td>
                                                            <td class="T4">{{value.6}}</td>
                                                            <td class="T4">{{value.7}}</td>
                                                            <td>
                                                            {% if value.8 <= 29 %}
                                                                <span class="badge badge-pill badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% elif value.8 >= 30 and value.8 <= 59 %}
                                                                <span class="badge badge-pill badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% elif value.8 >= 60 and value.8 <= 79 %}
                                                                <span class="badge badge-pill badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% else %}
                                                                <span class="badge badge-pill badge-success">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% endif %}
                                                            {{value.8|floatformat:2}}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div> <!-- row antes del tabs -->
                </div>
            </div>
        </div>

    </section>
</div>
{% include "seguimiento/segimiento_consulta.html" %}

{% endblock contenido %}

{% block extra_js %}
    <!--<script src="/static/js/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <script src="/static/js/actividades.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable, #tabletemas').dataTable( {

                "bLengthChange" : false, //quita el btndrop de la tabla
                "bInfo":false,
                "order": [[0 , "desc" ]],
                "language": {

                    "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"

                }
            } );
        } );

    </script> -->
    <script type="text/javascript">
        $('.menuzord-menu li.menu4').addClass('active');
        $('ul.pagination').addClass('pull-right');
        $('#id_year').addClass('form-control');
    </script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            size: 3
        });

    </script>
    <script>
    // $('#id_ocultar').change(fire);

    // function fire() {
    //     var v = $('#id_ocultar').val()

    //     if (v == 1){
    //         alert("Va a ocultar la columna T1");
    //         $('.T1').toggle();
    //     }
    //     if (v == 2){
    //         alert("Va a ocultar la columna T2");
    //         $('.T2').toggle();
    //     }
    //     if (v == 3){
    //         alert("Va a ocultar la columna T3");
    //         $('.T3').toggle();
    //     }
    //     if (v == 4){
    //         alert("Va a ocultar la columna T4");
    //         $('.T4').toggle();
    //     }

    // }

    </script>

{% endblock extra_js %}
