{% extends "seguimiento/basedash.html" %}
{% block extra_css %}
	<link href="/static/css/notice.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}

<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Beneficiarios por modulos/aprendizaje</span></h4>
                </div>

            </div>

            <div class="row ">

                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 mb-20">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-4 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/capacitado.png" alt="">
                                </div>
                                <div class="col-xs-8 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{personas_capasitadas}}</h2>
                                    <h3 class="mb-0 mt-10 text-muted">Personas capacitadas</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2 mb-20">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-4 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/grupo.png" alt="">
                                </div>
                                <div class="col-xs-8 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{caps_capasitados}}</h2>
                                    <h3 class="mb-0 text-muted">CAPS que participarón</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">

                            <div class="row">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> Personas  <span class="text-theme-colored">Capacitadas por Módulos</span></h2>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="capacitaciones-pie" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">

                            <div class="row">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> Personas  <span class="text-theme-colored">Capacitadas</span></h2>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="capacitaciones" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="tab-dash">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% for k,v in tabla_grafo_municipio.items %}
                        <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
                            <a class="btn-theme-colored btn-border font-14 font-weight" href="#{{k|slugify}}" aria-controls="{{k|slugify}}" role="tab" data-toggle="tab">{{k}}</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-0">
                {% for k,v in tabla_grafo_municipio.items %}
                    <div role="tabpanel" class="tab-pane {% if forloop.first %} active{% endif %}" id="{{k|slugify}}">
                        <div class="row mb-10">
                        {% for llave,valor in totales_juntas_directivas.items %}
                        {% if llave == k %}
                            {% for key, value in valor.items %}
                            <div class="col-md-6 col-lg-5 {% if not forloop.first %}col-lg-offset-2{% endif %} mt-10">
                                <div class="card-admin m-b-30">
                                    <div class="card-body">
                                        <div class="d-flex flex-row">
                                            <div class="col-lg-4 align-self-center">
                                                <img src="/static/img/dashboard/{{key}}.png" alt="">
                                            </div>
                                            <div class="col-lg-8 align-self-center text-center">
                                                <h2 class="mt-0 round-inner">{{value}}</h2>
                                                <h4 class="mb-0 text-muted">Juntas directivas {{key}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        {% endif %}
                        {% endfor %}
                        </div>
                    {% for key,value in v.items %}
                    <div class="row mb-20">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card-admin">
                                <div class="card-body">
                                    <div class="row">
                                        <h2 class="mt-0 mb-5 pr-15 pl-15"> Asistencia  <span class="text-theme-colored">Miembros de Juntas Directivas Mujeres</span></h2>
                                        <h3 class="mt-0 mb-15 pr-15 pl-15">Departamento: {{key}} - {% for a,b in tabla_junta_directiva.items %} {% if a == k %} {% for x,z in b.items %} {% if x == key %} <span class="text-theme-colored"> {{z.1}}</span> {% endif %} {% endfor %} {% endif %} {% endfor %}
                                        </h3>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="capacitaciones-{{k|slugify}}-{{key|slugify}}-mujeres" style="width:100%; height:400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for key,value in v.items %}
                    <div class="row mb-20">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card-admin">
                                <div class="card-body">
                                    <div class="row">
                                        <h2 class="mt-0 mb-5 pr-15 pl-15"> Asistencia  <span class="text-theme-colored">Miembros de Juntas Directivas Hombres</span></h2>
                                        <h3 class="mt-0 mb-15 pr-15 pl-15">Departamento: {{key}} - {% for a,b in tabla_junta_directiva.items %} {% if a == k %} {% for x,z in b.items %} {% if x == key %} <span class="text-theme-colored"> {{z.0}} </span>{% endif %} {% endfor %} {% endif %} {% endfor %}</h3>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="capacitaciones-{{k|slugify}}-{{key|slugify}}-hombres" style="width:100%; height:400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endfor %}

                </div> <!-- tab panel -->
            </div>

</div> <!-- container -->

    </section>
</div>
{% endblock contenido %}
{% block extra_js %}

<script type="text/javascript">
    $('.menuzord-menu li.menu0').addClass('active');
</script>

<script type="text/javascript">
// Create the chart

// Create the chart
Highcharts.chart('capacitaciones', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Hombres y Mujeres Capacitadas'
    },
    xAxis: {
        categories: [{% for k,v in grafo_actividad.items %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Conteo'
        }
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Total',
        data: [{% for k,v in grafo_actividad.items %}{{v.0|default:0}},{% endfor %}]
    }, {
        name: 'Hombres',
        data: [{% for k,v in grafo_actividad.items %}{{v.1|default:0}},{% endfor %}]
    }, {
        name: 'Mujeres',
        data: [{% for k,v in grafo_actividad.items %}{{v.2|default:0}},{% endfor %}]
    }]
});

Highcharts.chart('capacitaciones-pie', {
    chart: {
        type: 'pie'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y:.0f} - {point.percentage:.1f} %'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.percentage:.1f} %</b><br/>'
    },

    "series": [
        {
            "name": "Beneficiarios",
            "colorByPoint": true,
            "data": [
            {% for k,v in grafo_actividad.items %}
                {
                    "name": "{{k}}",
                    "y": {{v.0|default:0}}

                },
            {% endfor %}

            ]
        }
    ]
});

{% for k,v in tabla_grafo_municipio.items %}
{% for key, value in  v.items %}
Highcharts.chart('capacitaciones-{{k|slugify}}-{{key|slugify}}-hombres', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Hombres'
    },
    xAxis: {
        categories: ['Presidencia','Tesorería','Secretaría','Vocal','Fiscal','Apoyo']
    },
    yAxis: {
        title: {
            text: 'conteo'
        }
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for ke, val in value.items %}
        {
            name: '{{ke}}',
            data: [{{val.0|default:0}},{{val.2|default:0}},{{val.4|default:0}},{{val.6|default:0}},{{val.8|default:0}},{{val.10|default:0}}]
        },
    {% endfor %}
    ]
});
{% endfor %}
{% endfor %}

{% for k,v in tabla_grafo_municipio.items %}
{% for key,value in v.items %}
Highcharts.chart('capacitaciones-{{k|slugify}}-{{key|slugify}}-mujeres', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Mujeres'
    },
    xAxis: {
        categories: ['Presidencia','Tesorería','Secretaría','Vocal','Fiscal','Apoyo']
    },
    yAxis: {
        title: {
            text: 'Conteo'
        }
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for ke, val in value.items %}
        {
            name: '{{ke}}',
            data: [{{val.1|default:0}},{{val.3|default:0}},{{val.5|default:0}},{{val.7|default:0}},{{val.9|default:0}},{{val.11|default:0}}]
        },
    {% endfor %}
    ]
});
{% endfor %}
{% endfor %}
</script>

{% endblock extra_js %}
