
<div class="modal fade" id="modal-id">
    <div class="modal-dialog modal-lg">
        <form action="#" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="title m-0">Seguimiento de <span class="text-theme-colored">actividades</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Año</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Ambito actividad</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Departamento</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Municipio</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Comunidad</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Tipo actividad</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Tipo actor</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label>Sexo</label>
                        <div class="form-group">
                            <select class="form-control selectpicker" multiple data-live-search="true" title="seleccione" data-selected-text-format="count > 3">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-theme-colored">Consultar</button>
            </div>
        </form>
    </div>
</div>
