{% extends "seguimiento/basedash.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock extra_css %}
{% block contenido %}
<style type="text/css">

#id_actividad_principal {
    width: 750px;
}

#id_subactividad {
    width: 750px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single{
    height:40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px !important;
}
.form-control{
    height: 40px;
}
.select2-container--default .select2-selection--single{
    border-radius: 0px !important;
}
</style>

<div class="bg-silver-light">
    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="title line-bottom"> Resultados <span class="text-theme-colored">Intermedio</span></h4>
                        </div>
                    </div>

                    <div class="row mb-20">
                        <div class="card-admin bg-white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="mt-0 mb-5 pr-15 pl-15"> Seleccione el <span class="text-theme-colored">indicador</span></h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-horizontal" action="." method="POST">{% csrf_token %}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="">Año</label>
                                                <div class="col-sm-2">
                                                    {{form.year}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="">Actividad principal</label>
                                                <div class="col-sm-10">
                                                    {{form.actividad_principal}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="">Subactividad</label>
                                                <div class="col-sm-10">
                                                    {{form.subactividad}}
                                                </div>
                                            </div>
                                            <div class="text-center">
                                            <button class="btn btn-colored btn-flat btn-theme-colored btn-lg" type="submit">Consultar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="alert-danger">{{var_mensaje}}</p>
                                </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="indicador" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div> <!-- card body -->
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>



{% endblock contenido %}
{% block extra_js %}
{% comment %} <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script> {% endcomment %}
{{ form.media }}

<script type="text/javascript">
$('#id_year').addClass('form-control');
{% for k,v in tabla_programatica.items %}
Highcharts.chart('indicador', {
    chart: {
        type: 'column'
    },
    title: {
        text: '{{k}}'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
            'Trimestre 1',
            'Trimestre 2',
            'Trimestre 3',
            'Trimestre 4',

        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'CAPS'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Meta',
        data: [{{v.0}}, {{v.2}}, {{v.4}}, {{v.6}}]

    }, {
        name: 'Alcanzado',
        data: [{{v.1}}, {{v.3}}, {{v.5}}, {{v.7}}]

    }]
});
{% endfor %}
</script>

{% endblock extra_js %}
