{% extends "seguimiento/basedash.html" %}
{% load humanize %}
{% block extra_css %}
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}

<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-md-12 tab-dash">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Reporte financiero</span></h4>
                        </div>
                        <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <a  class="btn btn-dark btn-border btn-theme-colored pull-right mt-10 mb-30" data-toggle="modal" href='#modal-id'><i class="fa fa-filter "></i> Filtro</a>
                        </div>-->
                    </div>
                    <div class="row">
                        <ul class="header-dropdown display-block" role="tablist">
                            {% for k in dict.keys %}
                            <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
                                <a class="tab_btn" data-toggle="tab" href="#{{k}}" role="tab" aria-controls="{{k}}">{{k}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row">
                        <div class="tab-content">
                            {% for k,v in dict.items %}
                                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{k}}" role="tabpanel" aria-labelledby="{{k}}-tab">
                                    <div class="row mb-20">
                                        <div class="col-xs-12 col-md-6 col-lg-4 mb-20">
                                            <div class="card-admin">
                                                <div class="card-body">
                                                    <div class="d-flex flex-row">
                                                        <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                                            <img src="/static/img/dashboard/dollar.png" alt="">
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                                            <h2 class="mt-0 round-inner">{{v.1|intcomma}}</h2>
                                                            <h4 class="mb-0 text-muted">Presupuesto acumulado</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-4 mb-20">
                                            <div class="card-admin">
                                                <div class="card-body">
                                                    <div class="d-flex flex-row">
                                                        <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                                            <img src="/static/img/dashboard/dollar.png" alt="">
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                                            <h2 class="mt-0 round-inner">{{v.2|intcomma}}</h2>
                                                            <h4 class="mb-0 text-muted">Transferencias acumuladas</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-4 mb-20">
                                            <div class="card-admin">
                                                <div class="card-body">
                                                    <div class="d-flex flex-row">
                                                        <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                                            <img src="/static/img/dashboard/dollar.png" alt="">
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                                            <h2 class="mt-0 round-inner">{{v.3|intcomma}}</h2>
                                                            <h4 class="mb-0 text-muted">Total <br class="hidden-xs hidden-sm">ejecucion</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20">
                                        <div class="col-lg-12">
                                            <div class="card-admin bg-white">
                                                <div class="card-body">
                                                    <h2 class="mt-0 mb-5 pr-15 pl-15 mb-10"> Total de <span class="text-theme-colored">ingresos por fecha</span></h2>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <div id="fechas-ingresos-{{k}}" style="width:100%; height:400px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20">
                                        <div class="col-lg-12">
                                            <div class="card-admin bg-white">
                                                <div class="card-body">
                                                    <h2 class="mt-0 mb-5 pr-15 pl-15 mb-10"> Descripción  <span class="text-theme-colored">del rubro</span></h2>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <div id="ejecucion-presup-{{k}}" style="width:100%; height:400px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20">
                                        <div class="col-lg-12">
                                            <div class="card-admin bg-white">
                                                <div class="card-body">
                                                    <h2 class="mt-0 mb-5 pr-15 pl-15 mb-10"><span class="text-theme-colored">Ejecución</span></h2>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <div id="ejecutado-{{k}}" style="width:100%; height:400px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20">
                                        <div class="col-lg-12">
                                            <div class="card-admin bg-white">
                                                <div class="card-body">
                                                    <h2 class="mt-0 mb-5 pr-15 pl-15 mb-10"><span class="text-theme-colored">Ejecución</span></h2>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover table-bordered table-primary" id="tabletemas">
                                                                    <thead class="bg-theme-colored-darker3 text-white">   
                                                                        <tr>
                                                                            <th>Descripción del Rubro</th>
                                                                            <th>Presupuesto $</th>
                                                                            <th>T1</th>
                                                                            <th>T2</th>
                                                                            <th>T3</th>
                                                                            <th>T4</th>
                                                                            <th>Ejecución $</th>
                                                                            <th>Saldo por ejecutar $</th>
                                                                            <th>Variación %</th>
                        
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for x in v.5 %}
                                                                        <tr>
                                                                            <td>{{x.0}}</td>
                                                                            <td>{{x.1|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.2.0|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.2.1|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.2.2|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.2.3|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.3|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.4|floatformat:2|intcomma}}</td>
                                                                            <td>{{x.5}}</td>
                                                                        </tr>
                                                                        {% endfor %}
                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{% include "seguimiento/segimiento_consulta.html" %}

{% endblock contenido %}

{% block extra_js %}
    <script src="/static/js/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <script src="/static/js/actividades.js"></script>

    <script type="text/javascript">
        $('.menuzord-menu li.menu4').addClass('active');
        $('ul.pagination').addClass('pull-right');
    </script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $('.selectpicker').selectpicker({
            size: 3
        });

    </script>

    <script>
    {% for k,v in dict.items %}
        Highcharts.chart('fechas-ingresos-{{k}}', {
            chart: {
                type: 'line'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [{% for x in v.0 %}'{{x.fecha_recibida}}',{% endfor %}]
            },
            yAxis: {
                title: {
                    text: ''
                }
            },

            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '',
                data: [{% for x in v.0 %}{{x.valor}},{% endfor %}]
            },]
        });


    Highcharts.chart('ejecucion-presup-{{k}}', {
        // chart: {
        //     zoomType: 'xy'
        // },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: [{
            categories: [{% for rubro in v.4.keys %}'{{rubro}}',{% endfor %}],
            // crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: '',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: '',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        series: [{
            name: 'Presupuesto',
            type: 'column',
            data: [{% for x in v.4.values %}{{x.0}},{% endfor %}],

        }, {
            name: 'Ejecución',
            type: 'spline',
            data: [{% for x in v.4.values %}{{x.1}},{% endfor %}],
        }]
    });

    Highcharts.chart('ejecutado-{{k}}', {

    title: {
        text: ''
    },

    yAxis: {
        title: {
            text: ''
        }
    },
    xAxis: [{
            categories: [{% for rubro in v.4.keys %}'{{rubro}}',{% endfor %}],
            crosshair: true
        }],
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series: [{
        name: 'T1',
        data: [{% for x in v.4.values %}{{x.2.0|default:'0'}},{% endfor %}]
    }, {
        name: 'T2',
        data: [{% for x in v.4.values %}{{x.2.1|default:'0'}},{% endfor %}]
    }, {
        name: 'T3',
        data: [{% for x in v.4.values %}{{x.2.2|default:'0'}},{% endfor %}]
    }, {
        name: 'T4',
        data: [{% for x in v.4.values %}{{x.2.3|default:'0'}},{% endfor %}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
    {% endfor %}
    </script>


{% endblock extra_js %}
