{% extends "seguimiento/basedash.html" %}
{% block extra_css %}
    <link href="/static/css/notice.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}

<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Beneficiarios por tipo de actividad</span></h4>
                </div>

            </div>

            <div class="row mb-20">


                <div class="col-md-6 col-lg-3">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-lg-4 align-self-center">
                                    <div class="round">
                                        <i class="fa fa-user-friends text-theme-colored"></i>
                                    </div>
                                </div>
                                <div class="col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{personas_participantes}}</h2>
                                    <h4 class="mb-0 text-muted">Personas Participantes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-admin m-b-30">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-lg-4 align-self-center">
                                    <div class="round">
                                        <i class="fa fa-user-friends text-theme-colored"></i>
                                    </div>
                                </div>
                                <div class="col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{personas_apoyo}}</h2>
                                    <h4 class="mb-0 text-muted">Personas apoyo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% for k,v in tabla_grafo_municipio.items %}
            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="row">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> Asistencia  <span class="text-theme-colored">Encuentro Municipal CAPS Mujeres</span></h2>
                                <h3 class="mt-0 mb-15 pr-15 pl-15">Departamento: {{k}} - {% for a,b in tabla_junta_directiva.items %} {% if a == k %}  {{b.11}} {% endif %} {% endfor %}
                                </h3>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="capacitaciones-{{k}}-mujeres" style="width:100%; height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for k,v in tabla_grafo_municipio.items %}
            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="row">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> Asistencia  <span class="text-theme-colored">Encuentro Municipal CAPS Hombres</span></h2>
                                <h3 class="mt-0 mb-15 pr-15 pl-15">Departamento: {{k}} - {% for a,b in tabla_junta_directiva.items %} {% if a == k %}  {{b.10}} {% endif %} {% endfor %}</h3>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="capacitaciones-{{k}}-hombres" style="width:100%; height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </section>
</div>
{% endblock contenido %}
{% block extra_js %}

<script type="text/javascript">
    $('.menuzord-menu li.menu0').addClass('active');
</script>

<script type="text/javascript">

{% for k,v in tabla_grafo_municipio.items %}
Highcharts.chart('capacitaciones-{{k}}-hombres', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Hombres'
    },
    xAxis: {
        categories: ['Presidencia','Tesorería','Secretaría','Vocal','Fiscal']
    },
    yAxis: {
        title: {
            text: 'conteo'
        }
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for key, valor in v.items %}
        {
            name: '{{key}}',
            data: [{{valor.0|default:0}},{{valor.2|default:0}},{{valor.4|default:0}},{{valor.6|default:0}},{{valor.8|default:0}}]
        },
    {% endfor %}
    ]
});
{% endfor %}

{% for k,v in tabla_grafo_municipio.items %}
Highcharts.chart('capacitaciones-{{k}}-mujeres', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Mujeres'
    },
    xAxis: {
        categories: ['Presidencia','Tesorería','Secretaría','Vocal','Fiscal','Apoyo']
    },
    yAxis: {
        title: {
            text: 'Conteo'
        }
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for key, valor in v.items %}
        {
            name: '{{key}}',
            data: [{{valor.1|default:0}},{{valor.3|default:0}},{{valor.5|default:0}},{{valor.7|default:0}},{{valor.9|default:0}}]
        },
    {% endfor %}
    ]
});
{% endfor %}

</script>

{% endblock extra_js %}
