{% extends "seguimiento/basedash.html" %}

{% load humanize extras_tags_cfca %}

{% block extra_css %}
    <!-- <link href="/static/css/notice.css" rel="stylesheet" type="text/css"> -->
{% endblock extra_css %}
{% block contenido %}
<div class="bg-silver-light">

    <section class="bg-lighter">
        <div class="container pt-20 tab-dash">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4 class="title line-bottom"> Dashboard <span class="text-theme-colored">Beneficiarios Inversiones</span></h4>
                </div>

            </div>
            <div class="row mb-20">
               

                <!--
                <div class="col-xs-12 col-md-6 col-lg-3 mb-20">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/familia.png" alt="">
                                </div>
                                <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{total_bene_comunidad.0}}</h2>
                                    <h4 class="mb-0 text-muted">Familias Beneficiadas con Mejoras y Perforación de pozos</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 mb-20">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/familia.png" alt="">
                                </div>
                                <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{total_bene_comunidad.0|multiplicar:4|intcomma}}</h2>
                                    <h4 class="mb-0 text-muted">Personas Beneficiadas proyectadas</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 mb-20">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/familia.png" alt="">
                                </div>
                                <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{conteo_total_perforacion}}</h2>
                                    <h4 class="mb-0 text-muted">Perforaciones</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 mb-20">
                    <div class="card-admin">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-xs-3 col-sm-3 col-lg-4 align-self-center">
                                    <img src="/static/img/dashboard/familia.png" alt="">
                                </div>
                                <div class="col-xs-9 col-sm-9 col-lg-8 align-self-center text-center">
                                    <h2 class="mt-0 round-inner">{{conteo_total_mejoras}}</h2>
                                    <h4 class="mb-0 text-muted hidden-xs hidden-sm">Mejoras de sistemas</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->


            </div>
            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <!--<div class="card-admin">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 data-graf">
                                    <div class="d-flex flex-row">
                                        <div class="col-lg-4 align-self-center">
                                            <div class="round-mini">
                                                <i class="fas fa-male text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 align-self-center text-center">
                                            <h4 class="mt-0 round-inner text-white">{{total_bene_comunidad.1}}</h4>
                                            <h6 class="mb-0 text-white">Hombres</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 data-graf">
                                    <div class="d-flex flex-row">
                                        <div class="col-lg-4 align-self-center">
                                            <div class="round-mini">
                                                <i class="fas fa-female text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 align-self-center text-center ">
                                            <h4 class="mt-0 round-inner text-white">{{total_bene_comunidad.2}}</h4>
                                            <h6 class="mb-0 text-white">Mujeres</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 data-graf">
                                    <div class="d-flex flex-row">
                                        <div class="col-lg-4 align-self-center">
                                            <div class="round-mini">
                                                <i class="fas fa-child text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 align-self-center text-center">
                                            <h4 class="mt-0 round-inner text-white">{{total_bene_comunidad.3}}</h4>
                                            <h6 class="mb-0 text-white">Niños</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 data-graf">
                                    <div class="d-flex flex-row">
                                        <div class="col-lg-4 align-self-center">
                                            <div class="round-mini">
                                                <i class="fas fa-female text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 align-self-center text-center">
                                            <h4 class="mt-0 round-inner text-white">{{total_bene_comunidad.4}}</h4>
                                            <h6 class="mb-0 text-white">Niñas</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="familia" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div>


                    </div> -->

                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">

                            <div class="row">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> INVERSIONES EN <span class="text-theme-colored">SISTEMAS DE AGUA </span> ${{grafo_inversion_total|floatformat:2|intcomma}}</h2>
                                <h3 class="mt-0 mb-15 pr-15 pl-15"></h3>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="financiado" style="width:100%; height:435px;"></div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="header-dropdown display-block mt-20" role="tablist">
                        {% for k,v in tabla_inversiones_municipio.items %}
                        <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
                            <a class="tab_btn" href="#{{k}}" aria-controls="{{k}}" role="tab" data-toggle="tab">{{k}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                            {% for k,v in tabla_inversiones_municipio.items %}
                                <div role="tabpanel" class="tab-pane {% if forloop.first %} active{% endif %}" id="{{k}}">
                                <h2 class="mt-0 mb-5 pr-15 pl-15"> Inversión por <span class="text-theme-colored">Municipio</span> {% for y,c in tabla_inversiones_totales.items%}
                                    {% if k == y %}
                                        Perforación: {{c.0}} Mejoras: {{c.1}}
                                    {%endif%}         
                                    {%endfor%}                           
                                </h2>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div id="inversiones-{{k}}" style="width:100%; height:400px;"></div>

                                    <!--{% for key, value in v.items %} 
                                    <table class="table table-striped">
                                    <caption>{{key}}</caption>
                                    <tr>
                                        <th>Organizacion</th>
                                        <th>Monto/Perforación</th>
                                        <th>Monto/Mejora</th>
                                    </tr>
                                    {% for obj in value.4 %}
                                        <tr>
                                        <td>{{obj.0|title}}</td>
                                        <td>{{obj.1|floatformat:2|intcomma}}</td>
                                        <td>{{obj.2|floatformat:2|intcomma}}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>SIMAS/CFCA</td>
                                        <td>{{value.2|floatformat:2|intcomma}}</td>
                                        <td>{{value.3|floatformat:2|intcomma}}</td>
                                    </tr>   
                                    
                                    </table>
                                    {% endfor %} -->
                                    <div style="text-align:center;"><a class="btn btn-success" target="_blank" rel="noopener noreferrer" href="/reporte-mejoras/{{k}}">Ver reporte completo</a></div>

                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--
            <div class="row mb-20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card-admin">
                        <div class="card-body">
                            
                            <div class="tab-content">
                                <h2>Reporte Inversiones por años</h2>
                            <div class="table-responsive">
                                <table id="inversion" class="table table-striped w-auto">
                                  <thead>
                                    <tr>
                                      <th>Nombre</th>
                                      <th>Comunidad</th>
                                      <th>Año</th>
                                      <th>Tipo de inversión</th>
                                      <th>Ejecutado SIMAS/CFCA</th>
                                      <th>Alcaldia</th>
                                      <th>Enacal</th>
                                      <th>Comunidad</th>
                                      <th>ONGs</th>
                                      <th>Estado</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% for k,v in reporte.items%}
                                  <tr>
                                    <td>{{k}}</td>
                                    <td>{{v.0}}</td>
                                    <td>{{v.1}}</td>
                                    <td>{% for tipo in v.2.all %}{{tipo}} {% if forloop.last%} {%else%},{%endif%}{%endfor%}</td>
                                    <td class="simas">{{v.4}}</td>
                                    <th class="alcaldia-{{forloop.counter}}">{{v.5|default:"0"}}</th>
                                    <th class="enacal-{{forloop.counter}}">{{v.6|default:"0"}}</th>
                                    <th class="comunidad-{{forloop.counter}}">{{v.7|default:"0"}}</th>
                                    <th class="ong-{{forloop.counter}}">{{v.8|default:"0"}}</th>
                                    <td>{{v.9|default:"Sin Asignar"}}</td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                                  <tfoot>
                                    <tr class="summary">
                                      <th>Total</th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th class="total_presupuesto"></th>
                                      <th class="total_ejecutado"></th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                    </tr>
                                  </tfoot>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

    </section>
</div>
{% endblock contenido %}
{% block extra_js %}

<script type="text/javascript">
    $('.menuzord-menu li.menu0').addClass('active');
  
    
</script>

<script type="text/javascript">
Highcharts.setOptions({
    lang: {
        decimalPoint: '.',
        thousandsSep: ','
    }
});
// Create the chart
// Highcharts.chart('familia', {
//     chart: {
//         type: 'pie'
//     },
//     title: {
//         text: ''
//     },
//     subtitle: {
//         text: ''
//     },
//     plotOptions: {
//         series: {
//             dataLabels: {
//                 enabled: true,
//                 format: '{point.name}: {point.percentage:.1f} %'
//             }
//         }
//     },

//     tooltip: {
//         headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
//         pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b> {point.percentage:.1f} %</b><br/>'
//     },

//     "series": [
//         {
//             "name": "Beneficiarios",
//             "colorByPoint": true,
//             "data": [
//                 {
//                     "name": "Hombres",
//                     "y": {{total_bene_comunidad.1|default:0}}

//                 },
//                 {
//                     "name": "Mujeres",
//                     "y": {{total_bene_comunidad.2|default:0}}

//                 },
//                 {
//                     "name": "Niños",
//                     "y": {{total_bene_comunidad.3|default:0}}

//                 },
//                 {
//                     "name": "Niñas",
//                     "y": {{total_bene_comunidad.4|default:0}}

//                 }
//             ]
//         }
//     ]
// });

Highcharts.chart('financiado', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for k,v in tabla_inversiones.items %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'USD'
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true,
        valuePrefix: '$ ',
    },
    plotOptions: {
        column: {
            stacking: 'normal'
        },
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '$ {point.y:,.2f}'
            }
        }
    },
    series: [{
        name: 'Perforación',
        data: [{% for k,v in tabla_inversiones.items %}{{v.0|floatformat:2|default:0}},{% endfor %}]
    }, {
        name: 'Mejoras',
        data: [{% for k,v in tabla_inversiones.items %}{{v.1|floatformat:2|default:0}},{% endfor %}]
    }]
});

{% for k,v in tabla_inversiones_municipio.items %}
Highcharts.chart('inversiones-{{k}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Inversiones {{k}}'
    },
    xAxis: {
        categories: ['Perforación','Mejoras']
    },
    yAxis: {
        title: {
            text: '$'
        }
    },
     plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '$ {point.y:,.2f}'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for key, valor in v.items %}
        {
            name: '{{key}}',
            data: [{{valor.0|default:0|floatformat:2}},{{valor.1|default:0|floatformat:2}}]
        },
    {% endfor %}
    ]
});
{% endfor %}

</script>

{% endblock extra_js %}
