<!DOCTYPE html>
{% load humanize separarlista %}
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"/>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script src="/static/js/NumberFormat.js"></script>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
<body>
<style>
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip2 .tooltiptext {
  visibility: hidden;
  min-width: 200px;
  background-color: #3db4d9;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
}
.tooltip2 .tooltiptext .list{
  list-style: none;
  padding: 10px;
}
.tooltip2 .tooltiptext .list li{
  margin-bottom: 3px;
}
.tooltip2 .tooltiptext .list li img{
  padding: 5px;
}

.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #3db4d9 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>
<div class="container">
  <div class="row">

<h2>Tabla de Reporte Inversiones año {{anio}}</h2>

<table id="myTable" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Comunidad</th>
      <th>Año</th>
      <th>Tipo de inversión</th>
      <th>Ejecutado SIMAS/CFCA</th>
      <th>Alcaldia</th>
      <th>Enacal</th>
      <th>Comunidad</th>
      <th>ONGs</th>
      <th>Total</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
  {% for k,v in reporte.items%}
  <tr>
    <td>{{k}}</td>
    <td>{{v.0}}</td>
    <td>{{v.1}}</td>
    <td>{% for tipo in v.2.all %}{{tipo}} {% if forloop.last%} {%else%},{%endif%}{%endfor%}</td>
    <td>{{v.4|default:"0"|floatformat:2|intcomma}}</td>
    <th>{{v.5|default:"0"|floatformat:2|intcomma}}</th>
    <th>{{v.6|default:"0"|floatformat:2|intcomma}}</th>
    <th>{{v.7|default:"0"|floatformat:2|intcomma}}</th>
    <th>
    {% if v.11 %}
        <div class="tooltip2">{{v.8|default:"0"|floatformat:2|intcomma}}
          <span class="tooltiptext">
          <ul class="list">
            {% for org in v.11 %}
              <li><span><img src="/media/{{org.1}}" alt="{{org.0}}" width="50px"></span>{{org.0}}</li>
            {% endfor %}
            </ul>
          </span>
        </div>
      {% else %}
        {{v.8|default:"0"|floatformat:2|intcomma}}
      {% endif %}
    </th>
    <th>{{v.9|default:"0"|floatformat:2|intcomma}}</th>
    <td>{{v.10|default:"Sin Asignar"}}</td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th colspan="3"></th>
      <th>{{total_simas|floatformat:2|intcomma}}</th>
      <th>{{total_alcaldia|floatformat:2|intcomma}}</th>
      <th>{{total_enacal|floatformat:2|intcomma}}</th>
      <th>{{total_comunidad|floatformat:2|intcomma}}</th>
      <th>{{total_ong|floatformat:2|intcomma}}</th>
      <th>{{gran_total|floatformat:2|intcomma}}</th>
      <th></th>
    </tr>
    <tr>
      <th>Porcentajes</th>
      <th colspan="3"></th>
      <th>{{total_simas|calcular_porcentaje:gran_total|floatformat:2}} %</th>
      <th>{{total_alcaldia|calcular_porcentaje:gran_total|floatformat:2}} %</th>
      <th>{{total_enacal|calcular_porcentaje:gran_total|floatformat:2}} %</th>
      <th>{{total_comunidad|calcular_porcentaje:gran_total|floatformat:2}} %</th>
      <th>{{total_ong|calcular_porcentaje:gran_total|floatformat:2}} %</th>
      <th>100%</th>
      <th></th>
    </tr>
  </tfoot>
</table>

 </div>
</div>


<script type="text/javascript">
$(document).ready( function() {
  $('#myTable').DataTable( {
    dom: 'Bfrtip',
    pageLength: 100,
    buttons: [
            //{ extend: 'csvHtml5', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}" },
            { extend: 'excelHtml5', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}" },
            { extend: 'pdfHtml5', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}", orientation: 'landscape',pageSize: 'LEGAL'},
            //{ extend: 'print', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}"},
        ],
     "language": {
            "lengthMenu": "Mostrando _MENU_ registro por pagina",
            "zeroRecords": "Nada se encontro - lo sentimos",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles.",
            "infoFiltered": "(filtrado desde _MAX_ total registros)",
            "search": "Buscar",
        },

      columnDefs: [{
        targets: [4,5,6,7,8,9],
        visible: true,
      }],
      /*"footerCallback": function ( row, data, start, end, display ) {
            var api = this.api();


            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            pageTotal2 = api
                .column( 5, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            pageTotal3 = api
                .column( 6, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            pageTotal4 = api
                .column( 7, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            pageTotal5 = api
                .column( 8, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            pageTotal6 = api
                .column( 9, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(2);
                }, 0 );

            // Update footer
            $( api.column( 4 ).footer() ).html(FormatNumberBy3(pageTotal));
            $( api.column( 5 ).footer() ).html(FormatNumberBy3(pageTotal2));
            $( api.column( 6 ).footer() ).html(FormatNumberBy3(pageTotal3));
            $( api.column( 7 ).footer() ).html(FormatNumberBy3(pageTotal4));
            $( api.column( 8 ).footer() ).html(FormatNumberBy3(pageTotal5));
            $( api.column( 9 ).footer() ).html(FormatNumberBy3(pageTotal6));
        }*/
  } );
} );
</script>

</body>
</html>
