{% extends "filtros/base.html" %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">
<style>
 #id_actividad_principal {
    width: 100px;
 }
 #id_departamento {
    width: 222px !important;
 }
 .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 40px !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px !important;
    user-select: none;
    -webkit-user-select: none;
}
</style>  
{% endblock extra_css %}

{% block contenido %}
<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">CONSULTAR FILTROS</h6>
            </div>
            <div class="card-body">
            <form action="." method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.media }}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fecha">Fecha inicial</label>
                        {{form.fecha_inicial}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fecha">Fecha final</label>
                        {{form.fecha_final}}
                    </div>
                </div>

               <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="departamento">Departamento</label>
                        {{form.departamento}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="municipio">Municipio</label>
                        {{form.municipio}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="comunidad">Comunidad</label>
                        {{form.comunidad}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tema">Tema</label>
                        {{form.tema}}
                    </div>
                </div>
            
               <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="actividad_principal">Actividad principal</label>
                        {{form.actividad_principal}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tipo_actividad">Tipo actividad</label>
                        {{form.tipo_actividad}}
                    </div>
                </div>
         
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="modulos">Modulos</label>
                        {{form.modulos}}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <input type="submit" value="Consultar" id="boton" class="btn btn-success center-block" />
                </div>
            </form>
        </div> <!-- card body -->
        </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <p>
                {%if centinela == 1 %}
                    <a target="_blank" href="{% url 'salida_generica' %}" class="btn btn-primary my-2">Salida por Caps</a>
                    <a target="_blank" href="{% url 'salida_miembros' %}" class="btn btn-primary my-2">Salida Miembros</a>
                    <a target="_blank" href="{% url 'salida_inversiones' %}" class="btn btn-primary my-2">tabla inversiones</a>
                    <a target="_blank" href="{% url 'salida_beneficiario' %}" class="btn btn-primary my-2">Salida beneficiario</a>
                    <a target="_blank" href="{% url 'beneficiario_inversion' %}" class="btn btn-primary my-2">Beneficiario inversion</a>
                {% endif %}
                </p>
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}
{% block extra_js %}
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript">
    
$('#id_fecha_inicial').datepicker({
    format: "yyyy-mm-dd",
    language: "es",
    autoclose: true
});
$('#id_fecha_final').datepicker({
    format: "yyyy-mm-dd",
    language: "es",
    autoclose: true
});

</script>
<script>
$(document).ready(function() {
    $('#id_departamento').select2({
        placeholder: "Seleccione departamento",
        allowClear: true
    });
    $('#id_tipo_actividad').select2({
        placeholder: "Tipos de actividad",
        allowClear: true
    });
    $('#id_modulos').select2({
        placeholder: "Seleccione modulos",
        allowClear: true
    });

}); 
</script> 
{% endblock extra_js %}