{% extends "filtros/base.html" %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<style>

 .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 40px !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px !important;
    user-select: none;
    -webkit-user-select: none;
}
</style>  
{% endblock extra_css %}

{% block contenido %}
<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">CONSULTAR FILTROS</h6>
            </div>
            <div class="card-body">
            <form action="." method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.media}}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

               <div class="form-row">
                     
                    <div class="form-group col-md-12">
                        <label for="comunidad">Encuestas</label>
                        {{form.encuestas}}
                    </div>
                </div>

         
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Consultar" id="boton" class="btn btn-success center-block" />
                </div>
            </form>
        </div> <!-- card body -->
        </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <p>
                {%if centinela == 1 %}
                    <a target="_blank" href="{% url 'salida-consultar-survey' %}" class="btn btn-primary my-2">ver reporte</a>
                    
                {% endif %}
                </p>
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %}
<script>
    $('#id_encuestas').select2({
        placeholder: "Seleccione 2 encuestas una pre y una post",
        allowClear: true
    });
</script>
{% endblock extra_js %}
