<ol class="breadcrumb hide-phone p-0 m-0">
    {% if num_actividades %}
        <li class="breadcrumb-item"><b>No.Actividades:</b>{{num_actividades}}</li>
    {%endif%}
    {%if request.session.fecha_inicial%}
    <li class="breadcrumb-item"><b>Fecha inicio:</b>{{request.session.fecha_inicial}}</li>
    {%endif%}
    {%if request.session.fecha_final%}
    <li class="breadcrumb-item"><b>Fecha final:</b>{{request.session.fecha_final}}</li>
    {%endif%}
    {%if request.session.departamento%}
    <li class="breadcrumb-item"><b>Departamento:</b>{%for a in request.session.departamento.all %}{{a}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.municipio%}
    <li class="breadcrumb-item"><b>Municipio:</b>{%for c in request.session.municipio.all %}{{c}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.comunidad%}
    <li class="breadcrumb-item"><b>Comunidad:</b>{%for d in request.session.comunidad.all %}{{d}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.tema%}
    <li class="breadcrumb-item"><b>Tema: </b> {{request.session.tema}}</li>
    {%endif%}
    {%if request.session.activdad_principal%}
    <li class="breadcrumb-item"><b>Socio:</b>{{request.session.activdad_principal}}</li>
    {%endif%}
    {%if request.session.tipo_actividad%}
    <li class="breadcrumb-item"><b>Tipo actividad:</b>{%for c in request.session.tipo_actividad.all %}{{c}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.modulos%}
    <li class="breadcrumb-item"><b>Modulos:</b>{%for c in request.session.modulos.all %}{{c}}, {%endfor%}</li>
    {%endif%}
</ol>