{% extends "filtros/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/tableexport.min.css">

{% endblock extra_css %}

{% block contenido %}

<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">FILTROS REALIZADOS</h6>
            </div>
            <div class="card-body">
            {% include "filtros/filtros.html" %}
            </div> <!-- card body {{request.session.items}} -->
          </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p>Total de personas: <span>{{conteo}}</span> </p>
              <div class="d-flex justify-content-between align-items-center">
                <p>
                        <table id="example" class="table table-bordered " style="width:100%">
                        <thead>
                            <tr>
                                <th rowspan="2">Municipios</th>
                                <th colspan="3">{{pre}}</th>
                                <th colspan="3">{{post}}</th>
                            </tr>
                            <tr>
                                <th>Hombres</th>
                                <th>Mujeres</th>
                                <th>Total</th>
                                <th>Hombres</th>
                                <th>Mujeres</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for k,v in filtro.items %}
                        <tr>
                            <td>{{k}}</td>
                            <td>{{v.0}}</td>
                            <td>{{v.1}}</td>
                            <td>{{v.2}}</td>
                            <td>{{v.3}}</td>
                            <td>{{v.4}}</td>
                            <td>{{v.5}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>TOTAL</strong></td>
                            <td><strong>{{g_hombre_pre}}</strong></td>
                            <td><strong>{{g_mujer_pre}}</strong></td>
                            <td><strong>{{g_total_pre}}</strong></td>
                            <td><strong>{{g_hombre_post}}</strong></td>
                            <td><strong>{{g_mujer_post}}</strong></td>
                            <td><strong>{{g_total_post}}</strong></td>
                        </tr>
                       
                        </tbody>
                    </table>
                </p>
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %}
<script src="/static/js/xlsx.core.min.js"></script>
<script src="/static/js/FileSaver.js"></script>
<script src="/static/js/tableexport.min.js"></script>
<script>
    $("table").tableExport({
        formats: ["xlsx", "csv"],
    });
</script>

{% endblock extra_js %}