{% extends "filtros/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
{% endblock extra_css %}

{% block contenido %}

<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">FILTROS REALIZADOS</h6>
            </div>
            <div class="card-body">
            {% include "filtros/filtros.html" %}
            </div> <!-- card body {{request.session.items}} -->
          </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p>Total de personas: <span>{{conteo}}</span> </p>
              <div class="d-flex justify-content-between align-items-center">
                <p>
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nombre apellido</th>
                <th>Jefe familia</th>
                <th>Municipio</th>
                <th>Comunidad</th>
                <th>Sexo</th>
                <th>Fecha nacimiento</th>
                <th>Caps al que pertenece</th>
                <th>Cargo caps</th>
                <th>Discapasidad</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in filtro %}
        <tr>
            <td>{{obj.nombre_apellido}}</td>
            <td>{{obj.get_jefe_familia_display}}</td>
            <td>{{obj.municipio.nombre}}</td>
            <td>{{obj.comunidad.nombre}}</td>
            <td>{{obj.get_sexo_display}}</td>
            <td>{{obj.fecha_nacimiento}}</td>
            <td>{{obj.nombre_caps|default:"N/R"}}</td>
            <td>{{obj.cargo_caps|default:"N/R"}}</td>
            <td>{{obj.get_discapasidad_display|default:"N/R"}}</td>
        </tr>
        {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre apellido</th>
                <th>Jefe familia</th>
                <th>Municipio</th>
                <th>Comunidad</th>
                <th>Sexo</th>
                <th>Fecha nacimiento</th>
                <th>Caps al que pertenece</th>
                <th>Cargo caps</th>
                <th>Discapasidad</th>
            </tr>
        </tfoot>
    </table>
                </p>
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
           'excel'
        ],
        "pageLength": 100,
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
} );
</script> 
{% endblock extra_js %}