{% extends "filtros/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
{% endblock extra_css %}

{% block contenido %}
<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">FILTROS REALIZADOS</h6>
            </div>
            <div class="card-body">
            {% include "filtros/filtros.html" %}
            </div> <!-- card body {{request.session.items}} -->
          </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container-fluid">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p>Total de actividades: <span>{{conteo}}</span> </p>
              <div class="d-flex justify-content-between align-items-center">
        
        <div class="table-responsive">
        <table id="example" class="table">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>No. Participante</th>
                <th>Hombres</th>
                <th>Mujeres</th>
                <th>Presidente H</th>
                <th>Presitende M</th>
                <th>Tesorero H</th>
                <th>Tesorero M</th>
                <th>Secretario H</th>
                <th>Secretario M</th>
                <th>Vocal H</th>
                <th>Vocal M</th>
                <th>Fiscal H</th>
                <th>Fiscal M</th>
                <th>Apoyo H</th>
                <th>Apoyo M</th>

            </tr>
        </thead>
        <tbody>
        {% for obj in filtro %}
        <tr>
            <td>{{obj.actividad}}</td>
            <td>{{obj.fecha}}</td>
            <td>{{obj.numero_participante|default:0}}</td>
            <td>{{obj.numero_hombres|default:0}}</td>
            <td>{{obj.numero_mujeres|default:0}}</td>
            <td>{{obj.numero_presidencia|default:0}}</td>
            <td>{{obj.numero_presidencia_m|default:0}}</td>
            <td>{{obj.numero_tesorero|default:0}}</td>
            <td>{{obj.numero_tesorero_m|default:0}}</td>
            <td>{{obj.numero_secretario|default:0}}</td>
            <td>{{obj.numero_secretario_m|default:0}}</td>
            <td>{{obj.numero_vocal|default:0}}</td>
            <td>{{obj.numero_vocal_m|default:0}}</td>
            <td>{{obj.numero_fiscal|default:0}}</td>
            <td>{{obj.numero_fiscal_m|default:0}}</td>
            <td>{{obj.numero_apoyo|default:0}}</td>
            <td>{{obj.numero_apoyo_m|default:0}}</td>
        </tr>
        {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <th>Actividad</th>
                <th>No. Participante</th>
                <th>Hombres</th>
                <th>Mujeres</th>
                <th>Presidente H</th>
                <th>Presitende M</th>
                <th>Tesorero H</th>
                <th>Tesorero M</th>
                <th>Secretario H</th>
                <th>Secretario M</th>
                <th>Vocal H</th>
                <th>Vocal M</th>
                <th>Fiscal H</th>
                <th>Fiscal M</th>
                <th>Apoyo H</th>
                <th>Apoyo M</th>
            </tr>
        </tfoot>
    </table>
    </div>
                
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
           'excel'
        ],
        "pageLength": 100,
        "paging":   true,
        "ordering": true,
        "info":     true,
        "responsive": true
    } );
} );
</script> 
{% endblock extra_js %}


