{% extends "filtros/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
{% endblock extra_css %}

{% block contenido %}
<section class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">FILTROS REALIZADOS</h6>
            </div>
            <div class="card-body">
            {% include "filtros/filtros.html" %}
            </div> <!-- card body {{request.session.items}} -->
          </div> <!-- card -->
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
</section>
<div class="py-5 bg-light">
    <div class="container-fluid">

        <div class="row">
            
        <div class="col-md-12">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <button type="button" class="btn btn-primary">
                Total de actividades: <span class="badge badge-light">{{conteo}}</span>
              </button>
              <button type="button" class="btn btn-warning">
                Caps repetidos: <span class="badge badge-light">{{num_caps_repetidos}}</span>
              </button>
              <br> <br>
              <div id="esconder">
                  {% for obj in caps_repetidos %}
                      <ul>
                          <li>{{obj}}</li>
                      </ul>
                  {% endfor %}
              </div>
              <button id="show">Mostrar CAPS respetidos</button>
             <br><br>
              <div class="d-flex justify-content-between align-items-center">
                <p>
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Tipo de actividad</th>
                <th>Municipio</th>
                <th>No. Participante</th>
                <th>Hombres</th>
                <th>Mujeres</th>
                <th># CAPS</th>
                <th>Caps Participante</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in filtro %}
        <tr>
            <td>{{obj.actividad}}</td>
            <td>{{obj.fecha}}</td>
            <td>{% for x in obj.tipo_actividad.all %}{{x.nombre}} {% endfor %}</td>
            <td>{{obj.municipio.nombre}}</td>
            <td>{{obj.numero_participante}}</td>
            <td>{{obj.numero_hombres}}</td>
            <td>{{obj.numero_mujeres}}</td>
            <td>{{obj.caps.all|length}}</td>
            <td>{% for x in obj.caps.all %} <span class="badge badge-secondary">{{x.nombre_caps}}</span>, {% endfor %}</td>
        </tr>
        {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <th>Actividad</th>
                <th>Tipo de actividad</th>
                <th>Municipio</th>
                <th>No. Participante</th>
                <th>Hombres</th>
                <th>Mujeres</th>
                <th># CAPS</th>
                <th>Caps Participante</th>
            </tr>
        </tfoot>
    </table>
                </p>
              </div>

            </div>
          </div>
            </div>

        </div>
    </div>
</div>
{% endblock contenido %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
           'excel'
        ],
        "pageLength": 100,
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
} );
</script> 
<script>
$(document).ready(function(){
  $('#esconder').hide()
  $("#show").click(function(){
    $("#esconder").show();
  });
});
</script>
{% endblock extra_js %}


