{% extends "seguimiento/basedash.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">
{% endblock extra_css %}
{% block contenido %}
<style>
    .select2-container .select2-selection--single{
        height: 45px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 40px;
    }
    .user-conf{
        visibility: hidden;

    }
    .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<section class="inner-header layer-overlay bg-title" data-bg-img="/static/img/imgprueba/encuesta.png">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">{{survey.name|title}}</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/encuestas/">Encuestas </a></li>
                            <li class="active">{{survey.name|title}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="bg-silver-light">

        <section class="bg-lighter">
            <div class="container pt-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 class="title line-bottom"> Análisis <span class="text-theme-colored">Encuesta</span></h4>
                    </div>

                </div>


                <div class="row mb-20">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card-admin">
                            <div class="card-body">

                                <div class="row">
                                    <h3 class="mt-0 mb-5 pr-15 pl-15">Filtros <span class="text-theme-colored"> Encuesta</span></h3>
                                        <h4 class="mt-0 mb-5 pr-15 pl-15">Número de respuestas: {{numero_respuestas}} {% if centinela %}<a href="/encuestas/ver-tabla/{{survey.id}}">(ver tabla)</a>{% endif %}</h4>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            {% include "encuestas/consulta_form.html" %}
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card-admin">
                                <div class="card-body mb-10">

                                    <div class="row mb-10">
                                        <h3 class="mt-0 mb-5 pr-15 pl-15">Descripción <span class="text-theme-colored"> Encuestas</span></h3>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            {{survey.description|safe}}
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                <div class="row mb-20">
                    {% if dict_conteo_radio %}
                        {% for grafo_radio in dict_conteo_radio.items %}
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 mb-20">
                            <div class="card-admin">
                                <div class="card-body">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="container-radio-{{forloop.counter}}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                    </div>


                                </div>


                            </div>

                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if dict_conteo_select %}
                        {% for grafo_select in dict_conteo_select.items %}
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 mb-20">
                            <div class="card-admin">
                                <div class="card-body">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div id="container-select-{{forloop.counter}}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                    </div>


                                </div>


                            </div>

                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if dict_conteo_multiselect %}
                        {% for grafo_select in dict_conteo_multiselect.items %}
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 mb-20">
                            <div class="card-admin">
                                <div class="card-body">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div id="container-multiselect-{{forloop.counter}}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                    </div>


                                </div>


                            </div>

                        </div>
                        {% endfor %}
                    {% endif %}
                    {% if dict_conteo_text %}
                        {% for k,v in dict_conteo_text.items %}
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 mb-20">
                            <div class="card-admin">
                                <div class="card-body">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <td><strong>{{k}}</strong></td>
                                                </tr>
                                                {% for rps in v %}
                                                    <tr>
                                                        <td>{{rps}}</td>
                                                    </tr>
                                                {% endfor %} 
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

        </section>
    </div>





{% endblock contenido %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script type="text/javascript">
    
$('#id_fecha_inicial').datepicker({
    format: "yyyy-mm-dd",
    language: "es",
    autoclose: true
});
$('#id_fecha_final').datepicker({
    format: "yyyy-mm-dd",
    language: "es",
    autoclose: true
});

</script>
<script type="text/javascript">
    $( "select" ).addClass( "form-control" );
    $(document).ready(function() {
        $('#id_municipio,#id_comunidad,#id_caps').select2();
    });


    $("#id_municipio").change(function () {
      var url = '/encuestas/ajax/load-comunidad/'
      var municipioId = $("#id_municipio").val();

        $.ajax({
            url: url,
            data: {
              'municipio': municipioId
            },
            success: function (data) {
              $("#id_comunidad").html(data);
            }
        });
    });

    $("#id_comunidad").change(function () {
      var url = '/encuestas/ajax/load-caps/'
      var comunidadId = $("#id_comunidad").val();

        $.ajax({
            url: url,
            data: {
              'comunidad': comunidadId
            },
            success: function (data) {
              $("#id_caps").html(data);
            }
        });
    });


</script>
{% for key, value in dict_conteo_radio.items %}
<script type="text/javascript">
// Build the chart
Highcharts.chart('container-radio-{{forloop.counter}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '{{key}}'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            },
            showInLegend: true
        }
    },
    series: [{
        name: '',
        colorByPoint: true,
        data: [
        {% for k,v in value.items %}
            {
                name: '{{k}}',
                y: {{v|default:0}}
            },
        {% endfor %}
        ]
    }]
});
</script>
{% endfor %}

{% for key, values in dict_conteo_select.items %}
<script type="text/javascript">
// Create the chart
Highcharts.chart('container-select-{{forloop.counter}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: '{{key}}'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Conteo'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}'
            }
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
    },

    series: [{
        name: '',
        colorByPoint: true,
        data: [
        {% for k,v in values.items %}
            {
                name: '{{k}}',
                y: {{v|default:0}},
            },
        {% endfor %}
        ]
    }],

});
</script>
{% endfor %}


<script type="text/javascript">
{% for key, values in dict_conteo_multiselect.items %}

var dataSum = 0;
{% for k,val in values.items %}
    dataSum += {{val}};
{% endfor %}

Highcharts.chart('container-multiselect-{{forloop.counter}}', {
    chart: {
        type: 'bar'
    },
    title: {
        text: '{{key}}'
    },
    xAxis: {
        categories: [{% for k,v in values.items %}
                        '{{k}}',
                    {% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total cantidades'
        }
    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                formatter:function() {
                    //var pcnt = (this.y / dataSum) * 100;
                    return  this.y;
                }
            }
        }
    },
    series: [{
        name: '',
        data: [{% for k,v in values.items %}
                    {{v}},
                {% endfor %}]
    }]
});
{% endfor %}
</script>
{% endblock extra_js %}
