{% extends 'base.html' %}

{% block contenido %}

<p>Gracias! por realizar la encuestas. Su respuesta ha sido almacenada con exito!!!</p>
<a href="/encuestas/"><pre>ver mas encuestas</pre></a>

{% endblock %}
