<div class="col-lg-12">
    <form action="." method="POST" autocomplete="off">{% csrf_token %}
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="sexo">Fecha inicial</label>
					{{form.fecha_inicial}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="sexo">Fecha final</label>
					{{form.fecha_final}}
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="sexo">Sexo</label>
					{{form.sexo}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="rango_edad">Rango de edad</label>
					{{form.rango_edad}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="municipio">Municipio</label>
					{{form.municipio}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="comunidad">Comunidad</label>
					{{form.comunidad}}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="caps">Caps</label>
					{{form.caps}}
				</div>
			</div>
		</div>
        <div class="">
            <input type="submit" value="Consultar" id="boton" class="btn btn-success"/>
        </div>
    </form>
</div>


