{% extends 'base.html' %}
{% load survey_extras %}
{% block extra_css %}
    <link href="/static/css/radio.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
{% endblock extra_css %}
{% block contenido %}
<style>
.select2-container .select2-selection--single{
    height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
form label {
    font-size: 25px;
}
.agrandar {
    font-size: 30px;
}
</style>

<section class="inner-header layer-overlay bg-title" data-bg-img="/static/img/imgprueba/encuesta.png">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">{{survey.name|title}}</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/encuestas/">Encuestas </a></li>
                            <li class="active">{{survey.name|title}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="survey-description">
                    <h3>Descripción</h3>
                    <hr>
                    {{survey.description|safe}}
                </div>
                <form action="/encuestas/survey/{{survey.id}}/" method="post">{% csrf_token %}
                    <ol class="survey-questions">
                        <div class="category-container">
                            {% for field in response_form %}
                                <li id="section-one" class="mb-50 q-item" value="{% counter %}">
                                    {% if field.field.required %}
                                        <div class="field-wrapper question-required">
                                            {{ field.errors }}

                                            <label class="label-inline">
                                                <h3 class="mb-0">{{ field.label }}</h3>
                                            </label>
                                            <span class="asterix"> <span class="label label-danger">Requerido*</span> </span>
                                            <hr class="mt-0">
                                        {% else %}
                                        <div class="field-wrapper">
                                            {{ field.errors }}
                                            <label class="label-inline agrandar">
                                                <h3 class="mb-0">{{ field.label }}</h3>
                                            </label>
                                            <hr class="mt-0">
                                        {% endif %}
                                            <span class="form-help-text">{{ field.help_text}}</span>
                                            <div class="form-field-body">
                                                {{ field }}
                                            </div>
                                        </div>
                                </li>
                            {% endfor %}
                        </div>
                    </ol>
                    <div ><input type="submit" class="btn btn-success" value="enviar"></div>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block extra_js %}
    <script src="/static/js/select2.min.js"></script>
    <script type="text/javascript">
        $( "input[type='text'],input[type='number'], select, textarea" ).addClass( "form-control" );
        $( "input[type='radio']" ).addClass( "radio" );
        $(document).ready(function() {
            $('#id_municipio,#id_comunidad,#id_caps').select2();
        });

    $("#id_municipio").change(function () {
      var url = '/encuestas/ajax/load-comunidad/'
      var municipioId = $("#id_municipio").val();

        $.ajax({
            url: url,
            data: {
              'municipio': municipioId
            },
            success: function (data) {
              $("#id_comunidad").html(data);
            }
        });
    });

    $("#id_comunidad").change(function () {
      var url = '/encuestas/ajax/load-caps/'
      var municipioId = $("#id_comunidad").val();

        $.ajax({
            url: url,
            data: {
              'comunidad': municipioId
            },
            success: function (data) {
              $("#id_caps").html(data);
            }
        });
    });

    </script>
{% endblock %}
