{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/r-2.2.1/datatables.min.css"/>
{% endblock extra_css %}
{% block contenido %}
<style type="text/css">
	.breadcrumb{
		background: transparent !important;
	}
	a:hover, a:focus{
		text-decoration: none;
	}

	.btn-close:hover{
		text-decoration: none;
		color: grey;

	}
	.btn-close{
		color: grey;
	}

</style>
<section class="inner-header layer-overlay bg-title" data-bg-img="/static/img/imgprueba/encuesta.png">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">Encuestas</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="/">Inicio</a></li>
                            <li class="active">Encuestas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="bg-silver-light">

		<section class="bg-lighter">
			<div class="container pt-20">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="card-admin">
							<div class="card-body pr-20 pl-20">
								<h2 class="mt-10 mb-20"> Lista de encuestas de <span class="text-theme-colored">conocimiento</span></h2>
								<div class="table-responsive mt-30 mb-30">
									<table class="table table-hover" id="tablesurvey">
											<thead>
												<tr>
													<th>Encuesta</th>
													<th>Estado</th>
													<th>Enlace</th>
													<th>Resultados</th>
												</tr>
											</thead>
											<tbody>
												{% for obj in survey %}
													<tr>
														
													{% if obj.is_active %}
														<td>{{obj.name}}</td>
													{% elif not obj.is_active and request.user.is_authenticated %}
														<td>{{obj.name}}</td>
													{% endif %}
														
														
													{% if obj.is_active %}
														<td><span class="label label-success">Activo</span></td>
													{% elif not obj.is_active and request.user.is_authenticated %}
														<td><span class="label label-danger">Inactivo</span></td>
													{% endif %}
														
														
													{% if obj.is_active %}
														<td><a href="/encuestas/survey/{{obj.id}}"> <i class="fa fa-plus"></i> Agregar</a></td>
													{% elif not obj.is_active and request.user.is_authenticated %}
														<td><a class="btn-close"><i class="fa fa-close"></i> Finalizada</a></td>
													{% endif %}

														
													{% if obj.is_active %}
														<td><a href="/encuestas/analisis/survey/{{obj.id}}"><i class="fa fa-pie-chart"></i> Analisis</a></td>
													{% elif not obj.is_active and request.user.is_authenticated %}
														<td><a href="/encuestas/analisis/survey/{{obj.id}}"><i class="fa fa-pie-chart"></i> Analisis</a></td>
													{% endif %}
													</tr>
												{% endfor %}



											</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>

{% if messages %}
<div style="display: none;" id="mensaje-save">
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}

</div>
{% endif %}

{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        $('#tablesurvey').dataTable( {
	            "language": {
	                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
	            }
	        } );
		} );
		{% if messages %}
			$.fancybox.open({ // FancyBox 3
				src: '#mensaje-save',
			});
		{% endif %}
	</script>

{% endblock %}
