<option value="">---------</option>
{% for obj in lugares %}
{% if obj.nombre_caps %}
    <option value="{{ obj.pk }}">{{ obj.nombre_caps }}</option>
{% else %}
     <option value="{{ obj.pk }}">{{ obj.nombre }}</option>
{% endif %}

{% endfor %}
