<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista participantes</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    
    
</head>
<body>
<div class="container">
    <h2>Lista de personas - {{encuesta}}</h2>
    <table id="example" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">entrevistado</th>
      <th scope="col">Fecha</th>
      <th scope="col">Municipio</th>
      <th scope="col">CAPS</th>
      <th scope="col">Sexo</th>
      <th scope="col">Rango de Edad</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in tabla %}
    <tr>
      <th scope="row">{{obj.interviewee}}</th>
      <th>{{obj.created}}</th>
      <td>{{obj.municipio}}</td>
      <td>{{obj.caps}}</td>
      <td>{{obj.get_sexo_display}}</td>
      <td>{{obj.get_rango_edad_display}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script>
 $(document).ready(function() {
    $('#example').DataTable({
      dom: 'Bfrtip',
      //pageLength: 100,
      buttons: [
            //{ extend: 'csvHtml5', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}" },
            { extend: 'excelHtml5', footer: true, title: "Tabla", filename:"Tabla_personas" },
            { extend: 'pdfHtml5', footer: true, title: "Tabla", filename:"Tabla_personas", orientation: 'landscape',pageSize: 'LEGAL'},
            //{ extend: 'print', footer: true, title: "Tabla de Inversiones {{anio}}", filename:"Tabla Inversiones-{{anio}}"},
        ],
      "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
      "lengthMenu": [100, 150, "Todos"]
    });
} ); 
</script>

</body>
</html>