{% extends "base.html" %}
{% block extra_css %}
	<link href="/static/css/audio.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}
{% block contenido %}
<div class="audio-player-container"></div>
{% endblock contenido %}
{% block extra_js %}
	<script src="/static/js/audio.js" type="text/javascript"></script>
{% endblock extra_js %}