{% load solo_tags static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/covid/images/logos/favicon.png">
    <!-- Site Title  -->
    <title>CAPS | COVID-19</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="/static/covid/assets/css/bundle.css?ver=100">
    <link rel="stylesheet" href="/static/covid/assets/css/styles.css?ver=100">
</head>

<body class="nk-body">

    <div class="nk-wrap">
        <header class="nk-header bg-light has-overlay" id="home">
            <div class="overlay shape shape-a"></div><!-- Overlay Shape -->
            <div class="nk-navbar is-light is-sticky" id="navbar">
                <div class="container">
                    <div class="nk-navbar-wrap">
                        <div class="nk-navbar-logo logo">
                            <a href="https://caps-nicaragua.org/" class="logo-link">
                                <img class="logo-dark" src="/static/covid/images/logos/logo.png" srcset="" alt="logo" width="60%">
                            </a>
                        </div><!-- .nk-navbar-logo -->
                        <div class="nk-navbar-toggle d-lg-none">
                            <a href="#" class="toggle" data-menu-toggle="navbar-menu"><em class="icon-menu icon ni ni-menu"></em><em class="icon-close icon ni ni-cross"></em></a>
                        </div><!-- .nk-navbar-toggle -->
                        <nav class="nk-navbar-menu" id="navbar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#home">Inicio </a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#about">Acerca del virus</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#symptoms">Síntomas</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#prevention">Prevención</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#treatment">Tratamientos</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#protect">Normas</a></li>
                                <li class="nk-menu-item"><a class="scrollto nav-link nk-menu-link" href="#faq">FAQ</a></li>

                            </ul>
                            <!-- <ul class="nk-menu-btns">
                                <li class="nk-menu-item"><a href="#protect" class="btn btn-sm scrollto nav-link">Do &amp; Don’t</a></li>
                            </ul> -->
                        </nav><!-- .nk-navbar-menu -->
                    </div><!-- .nk-navbar-wrap -->
                </div><!-- .container -->
            </div><!-- .nk-navbar -->
            <div class="nk-banner">
                <div class="container">
                    <div class="row g-gs align-items-center justify-content-between">
                        <div class="col-lg-5 order-lg-last">
                            <div class="nk-banner-image">
                                <img src="/static/covid/images/nuevas/header-a.png" alt="">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="nk-banner-block">
                                <div class="content">
                                    <h1 class="heading">
                                        <span>CORONA</span>
                                        <span class="heading-sm">
                                            <span class="sup">COVID-19</span>
                                            <span class="sub">VIRUS</span>
                                        </span>
                                    </h1>
                                    <p>
                                        El coronavirus (COVID-19) se informó por primera vez en Wuhan, Hubei, China, en diciembre de 2019.
                                        El 11 de Marzo de 2020 la Organización Mundial de la Salud (OMS) reconoció el brote como una pandemia.
                                    </p>

                                    <ul class="nk-banner-btns">
                                        <li><a href="#protect" class="btn scrollto"><span>Medidas de Protección </span><em class="icon ni ni-shield-half"></em></a></li>
                                        <li><a href="#about" class="btn btn-transparent scrollto"><span>Acerca de COVID-19</span><em class="icon ni ni-arrow-right"></em></a></li>
                                    </ul>

                                    <div class="status">
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                            <h5 class="subtitle">Casos activos en Nicaragua</h4>
                                            </div>
                                        </div>
                                        <div class="row g-gs">

                                            <div class="col-sm-4 col-6">
                                                <div class="status-item">
                                                    <h6 class="title">Confirmados</h6>
                                                    <div class="h3 count"><div class="cases"></div></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-6">
                                                <div class="status-item">
                                                    <h6 class="title">Muertes </h6>
                                                    <div class="h3 count"><div class="deaths"></div></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-6">
                                                <div class="status-item">
                                                    <h6 class="title">Recuperación</h6>
                                                    <div class="h3 count"><div class="recovered"></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-note">
                                        * Datos Nacionales actualizados: gracias a https://coronavirus-19-api.herokuapp.com
                                        </div>
                                        <ul class="nk-banner-btns">
                                            <li>
                                                <a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" class="btn  scrollto">
                                                    <span>Ver Mapa</span><em class="icon ni ni-map-pin-fill"></em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- .status -->
                                </div><!-- .content -->
                            </div><!-- .nk-banner-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nk-banner -->
        </header><!-- .nk-header -->

        <main class="nk-pages">
            <section class="section section-l bg-white section-about" id="about">
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs justify-content-between">
                            <div class="col-lg-7">
                                <div class="text-block">
                                    <h5 class="subtitle">Sobre la Enfermedad</h5>
                                    <h2 class="title">Coronavirus 2019</h2>
                                    <p class="lead">
                                        <strong>COVID-19 es una nueva enfermedad que puede afectar sus pulmones y las vías respiratorias. </strong>
                                        Es causado por un virus llamado coronavirus. Fue descubierto en diciembre de 2019 en Wuhan, Hubei, China.
                                    </p>
                                    <p>
                                        Los signos comunes de infección incluyen síntomas respiratorios, fiebre, tos y dificultad para respirar.
                                        En casos más severos, la infección puede causar neumonía, síndrome respiratorio agudo severo, insuficiencia renal e incluso la muerte.
                                    </p>
                                    <p>
                                        Las recomendaciones estándar para prevenir la propagación de la infección incluyen: lavarse las manos regularmente, cubrirse la boca y
                                        la nariz, al toser y estornudar, además de cocinar bien la comida, por posible contagio alimenticio. Evite el contacto cercano con
                                        cualquier persona que presente síntomas de enfermedades respiratorias, como tos y estornudos.
                                    </p>
                                </div><!-- .text-block -->
                            </div><!-- .col -->
                            <div class="col-lg-5 col-xl-4">
                                <div class="wgs mt-sm-2 mt-md-4 mt-lg-0 ml-lg-4 ml-xl-0">
                                    <div>
                                        <img src="/static/covid/images/nuevas/covid.png" alt="">
                                    </div>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-spread" id="spread">
                <div class="container">
                    <div class="section-head text-center wide-lg">
                        <h5 class="subtitle">¿Cómo se propaga el COVID-19?</h5>
                        <h2 class="title">Transmisión del nuevo <br class="d-sm-none">Coronavirus</h2>
                        <p>
                            Una persona puede contraer la COVID-19 por contacto con otra que esté infectada por el virus. La enfermedad puede propagarse de persona
                            a persona a través de las gotículas procedentes de la nariz o la boca que salen despedidas cuando una persona infectada tose o exhala.
                        </p>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/spread-a.png" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">Contagio Persona a persona</h4>
                                        <p>El virus se propaga principalmente de persona a persona. Esto puede suceder entre personas que están en contacto cercano entre sí.</p>
                                    </div>
                                </div><!-- .box -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/spread-b.png" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">Contagio mediante superficies</h4>
                                        <p>
                                            Estas gotículas caen sobre los objetos y superficies que rodean a la persona, de modo que otras personas pueden contraer la COVID-19
                                            si tocan estos objetos o superficies y luego se tocan los ojos, la nariz o la boca.
                                        </p>
                                    </div>

                                </div><!-- .box -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/spread-c.png" alt="">
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title">Contagio mediante gotas de saliva</h4>
                                        <p>
                                            pueden contagiarse si inhalan las gotículas que haya esparcido una persona con COVID-19 al toser o exhalar. Por eso es importante
                                            mantenerse a más de 1 metro (3 pies) de distancia de una persona que se encuentre enferma.
                                        </p>
                                    </div>
                                </div><!-- .box -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <ul class="section-actions">
                            <li><a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses" class="btn scrollto" target="_blank"><em class="icon ni ni-question"></em><span>Preguntas comunes sobre contagiarse de coronavirus </span></a></li>
                        </ul><!-- .section-actions -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-white section-symptom" id="symptoms">
                <div class="container">
                    <div class="section-head text-center wide-lg">
                        <h5 class="subtitle">¿Cuáles son los síntomas del virus?</h5>
                        <h2 class="title">Síntomas del COVID-19</h2>
                        <p>Los síntomas más comunes de COVID-19 son fiebre, cansancio y tos seca. Algunos pacientes pueden tener dolores y molestias, congestión nasal,
                        secreción nasal, dolor de garganta o diarrea. Estos síntomas generalmente son leves y comienzan gradualmente. Además, los síntomas pueden aparecer
                        2-14 días después de la exposición.</p>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <img src="/static/covid/images/nuevas/symptom-a.png" alt="">
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">Fiebre</h5>
                                        <p><strong>Fiebres Altas</strong> – esto significa que siente calor al tocar su pecho o espalda (no necesita medir su temperatura). Es un signo común y también puede aparecer en 2-10 días si se ve afectado.</p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <img src="/static/covid/images/nuevas/symptom-b.png" alt="">
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">Tos</h5>
                                        <p><strong>Tos continua</strong> – Esto significa tener episodios de Tos continua, sin mucosa, incluso 3 o 4 episodios de tos en menos de 24 horas.</p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-8 col-lg-4">
                                <div class="box2">
                                    <div class="box2-gfx">
                                        <img src="/static/covid/images/nuevas/symptom-c.png" alt="">
                                    </div>
                                    <div class="box2-content">
                                        <h5 class="title">Falta de aliento</h5>
                                        <p><strong>Dificultad para respirar</strong> – Usualmente 1 de cada 6 personas que contrae COVID-19, puede desarrollar dificultad para respirar y falta de aliento.</p>
                                    </div>
                                </div><!-- .box2 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="section-cta">
                            <div class="row g-gs justify-content-center">
                                <div class="col-sm-10 col-md-8 col-lg-7 col-xl-8">
                                    <div class="notes">
                                        <em class="icon ni ni-alert-fill-c"></em>
                                        <p><strong>Quédese en casa y llame a su médico:</strong>  Si cree que ha estado expuesto al COVID-19 y desarrolla fiebre y cualquier síntoma, como tos o dificultad para respirar, o llame a la línea de atención del MINSA 132, lo antes posible para obtener asesoramiento médico.</p>
                                    </div>
                                </div><!-- .col -->
                                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-4">
                                    <div class="d-flex justify-content-lg-end ml-sm-5 ml-4 pl-3 ml-lg-0 pl-lg-0">
                                        <a href=" http://www.minsa.gob.ni/" class="btn scrollto" target="_blank"><em class="icon ni ni-question"></em><span>Más información.</span></a>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div>
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-advice pb-0 ov-h" id="prevention">
                <div class="container">
                    <div class="section-head text-center wide-lg">
                        <h5 class="subtitle">¿Cómo puedo evitar contraer el Coronavirus?</h5>
                        <h2 class="title">Prevención y Consejos</h2>
                        <p>Actualmente no existe una vacuna para prevenir la enfermedad por coronavirus 2019 (COVID-19). La mejor manera de prevenir enfermedades es evitar exponerse a este virus. Esté al tanto de la información más reciente sobre el brote de COVID-19, disponible en el sitio web de la OMS y a través de su autoridad de salud pública nacional y local.</p>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs gy-sm-m">
                            <div class="col-lg-3 col-sm-6">
                                <div class="box3">
                                    <div class="box3-gfx">
                                        <img src="/static/covid/images/nuevas/advice-a.png" alt="">
                                    </div>
                                    <div class="box3-content">
                                        <h5 class="title">Lava tus manos frecuentemente</h5>
                                        <p>Lave sus manos regularmente y a fondo con un desinfectante para manos a base de alcohol o bien con agua y jabón durante al menos 20 segundos.</p>
                                    </div>
                                </div><!-- .box3 -->
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="box3">
                                    <div class="box3-gfx">
                                        <img src="/static/covid/images/nuevas/advice-b.png" alt="">
                                    </div>
                                    <div class="box3-content">
                                        <h5 class="title">Distanciamiento Social</h5>
                                        <p>Mantenga al menos 1 metro (3 pies) de distancia entre usted y cualquier persona que esté tosiendo o estornudando, puesto que si está demasiado cerca, tiene la posibilidad de infectarse.</p>
                                    </div>
                                </div><!-- .box3 -->
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="box3">
                                    <div class="box3-gfx">
                                        <img src="/static/covid/images/nuevas/advice-c.png" alt="">
                                    </div>
                                    <div class="box3-content">
                                        <h5 class="title">Evite estar tocar su rostro</h5>
                                        <p>Las manos tocan muchas superficies y pueden detectar el virus. Por lo tanto, las manos pueden transferir el virus a los ojos, la nariz o la boca y pueden enfermarlo.</p>
                                    </div>
                                </div><!-- .box3 -->
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-6">
                                <div class="box3">
                                    <div class="box3-gfx">
                                        <img src="/static/covid/images/nuevas/advice-d.png" alt="">
                                    </div>
                                    <div class="box3-content">
                                        <h5 class="title">Higiene respiratoria</h5>
                                        <p>Mantenga una buena higiene respiratoria al cubrirse la boca y la nariz con el codo o pañuelo doblado, así puede toser o estornudar y evitar contagiar a las demás personas, también puede recurrir a usar mascarillas.</p>
                                    </div>
                                </div><!-- .box3 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <ul class="section-actions">
                            <li><a href="#handwash" class="btn scrollto"><span>¿Cómo lavarse las manos?</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                            <li><a href="#faq" class="btn btn-transparent scrollto"><span>FAQ sobre COVID-19</span><em class="icon ni ni-arrow-long-right"></em></a></li>
                        </ul><!-- .section-actions -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-steps pb-4" id="steps">
                <div class="container">
                    <div class="section-content section-content-boxed">
                        <div class="row g-gs justify-content-center align-items-center">
                            <div class="col-lg-8">
                                <div class="list-block pr-lg-4">
                                    <h4 class="title">Acciones para proteger a los demás</h4>
                                    <ul class="list-check">
                                        <li><strong>Si estás enfermo, quédate en casa</strong> – Quédese en casa si está enfermo, excepto para recibir atención médica.</li>
                                        <li><strong>Cubre tu boca y nariz</strong> – Cubrirse con un pañuelo al toser o estornudar (tirar pañuelos usados a la basura) o usar la parte interior del codo.</li>
                                        <li><strong>Usar mascarilla si estás enfermo</strong> – Debe usar una máscara facial cuando esté cerca de otras personas (por ejemplo, compartiendo una habitación o vehículo) y antes de ingresar al proveedor de atención médica. </li>
                                        <li><strong>Limpie y desinfecte las superficies que se tocan con frecuencia</strong> – : Esto incluye teléfonos, mesas, interruptores de luz, pomos de puertas, encimeras, manijas, escritorios, inodoros, grifos y lavabos.</li>
                                        <li><strong>Limpiar las superficies sucias</strong> – Use detergente o agua y jabón para desinfectar.</li>
                                        <li><strong>Manténgase informado sobre la situación local de COVID-19</strong> – Obtenga información actualizada sobre la actividad local de COVID-19 de los funcionarios de <a href="https://www.paho.org/hq/index.php?lang=es" target="_blank">salud pública.</a></li>
                                        <!-- <li><strong>Dedicated, lined trash can</strong> – If possible, dedicate a lined trash can for the ill person. Use gloves when removing garbage bags, and handling & disposing of trash.</li> -->
                                    </ul>
                                </div><!-- .list-block -->
                            </div><!-- .col -->
                            <div class=" col-sm-10 col-md-8 col-lg-4">
                                <img src="/static/covid/images/nuevas/steps.png" class="mb-2 mb-sm-0" alt="">
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-handwash" id="handwash">
                <div class="container mt-n4">
                    <div class="section-subhead text-center">
                        <h4 class="title">Paso a paso para lavar tus manos </h4>
                        <!-- <a href="#faq" class="btn btn-sm btn-transparent scrollto"><span>Why do I need wash hand</span><em class="icon ni ni-arrow-long-right"></em></a> -->
                    </div>
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-02.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Moja tus manos</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-03.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Aplica Jabón</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-04.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese las palmas de las manos entre sí</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-05.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese la palma de la mano derecha contra el dorso de la mano izquierda y viceversa</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-06.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese las palmas de las manos entre sí con los dedos entrelazados</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-07.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese el dorso de los dedos de una mano, con la palma de la opuesta, agarrándose los dedos</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="row g-gs justify-content-center">
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-08.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese con un movimiento de rotación el pulgar izquierdo y viceversa</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-09.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Frótese la llema de los dedos con la palma de las manos</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-10.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Enjuague sus manos con agua</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-11.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Seque sus manos con una toalla de papel</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-12.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">Con la misma toalla de papel cierre el grifo</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
                                <div class="box4">
                                    <div class="box-gfx">
                                        <img src="/static/covid/images/nuevas/manos/wahshands-13.png" alt="">
                                    </div>
                                    <div class="box4-content">
                                        <h6 class="title">¡Listo! Manos Limpias</h6>
                                    </div>
                                </div><!-- .box4 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-accent-light tc-light section-treatment has-overlay" id="treatment">
                <div class="overlay shape shape-b"></div><!-- Overlay Shape -->
                <div class="container">
                    <div class="section-content">
                        <div class="row g-gs gy-sm-m justify-content-between align-items-center">
                            <div class="col-lg-7 col-xl-6">
                                <div class="text-block">
                                    <h5 class="subtitle">Ten cuidado y Mantente a salvo</h5>
                                    <h2 class="title">Tratamiento para el Coronavirus</h2>
                                    <p><strong>Hasta la fecha, no existe una vacuna ni un medicamento antiviral específico para prevenir o tratar el COVID-19.</strong> Sin embargo, los afectados deben recibir atención para aliviar los síntomas. Las personas con enfermedades graves deben ser hospitalizadas. La mayoría de los pacientes se recuperan gracias a la atención médica.</p>
                                    <p>Los antibióticos no ayudan, ya que no funcionan contra los virus. El tratamiento tiene como objetivo aliviar los síntomas mientras su cuerpo combate la enfermedad. Lo mejor que puede hacer es permanecer aislado otras personas, hasta que se haya recuperado</p>
                                </div><!-- .text-block -->
                            </div><!-- .col -->
                            <div class="col-lg-5">
                                <div class="box5 bg-accent-dark">
                                    <!-- <h6 class="title">Autocuido</h6>
                                    <p>Si tiene síntomas leves, quédese en casa hasta que se recupere. Puede aliviar sus síntomas si usted:</p>
                                    <ul class="list-arrow">
                                        <li>Descansa y duerme</li>
                                        <li>Permanecer en un ambiente fresco</li>
                                        <li>Beber muchos líquidos </li>
                                    </ul> -->
                                    <h6 class="title">Tratamiento Médico</h6>
                                    <p>Si desarrolla fiebre, tos y tiene dificultad para respirar, busque atención médica de inmediato. Llame con anticipación e informe al MINSA al <strong>número 132</strong>, para informar sobre cualquier viaje reciente o contacto reciente con viajeros.</p>
                                    <img src="/static/covid/images/nuevas/personas.png" alt="">

                                </div><!-- .box5 -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-light section-protect" id="protect">
                <div class="container">
                    <div class="section-head text-center wide-lg">
                        <h5 class="subtitle">Normas a seguir</h5>
                        <h2 class="title">Protégete</h2>
                        <p>Lo mejor que puede hacer ahora es planificar cómo puede adaptar su rutina diaria debido al contexto actual. Tome algunas medidas para protegerse: lávese las manos con frecuencia, evite el contacto cercano, cubra la tos y los estornudos, limpie las superficies de uso diario, etc. La mejor manera de prevenir enfermedades es evitar la exposición a este virus.</p>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs justify-content-center flex-lg-nowrap">
                            <div class="col-md-8 col-lg-5 col-xl-6 align-self-end">
                                <div class="protect-block-gfx">
                                    <img src="/static/covid/images/nuevas/protect.png" alt="">
                                </div>
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-6 col-lg-4 col-xl-3 flex-grow-1 order-lg-first">
                                <div class="protect-item negative">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/donts-a.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">Evite el contacto cercano con las personas</h5>
                                    </div>
                                </div><!-- .protext-item -->
                                <div class="protect-item negative">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/donts-b.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">No toques tu rostro</h5>
                                    </div>
                                </div><!-- .protext-item -->
                                <div class="protect-item negative">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/donts-c.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">Distanciamiento Social</h5>
                                    </div>
                                </div><!-- .protext-item -->
                            </div><!-- .col -->
                            <div class="col-6 col-mb-5 col-sm-6 col-lg-4 col-xl-3 flex-grow-1 ">
                                <div class="protect-item positive">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/dos-a.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">Lava tus manos</h5>
                                    </div>
                                </div><!-- .protext-item -->
                                <div class="protect-item positive">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/dos-b.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">Bebe mucha agua</h5>
                                    </div>
                                </div><!-- .protext-item -->
                                <div class="protect-item positive">
                                    <div class="protect-gfx">
                                        <img src="/static/covid/images/dos-c.png" alt="">
                                    </div>
                                    <div class="protect-text">
                                        <h5 class="title">Usa mascarillas</h5>
                                    </div>
                                </div><!-- .protext-item -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

            <section class="section section-l bg-white section-faq" id="faq">
                <div class="container">
                    <div class="section-head text-center">
                        <h5 class="subtitle">Preguntas frecuentes</h5>
                        <h2 class="title">Preguntas más comunes y sus respuestas</h2>
                    </div><!-- .section-head -->
                    <div class="section-content">
                        <div class="row g-gs">
                            <div class="col-lg-4">
                                <ul class="nav nav-tabs nav-tabs-vr nav-tabs-btns">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#covid-basics">Generalidades del Coronavirus 2019</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#covid-spreads">¿Cómo se propaga?</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#covid-symptoms">Síntomas y pruebas</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#covid-myth">Mitos del Coronavirus</a>
                                    </li>
                                </ul><!-- .nav-tabs -->
                            </div><!-- .col -->
                            <div class="col-lg-8">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="covid-basics">
                                        <div class="accordion">
                                            <div class="accordion-item">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#covid-basics-01">¿Qué es un nuevo coronavirus? <span class="accordion-icon"></span></h5>
                                                <div id="covid-basics-01" class="collapse show">
                                                    <div class="accordion-content">
                                                        <p>
                                                            El 11 de febrero de 2020, la Organización Mundial de la Salud anunció un nombre oficial para la enfermedad que
                                                            causó el nuevo brote de coronavirus de 2019, identificado por primera vez en Wuhan, China. El nuevo nombre de
                                                            esta enfermedad es la enfermedad por coronavirus 2019, abreviada como COVID-19. En COVID-19, "CO" significa
                                                            "corona", "VI" para "virus" y "D" para enfermedad. Anteriormente, esta enfermedad se denominaba "coronavirus
                                                            novedoso de 2019" o "2019-nCoV".
                                                        </p>
                                                        <p>
                                                            El virus que causa la enfermedad por coronavirus 2019 (COVID-19) no es lo mismo que los coronavirus que
                                                            circulan comúnmente entre los humanos y causan enfermedades leves, como el resfriado común.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-basics-02">¿Cómo pueden las personas ayudar a detener el estigma relacionado con COVID-19?<span class="accordion-icon"></span></h5>
                                                <div id="covid-basics-02" class="collapse">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Las personas pueden combatir el estigma y ayudar, no lastimar, a otros brindando apoyo social. Contrarrestar el
                                                            estigma aprendiendo y compartiendo hechos. Comunicar los hechos de que los virus no se dirigen a grupos raciales
                                                            o étnicos específicos y cómo se propaga realmente COVID-19 puede ayudar a detener el estigma.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="covid-spreads">
                                        <div class="accordion">

                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-spreads-02">¿Cómo se propaga?<span class="accordion-icon"></span></h5>
                                                <div id="covid-spreads-02" class="collapse show">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Este virus se detectó por primera vez en la ciudad de Wuhan, provincia de
                                                            Hubei, China. Las primeras infecciones estaban relacionadas con un mercado de
                                                            animales vivos, pero el virus ahora se está propagando de persona a persona.
                                                        </p>
                                                        <p>El virus que causa COVID-19 parece propagarse de manera fácil y sostenible en la comunidad, la propagación
                                                            comunitaria significa que las personas han sido infectadas con el virus en un área llena de personas, sin
                                                            embargo muchos países han logrado detener la propagación, para conocer más,
                                                            <a href="https://www.bbc.com/mundo/noticias-internacional-52067658" target="_blank">click aquí</a>.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-spreads-03">¿Puede alguien que ha tenido COVID-19 transmitir la enfermedad a otros? <span class="accordion-icon"></span></h5>
                                                <div id="covid-spreads-03" class="collapse">
                                                    <div class="accordion-content">
                                                        <p>
                                                            El virus que causa COVID-19 se está propagando de persona a persona, alguien que está activamente enfermo
                                                            con COVID-19 puede transmitir la enfermedad a otros. Es por eso que los se recomiendan que estos pacientes
                                                            sean aislados en el hospital o en el hogar (dependiendo de qué tan enfermos estén) hasta que estén mejor y
                                                            ya no presenten un riesgo de infectar a otros.
                                                        </p>
                                                        <p>
                                                            El tiempo que una persona está enferma de manera activa puede variar, por lo que la decisión sobre cuándo liberar
                                                            a alguien del aislamiento se consulta con médicos, expertos en prevención y control de infecciones y funcionarios
                                                            de salud pública e implica considerar detalles de cada situación. </p>
                                                        <p>
                                                            La orientación actual de los casos de coronavirus, sobre cuándo está bien liberar a alguien del aislamiento, deben
                                                            cumplir los siguientes requisitos:
                                                        </p>
                                                        <ul>
                                                            <li>El paciente no tiene fiebre sin el uso de medicamentos para reducir la fiebre.</li>
                                                            <li>El paciente ya no muestra síntomas, como tos. </li>
                                                            <li>El paciente ha dado negativo en al menos dos muestras respiratorias consecutivas recolectadas con al menos 24 horas de diferencia.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="covid-symptoms">
                                        <div class="accordion">
                                            <div class="accordion-item">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#covid-symptoms-01">¿Cuáles son los síntomas de COVID-19?<span class="accordion-icon"></span></h5>
                                                <div id="covid-symptoms-01" class="collapse show">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Los síntomas más comunes de COVID-19 son fiebre, cansancio y tos seca. Algunos pacientes pueden tener dolores y
                                                            molestias, congestión nasal, secreción nasal, dolor de garganta o diarrea. Estos síntomas generalmente son leves
                                                            y comienzan gradualmente. Algunas personas se infectan, pero no desarrollan ningún síntoma y no se sienten mal.
                                                            La mayoría de las personas (alrededor del 80%) se recuperan de la enfermedad sin necesidad de un tratamiento
                                                            especial.
                                                        </p>
                                                        <p>Alrededor de 1 de cada 6 personas que contraen COVID-19 se enferma gravemente y desarrolla dificultad para respirar.
                                                            Las personas mayores, y aquellas con problemas médicos subyacentes como presión arterial alta, problemas cardíacos
                                                            o diabetes, tienen más probabilidades de desarrollar enfermedades graves. Las personas con fiebre, tos y dificultad
                                                            para respirar, deben buscar atención médica.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="covid-myth">
                                        <div class="accordion">
                                            <div class="accordion-item">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#covid-myth-01">¿El virus COVID-19 puede transmitirse en áreas con climas cálidos y húmedos?<span class="accordion-icon"></span></h5>
                                                <div id="covid-myth-01" class="collapse show">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Según la evidencia hasta el momento, el virus COVID-19 se puede transmitir en TODAS LAS ÁREAS, incluidas las áreas
                                                            con clima cálido y húmedo. Independientemente del clima, adopte medidas de protección, la mejor manera de hacerlo,
                                                            es limpiarse las manos con frecuencia. Al hacer esto, elimina los virus que pueden estar en sus manos y evita la
                                                            infección que podría ocurrir al tocarse los ojos, la boca y la nariz.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-myth-02">Tomar un baño caliente no previene la nueva enfermedad por coronavirus<span class="accordion-icon"></span></h5>
                                                <div id="covid-myth-02" class="collapse">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Tomar un baño caliente no le impedirá atrapar COVID-19. Su temperatura corporal normal se mantiene alrededor
                                                            de 36.5 ° C a 37 ° C, independientemente de la temperatura de su baño o ducha.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-myth-03">El nuevo coronavirus NO PUEDE transmitirse a través de las picaduras de mosquitos.<span class="accordion-icon"></span></h5>
                                                <div id="covid-myth-03" class="collapse">
                                                    <div class="accordion-content">
                                                        <p>
                                                            Hasta la fecha no ha habido información ni evidencia que sugiera que el nuevo coronavirus pueda ser transmitido
                                                            por mosquitos. El nuevo coronavirus es un virus respiratorio que se propaga principalmente a través de gotas
                                                            generadas cuando una persona infectada tose o estornuda, o a través de gotas de saliva o secreción de la nariz.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h5 class="accordion-title collapsed" data-toggle="collapse" data-target="#covid-myth-04">¿Las vacunas contra la neumonía lo protegen contra el nuevo coronavirus?<span class="accordion-icon"></span></h5>
                                                <div id="covid-myth-04" class="collapse">
                                                    <div class="accordion-content">
                                                        <p>
                                                            No. Las vacunas contra la neumonía, como la vacuna neumocócica y la vacuna contra la influenza Haemophilus
                                                            tipo B (Hib), no brindan protección contra el nuevo coronavirus.
                                                        </p>
                                                        <p>
                                                            El virus es tan nuevo y diferente que necesita su propia vacuna. Los investigadores están tratando de desarrollar
                                                            una vacuna contra 2019-nCoV, y la OMS está apoyando sus esfuerzos.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .tab-content -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->

        </main><!-- .nk-pages -->

        <footer class="nk-footer bg-dark tc-light has-overlay">
            <div class="overlay shape shape-c"></div><!-- Overlay Shape -->
            <section class="section section-footer section-m tc-light">
                <div class="container">
                    <div class="nk-footer-top">
                        <div class="row g-gs gy-m">
                            <div class="col-lg-3 col-md-9 ">
                                <div class="wgs wgs-about">
                                    <div class="wgs-logo logo">
                                        <a href="./" class="logo-link">
                                            <img src="/static/covid/images/logos/logo-blanco.png" srcset="/static/covid/images/logos/logo-blanco.png 2x" alt="logo" width="200px">
                                            <!-- <img src="images/logo-blanco2.png" srcset="images/logo-blanco2.png" alt="logo" width="180px"> -->
                                        </a>
                                    </div>
                                    <br>
                                    <ul class="wgs-social">
                                        <li><a href="https://www.facebook.com/CAPSNica/" target="_blank"><em class="icon ni ni-facebook-f"></em></a></li>
                                        <li><a href="https://www.instagram.com/caps_nicaragua/?igshid=le1cnxd1pt3x" target="_blank"><em class="icon ni ni-instagram"></em></a></li>
                                        <li><a href="https://twitter.com/caps_nicaragua"><em class="icon ni ni-twitter" target="_blank"></em></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCqEBGraEA_nT5M9OhZnGBvA" target="_blank"><em class="icon ni ni-youtube-fill"></em></a></li>
                                    </ul>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                            <div class="col-sm-4 col-lg-2">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">Links de interés</h6>
                                    <ul class="wgs-links">
                                        <li><a class="scrollto" href="#about">Acerca del virus</a></li>
                                        <li><a class="scrollto" href="#symptoms">Síntomas</a></li>
                                        <li><a class="scrollto" href="#prevention">Prevención</a></li>
                                        <li><a class="scrollto" href="#treatment">Tratamientos</a></li>
                                        <li><a class="scrollto" href="#protect">Normas</a></li>
                                        <li><a class="scrollto" href="#faq">FAQ</a></li>
                                    </ul>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                            <div class="col-sm-4 col-lg-2">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">Links Importantes</h6>
                                    <ul class="wgs-links">
                                        <li><a href="https://www.paho.org/hq/index.php?lang=es" target="_blank">Organización Panamericana de la Salud</a></li>
                                        <li><a href="https://www.who.int/es" target="_blank">Organización Mundial de la Salud</a></li>
                                        <li><a href="http://www.minsa.gob.ni/" target="_blank">Ministerio de Salud de Nicaragua</a></li>
                                        <li><a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank">Mapa Casos Globales</a></li>
                                    </ul>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                            <div class="col-sm-4 col-lg-2">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">Links de Ayuda</h6>
                                    <ul class="wgs-links">
                                        <li><a href="https://espanol.cdc.gov/enes/coronavirus/2019-ncov/index.html" target="_blank">Centro de enfermedades infecciosas</a></li>
                                        <li><a href="https://www.un.org/es/coronavirus" target="_blank">Organización de las Naciones Unidas</a></li>
                                        <li><a href="https://www.bbc.com/mundo/noticias-51705060" target="_blank">Noticias del COVID-19</a></li>
                                        <li><a href="https://www.campusvirtualsp.org/es/covid-19" target="_blank">Campus Virtual de OPS</a></li>
                                    </ul>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                            <div class="col-sm-4 col-lg-3">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">Organizaciones</h6>
                                    <ul class="wgs-links">
                                        <article class="post media-post clearfix pb-0 mb-20">
                                            <a href="http://www.simas.org.ni/" class="post-thumb"><img alt="" src="/static/img/logos/SIMAS.png" width="60"></a>
                                            <div class="post-right">

                                                    <a href="http://www.simas.org.ni/" target="_blank">SIMAS</a>

                                                <p class="post-date mb-0 font-15">Ejecuta</p>
                                            </div>
                                        </article>
                                        <article class="post media-post clearfix pb-0 mb-20">
                                            <a href="https://www.canada.ca/en.html" class="post-thumb"><img alt="" src="/static/img/logos/Canada.png" width="60"></a>
                                            <div class="post-right">

                                                    <a href="https://www.canada.ca/en.html" target="_blank">Gobierno de Canadá</a>

                                                <p class="post-date mb-0 font-15">Financiado</p>
                                            </div>
                                        </article>
                                        <article class="post media-post clearfix pb-0 mb-20">
                                            <a href="https://changeforchildren.org/" class="post-thumb"><img alt="" src="/static/img/logos/cfc.png" width="60"></a>
                                            <div class="post-right">

                                                    <a href="https://changeforchildren.org/" target="_blank">Change for children</a>

                                                <p class="post-date mb-0 font-15">Financiado</p>
                                            </div>
                                        </article>
                                    </ul>
                                </div><!-- .wgs -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .nk-footer-top -->
                    <div class="nk-footer-bottom">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <p class="nk-copyright">&copy; 2020 <a href="http://www.simas.org.ni/">SIMAS</a>. Todos los derechos reservados.</p>
                            </div><!-- .col -->
                            <div class="col-md-6">

                            </div><!-- .col -->
                        </div><!-- .row -->

                    </div><!-- .nk-footer-bottom -->
                </div><!-- .container -->
            </section><!-- .section -->
        </footer><!-- .nk-footer -->
    </div><!-- .nk-wrap -->

	<!-- JavaScript -->
	<script src="/static/covid/assets/js/bundle.js?ver=100"></script>
	<script src="/static/covid/assets/js/scripts.js?ver=100"></script>
    <script>
        $(document).ready(function(){
            $.get('https://coronavirus-19-api.herokuapp.com/countries/nicaragua/',function(data){
                var datajson = data;
                $('.cases').text(datajson.cases);
                $('.deaths').text(datajson.deaths);
                $('.recovered').text(datajson.recovered);
            });
        });
</script>
</body>
</html>
