{% extends "base.html" %}

{% load thumbnail %}
{% load solo_tags %}

{% block extra_css %}
<link href="/static/css/hover/imagehover.min.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block extra_js %}
<script src="/static/js/filter/filter.js"></script>
<script>
    $('.menuzord-menu li.dm-doc').addClass('active');
</script>
{% endblock extra_js %}

{% block contenido %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<section class="inner-header layer-overlay bg-title"
    {% thumbnail site_config.foto_fondo_documentos '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Documentos</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Documéntate</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: aprende  -->
<section>
    <div class="container">
        <div class="row mb-20">
            <h4>Temas:</h4>
            <div role="tabpanel">
                <ul class="nav nav-filter" role="tablist">
                    <li role="presentation" class="active">
                        <a class="btn btn-default filter-button mb-10" href="#" aria-controls="home" role="tab" data-toggle="tab" data-filter="all">Todos</a>
                    </li>
                    {% for obj in tematica %}
                    <li role="presentation">
                        <a class="btn btn-default filter-button mb-10" href="#" aria-controls="tab" role="tab" data-toggle="tab" data-filter="{{obj.slug}}">{{obj}}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="row multi-row-clearfix">
            <div class="blog-posts">
                {% for obj in object_list %}
                <div class="col-md-3 filter all {{obj.all_tematicas|lower}}">
                    <article class="post clearfix mb-30 bg-lighter">
                        <div class="entry-header">
                            <a data-toggle="modal" href="#documento-{{obj.id}}" class="post-thumb thumb">
                                <figure class="post-thumb thumb imghvr-zoom-out bg-theme-colored">
                                    {% if obj.imagen_portada %}
                                    {% thumbnail obj.imagen_portada "595x842" crop='center' as im %}
                                    <img src="{{ im.url }}" alt="{{obj.titulo}}" class="img-responsive img-fullwidth">
                                    {% endthumbnail %}
                                    {% else %}
                                    <img src="http://placehold.it/595x842" alt="obj.titulo"
                                        class="img-responsive img-fullwidth">
                                    {% endif %}

                                    <figcaption class="bg-theme-colored">
                                        <p>{{obj.descripcion|safe|truncatewords:40|striptags}}</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="entry-content p-10 pr-10">
                            <div class="entry-meta media mt-0 no-bg no-border">

                                <div class="media-body">
                                    <div class="event-content pull-left flip">
                                        <h5 class="entry-title text-white text-uppercase mb-15 mt-5"><a
                                                data-toggle="modal" href="#documento-{{obj.id}}">{{obj.titulo}}</a></h5>

                                    </div>
                                </div>
                            </div>

                            {% if obj.adjuntar.all|length > 1 %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-theme-colored">Descargar Archivos</button>
                                <button type="button" class="btn btn-primary dropdown-toggle btn-theme-colored"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for attach in obj.adjuntar.all %}
                                    <li><a target="_blank" href="/media/{{attach.archivo}}">{{attach.nombre}}</a></li>
                                    {% if forloop.last %}

                                    {% else %}
                                    <li role="separator" class="divider"></li>
                                    {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                                {% for attach in obj.adjuntar.all %}
                                    <a target="_blank" href="/media/{{attach.archivo}}" class="btn btn-primary btn-theme-colored">Descargar Archivo</a>
                                {% endfor %}
                            {% endif %}






                            <div class="clearfix"></div>
                        </div>
                        <div class="modal vd-modal" id="documento-{{obj.id}}" data-easein="expandIn">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        <h4 class="modal-title"></h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xm-12 col-md-6">
                                                <figure class="post-thumb thumb">
                                                    {% if obj.imagen_portada %}
                                                    {% thumbnail obj.imagen_portada "595x842" crop='center' as im %}
                                                    <img src="{{ im.url }}" alt="{{obj.titulo}}"
                                                        class="img-responsive img-fullwidth">
                                                    {% endthumbnail %}
                                                    {% else %}
                                                    <img src="http://placehold.it/595x842" alt="{{obj.titulo}}"
                                                        class="img-responsive img-fullwidth">
                                                    {% endif %}

                                                </figure>
                                            </div>
                                            <div class="col-xm-12 col-md-6">
                                                <div class="product-summary">
                                                    <h3 class="product-title font-weight-600 line-bottom">{{obj.titulo}}
                                                    </h3>
                                                    <div class="autor pt-5 pb-5">
                                                        <strong class="text-theme-colored"><i class="fa fa-user"></i>
                                                            Autor: </strong>{{obj.autor}}
                                                    </div>
                                                    <div class="autor pt-5 pb-5">
                                                        <strong class="text-theme-colored"><i
                                                                class="fa fa-map-marker"></i> Lugar:
                                                        </strong>{{obj.lugar}}
                                                    </div>

                                                    <div class="short-description pt-5 pb-5">
                                                        <strong class="text-theme-colored"> Descripción:</strong>
                                                        <p>{{obj.descripcion|safe}}.</p>
                                                    </div>

                                                    <div class="tematica pt-5 pb-5"><strong class="text-theme-colored">
                                                            Temática:</strong>
                                                        <a href="#">{{obj.todas_tematicas|lower}}</a>
                                                    </div>
                                                    <div class="tags pt-5 pb-5"><strong class="text-theme-colored"><i
                                                                class="fas fa-tags"></i> Tags:</strong>
                                                        {% for obj in  obj.palabras_claves.all %}
                                                        <a href="#">{{obj}}</a>,
                                                        {% endfor %}
                                                    </div>
                                                    <div class="edicion pt-5 pb-5"><strong class="text-theme-colored"><i
                                                                class="fas fa-book"></i> Edición:</strong>
                                                        {{obj.edicion}}
                                                    </div>
                                                    <div class="tipo pt-5 pb-5"><strong
                                                            class="text-theme-colored">Tipo:</strong>
                                                        <a href="#">{{obj.get_tipo_publicacion_display}}</a>
                                                        <div class="edicion pt-5 pb-5"><strong>Descargar archivos
                                                                adjuntos:</strong></div>
                                                        <div class="cart-form-wrapper">
                                                            {% for attach in obj.adjuntar.all %}
                                                            <a href="/media/{{attach.archivo}}"
                                                                class="single_add_to_cart_button btn btn-theme-colored"
                                                                type="submit">{{attach.nombre}} <i
                                                                    class="fa fa-download"></i></a>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </article>
                </div>
                {% endfor %}

                <div class="col-md-12">
                    <nav>
                        {% if is_paginated %}
                        <ul class="pagination theme-colored">
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
