{% extends "base.html" %}

{% load thumbnail %}
{% load solo_tags %}

{% block extra_js %}
<script>
  $('.menuzord-menu li.menu5').addClass('active');
</script>
{% endblock extra_js %}

{% block contenido %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<section class="inner-header layer-overlay bg-title" {% thumbnail site_config.foto_fondo_eventos '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Eventos</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Eventos</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
	<div class="container pb-0">
		<div class="section-content">
			<div class="row">
			{% for obj in object_list %}
				<div class="col-sm-12 col-md-12 col-lg-12 mb-50">
					<div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
						<div class="col-md-5">
							<div class="thumb">
							{% if obj.imagen_portada %}
	                            {% thumbnail obj.imagen_portada "830x620" crop='center' as im %}
	                                <a href="{% url 'detail_eventos' obj.slug %}">
	                                    <img src="{{ im.url }}" alt="{{obj.titulo}}">
	                                </a>
	                            {% endthumbnail %}
	                        {% else %}
	                            <a href="{% url 'detail_eventos' obj.slug %}">
	                                <img class="img-fullwidth" alt="{{obj.titulo}}" src="http://placehold.it/830x620">
	                            </a>
	                        {% endif %}
							</div>
						</div>
						<div class="col-md-7">
							<div class="schedule-details clearfix p-15 pt-30">
								<div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
									<ul>
										<li class="font-24 text-white font-weight-600 border-bottom ">{{obj.fecha|date:"d"}}</li>
										<li class="font-18 text-white text-uppercase">{{obj.fecha|date:"M"}}</li>
									</ul>
								</div>
								<h3 class="title mt-0"><a href="{% url 'detail_eventos' obj.slug %}">{{obj.titulo}}</a></h3>
								<ul class="list-inline text-gray">
									<li><i class="fa fa-calendar mr-5"></i> {{obj.fecha|date:"l"}} {{obj.fecha|date:"P"}}  {{obj.fecha|date:"Y"}}</li>
									<li><i class="fa fa-map-marker mr-5"></i>{{obj.lugar}}</li>
									{% now "Y-m-d" as todays_date %}
									{% if todays_date < obj.fecha|date:"Y-m-d" %}
										<span class="label label-success">Pendiente</span>
									{% else %}
										<span class="label label-danger">Realizado</span>
									{% endif %}

								</ul>
								<div class="clearfix"></div>
								<p class="mt-10">{{obj.descripcion|safe|truncatewords:22|striptags}}</p>
								<div class="mt-10">
									<a class="btn btn-dark btn-theme-colored mt-10" href="{% url 'detail_eventos' obj.slug %}">Detalles</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
				<nav class="pull-right">
				{% if is_paginated %}
                  <ul class="pagination theme-colored">
                    {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
				</nav>
			</div>
		</div>
	</div>
</section>
{% endblock contenido %}
