{% extends "base.html" %}

{% load thumbnail %}
{% load solo_tags %}
{% load embed_video_tags %}
{% block share %}
	<meta name="twitter:image" content="https://caps-nicaragua.org/media/{{object.imagen_portada}}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@caps_nicaragua">
	<meta name="twitter:creator" content="@caps_nicaragua">
	<meta name="twitter:title" content="{{object.titulo}}">
	<meta name="twitter:description" content="{{object.descripcion|truncatechars:300|striptags}}">

    <meta property="og:title" content="{{object.titulo}}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="https://caps-nicaragua.org/media/{{object.imagen_portada}}">
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" />
    <meta property="og:description" content="{{object.descripcion|truncatechars:300|striptags}}" />
    <meta property="og:url" content="https://caps-nicaragua.org{{request.path}}" />
	<meta property="og:locale" content="es_ES" />

	
	
	

{% endblock share %}
{% block contenido %}
    <section>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-9">
	                <article class="post pb-30">
	                    <div class="entry-header">
	                        <div class="post-thumb">
	                        	<figure class="entry-cover">
	                        		{% if object.imagen_portada %}
			                            {% thumbnail object.imagen_portada "830x620" crop='center' as im %}
			                                <img src="{{ im.url }}" alt="{{object.titulo}}" width="100%">
			                        	{% endthumbnail %}
			                        {% else %}
			                                <img src="http://placehold.it/830x620" alt="{{object.titulo}}" width="100%">
			                        {% endif %}
	                        	</figure>
	                        </div>
	                    </div>
	                    <div class="clearfix"></div>
						<div class="entry-content">

							<div class="entry-meta media no-bg no-border mt-15 pb-20">
								<div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
									<ul>
										<li class="font-16 text-white font-weight-600">{{object.fecha|date:"d"}}</li>
										<li class="font-16 text-white text-uppercase">{{object.fecha|date:"M"}}</li>
									</ul>
								</div>
								<div class="media-body pl-15">
									<div class="event-content pull-left flip">
										<h4 class="entry-title  text-uppercase m-0">{{object.titulo}}</h4>

										<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-user mr-5 text-theme-colored"></i> {{object.autor}}</span>
										<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-address-book mr-5 text-theme-colored"></i> {{object.nombre_contacto}}</span>
                        				<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-phone mr-5 text-theme-colored"></i> <a href="callto:{{object.telefono}}">{{object.telefono}}</a></span>
                        				<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-envelope mr-5 text-theme-colored"></i> <a href="mailto:{{object.correo_electronico}}">{{object.correo_electronico}}</a></span>
									</div>
								</div>
							</div>


							<div class="clearfix"></div>

						</div>
	                    <div class="row mt-30">
	                        <div class="col-md-12">
	                            {{object.descripcion|safe}}
	                            <div class="clearfix"></div>

	                        </div>
	                    </div>
	                    <hr>
	                    <div class="row">
	                        <div class="info-col col-xs-12 col-md-6">
	                           <h3>Detalles del evento</h3>

	                           <ul class="info-box-evento">
	                                <li class=""><span class="icon fa fa-map-marker text-theme-colored"></span>
	                                	<strong>Lugar:</strong> {{object.lugar}}
	                                </li>
	                                <li class=""><span class="icon fa fa-calendar text-theme-colored"> </span>
	                                	<strong>Fecha:</strong> {{object.fecha|date:"l j / M / Y"}}
	                                </li>
	                                <li class=""><span class="icon fa fa-clock-o text-theme-colored"> </span>
	                                	<strong>Hora:</strong> {{object.fecha|date:"f a"}}
	                                </li>
	                            </ul>

	                        </div>

	                        <div class="col-xs-12 col-md-6">
	                            <!-- Google Map Javascript Codes -->
	                            {% if object.location %}
									<iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{location.0}},{{location.1}}&amp;key=AIzaSyB4FNrjb4w0Ez_F7ya8dPvRCIFelig4Ack"></iframe>
	                            {% else %}
	                            	<iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{object.municipio.latitud}},{{object.municipio.longitud}}&amp;key=AIzaSyB4FNrjb4w0Ez_F7ya8dPvRCIFelig4Ack"></iframe>
	                            {% endif %}



	                        </div>
	                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                        	<h3>Contacto</h3>
	                           <ul class="info-box-evento list-inline">
	                                <li class=""><span class="icon fa fa-user text-theme-colored"></span>
	                                	<strong>Contacto:</strong> {{object.nombre_contacto}}
	                                </li>
	                                <li class=""><span class="icon fa fa-phone text-theme-colored"> </span>
	                                	<strong>Teléfono:</strong> {{object.telefono}}
	                                </li>
	                                <li class=""><span class="icon fa fa-envelope text-theme-colored"> </span>
	                                	<strong>Correo:</strong> <a href="mailto:{{object.correo_electronico}}">{{object.correo_electronico}}</a>
	                                </li>
	                            </ul>
	                        </div>-->
	                    </div>
	                    <hr>
	                    <div class="mt-30 mb-0">
	                        <h5 class="pull-left mt-10 mr-20 text-text-theme-coloreded font-18">Compartir:</h5>
	                        <ul class="styled-icons icon-circled m-0">
								<li>
									<a class="customer share" href="https://www.facebook.com/sharer.php?u=https://caps-nicaragua.org{{request.path}}" data-bg-color="#3A5795" style="background: rgb(58, 87, 149) !important;" target="_blank">
										<i class="fa fa-facebook text-white"></i>
									</a>
								</li>
								<li>
									<a class="customer share" href="https://twitter.com/share?url=https://caps-nicaragua.org{{request.path}}&amp;hashtags=capsnicaragua" data-bg-color="#55ACEE" style="background: rgb(85, 172, 238) !important;" >
										<i class="fa fa-twitter text-white"></i>
									</a>
								</li>
								<li>
									<a class="" href="https://wa.me/?text={{object.titulo}} https://caps-nicaragua.org{{request.path}}" data-bg-color="#4ac959" style="background: rgb(74,201,89) !important" target="_blank">
										<i class="fa fa-whatsapp text-white"></i>
									</a>
								</li>
								<li>
									<a class="" href="mailto:?subject={{object.titulo}}&amp;body=https://caps-nicaragua.org{{request.path}}" data-bg-color="#555555" style="background: rgb(81, 81, 81) !important">
										<i class="fa fa-envelope text-white"></i>
									</a>
								</li>
	
	
							</ul>
	                    </div>
	                </article>

	            </div>
	            <div class="col-sm-12 col-md-3">
	                <div class="sidebar sidebar-left mt-sm-30">
	                    <div class="widget">
	                        <h5 class="widget-title line-bottom"><span>Búsqueda</span></h5>
	                        <div class="search-form">
	                            <form>
	                                <div class="input-group">
	                                    <input type="text" placeholder="Buscar" class="form-control search-input">
	                                    <span class="input-group-btn">
	                                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
	                                    </span>
	                                </div>
	                            </form>
	                        </div>
	                    </div>
	                    <div class="widget">
	                        <h5 class="widget-title line-bottom"><span>Proximos eventos</span></h5>
	                        <div class="latest-posts">
	                        {% for obj in next_eventos %}
	                            <article class="post media-post clearfix pb-0 mb-5">
	                            {% if obj.imagen_portada %}
									{% thumbnail obj.imagen_portada "70x70" crop='center' as im %}
		                        		<a class="post-thumb" href="{% url 'detail_eventos' obj.slug %}"><img src="{{ im.url }}" alt="{{obj.titulo}}"></a>
		                        	{% endthumbnail %}
		                        {% else %}
		                        	<a class="post-thumb" href="{% url 'detail_eventos' obj.slug %}"><img src="http://placehold.it/70x70" alt="{{obj.titulo}}"></a>
		                        {% endif %}

	                                <div class="post-right">
	                                    <h5 class="post-title mt-0"><a href="{% url 'detail_eventos' obj.slug %}">{{obj.titulo}}</a></h5>
	                                    <p>{{obj.descripcion|safe|truncatewords:4}}</p>
	                                </div>
	                            </article>
	                        {% endfor %}
	                        </div>
	                    </div>

	                    <div class="widget">
	                        <h5 class="widget-title line-bottom"><span>Últimas noticias</span></h5>
	                        <div class="latest-posts">
	                        {% for obj in last_noticias %}
	                            <article class="post media-post clearfix pb-0 mb-5">
	                            {% if obj.foto_principal %}
									{% thumbnail obj.foto_principal "70x70" crop='center' as im %}
		                        		<a class="post-thumb" href="{{obj.get_absolute_url}}"><img src="{{ im.url }}" alt="{{object.titulo}}"></a>
		                        	{% endthumbnail %}
		                        {% else %}
		                        	<a class="post-thumb" href="{{obj.get_absolute_url}}"><img src="http://placehold.it/70x70" alt=""></a>
		                        {% endif %}
	                                <div class="post-right">
	                                    <h5 class="post-title mt-0"><a href="{{obj.get_absolute_url}}">{{obj.titulo}}</a></h5>
	                                    <p>{{obj.texto_noticia|safe|truncatewords:6|striptags}}</p>
	                                </div>
	                            </article>
	                        {% endfor %}
	                        </div>
	                    </div>

	                    <div class="widget">
	                        <h5 class="widget-title line-bottom"><span>Último video</span></h5>
	                        <div class="owl-carousel-1col">
		                    {% for obj in ultimos_videos %}
			                    <div class="item">
			                        <div class="fluid-video-wrapper">
			                        	{% video obj.video_url '264x149' %}
			                        </div>
			                        <h4 class="title"><a href="#">{{obj.titulo}}</a></h4>
			                        <p>{{obj.descripcion|truncatewords:7|striptags}}</p>
			                    </div>
			                {% empty%}
			                	<p>Aun no existe videos en la web</p>
			                {% endfor %}
	                        </div>
	                    </div>

	                </div>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock contenido %}
