{% comment %} {% extends "base.html" %} {% endcomment %}

{% load thumbnail %}
{% load solo_tags %}
{% comment %} 
{% block extra_js %}
<script>
  $('.menuzord-menu li.dm-galeria').addClass('active');
</script>

{% endblock extra_js %} {% endcomment %}

{% block contenido %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Proyecto CAPS Nicaragua</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Thumbnails Navigation Gallery with jQuery and CSS3" />
        <meta name="keywords" content="jquery, thumbnails, gallery, menu, navigation, full page, background, image, photo, portfolio, photography"/>
		<link rel="shortcut icon" type="image/png" href="/static/img/logos/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/gallery/style.css" type="text/css" media="screen"/>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="/static/js/gallery/cufon-yui.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/f31c747246.js" crossorigin="anonymous"></script>
		<script src="/static/js/gallery/Quicksand_Book_400.font.js" type="text/javascript"></script>
		<script type="text/javascript">
			Cufon.replace('span,p,h1',{
				textShadow: '0px 0px 1px #ffffff'
			});
		</script>
        <style>
			span.reference{
				font-family:Arial;
				position:fixed;
				left:10px;
				bottom:10px;
				font-size:11px;
			}
			span.reference a{
				color:#aaa;
				text-decoration:none;
				margin-right:20px;
			}
			span.reference a:hover{
				color:#ddd;
            }
            .title-page a{
                text-decoration: none;
                color: white;
            }
            .title-page a:hover,
            .title-page a:focus{
                color: #3DB4D9;
            }
            .title-page .fas{
                font-size: 30px;
                color: white;
            }
            
		</style>
    </head>

    <body>
		<div id="st_main" class="st_main">
        {% for obj in object_list|slice:":1" %}
            {% for foto in obj.galeria.all|slice:":1" %}
			<img src="/media/{{foto.archivo}}" alt="" class="st_preview" style="display:none;"/>
            {% endfor %}
        {% endfor %}
			<div class="st_overlay"></div>
			<h1 class="title-page"><a href="/"><i class="fas fa-chevron-left"></i> CAPS Nicaragua</a></h1>
			<div id="st_loading" class="st_loading"><span>Cargando...</span></div>
			<ul id="st_nav" class="st_navigation">
            {% for obj in object_list %}
				<li class="album">
					<span class="st_link">{{obj.titulo|truncatechars:25}}<span class="st_arrow_down"></span></span>
					<div class="st_wrapper st_thumbs_wrapper">
						<div class="st_thumbs">
                            {% for foto in obj.galeria.all %}
							{% thumbnail foto.archivo "180x120" crop='center' as im %}
                                <img src="{{im.url}}" alt="/media/{{foto.archivo}}">
                            {% endthumbnail %}
                            {% endfor %}
						</div>
					</div>
				</li>
			{% endfor %}	
				{% comment %} <li>
					<span class="st_link">About<span class="st_arrow_down"></span></span>
					<div class="st_about st_thumbs_wrapper">
						<div class="st_subcontent">
							<p>
								I am alone, and feel the charm of existence in this spot,
								which was created for the bliss of souls like mine. I am
								so happy, my dear friend, so absorbed in the exquisite sense
								of mere tranquil existence, that I neglect my talents.
							</p>
						</div>
					</div>
				</li> {% endcomment %}
			</ul>
		</div>
        <script type="text/javascript">
            $(function() {
                //the loading image
                var $loader		= $('#st_loading');
                //the ul element 
                var $list		= $('#st_nav');
                //the current image being shown
                var $currImage 	= $('#st_main').children('img:first');
                
                //let's load the current image 
                //and just then display the navigation menu
                $('<img>').load(function(){
                    $loader.hide();
                    $currImage.fadeIn(3000);
                    //slide out the menu
                    setTimeout(function(){
                        $list.animate({'left':'0px'},500);
                    },
                    1000);
                }).attr('src',$currImage.attr('src'));
                
                //calculates the width of the div element 
                //where the thumbs are going to be displayed
                buildThumbs();
                
                function buildThumbs(){
                    $list.children('li.album').each(function(){
                        var $elem 			= $(this);
                        var $thumbs_wrapper = $elem.find('.st_thumbs_wrapper');
                        var $thumbs 		= $thumbs_wrapper.children(':first');
                        //each thumb has 180px and we add 3 of margin
                        var finalW 			= $thumbs.find('img').length * 183;
                        $thumbs.css('width',finalW + 'px');
                        //make this element scrollable
                        makeScrollable($thumbs_wrapper,$thumbs);
                    });
                }
                
                //clicking on the menu items (up and down arrow)
                //makes the thumbs div appear, and hides the current 
                //opened menu (if any)
                $list.find('.st_arrow_down').live('click',function(){
                    var $this = $(this);
                    hideThumbs();
                    $this.addClass('st_arrow_up').removeClass('st_arrow_down');
                    var $elem = $this.closest('li');
                    $elem.addClass('current').animate({'height':'170px'},200);
                    var $thumbs_wrapper = $this.parent().next();
                    $thumbs_wrapper.show(200);
                });
                $list.find('.st_arrow_up').live('click',function(){
                    var $this = $(this);
                    $this.addClass('st_arrow_down').removeClass('st_arrow_up');
                    hideThumbs();
                });
                
                //clicking on a thumb, replaces the large image
                $list.find('.st_thumbs img').bind('click',function(){
                    var $this = $(this);
                    $loader.show();
                    $('<img class="st_preview"/>').load(function(){
                        var $this = $(this);
                        var $currImage = $('#st_main').children('img:first');
                        $this.insertBefore($currImage);
                        $loader.hide();
                        $currImage.fadeOut(2000,function(){
                            $(this).remove();
                        });
                    }).attr('src',$this.attr('alt'));
                }).bind('mouseenter',function(){
                    $(this).stop().animate({'opacity':'1'});
                }).bind('mouseleave',function(){
                    $(this).stop().animate({'opacity':'0.7'});
                });
                
                //function to hide the current opened menu
                function hideThumbs(){
                    $list.find('li.current')
                            .animate({'height':'50px'},400,function(){
                            $(this).removeClass('current');
                            })
                            .find('.st_thumbs_wrapper')
                            .hide(200)
                            .andSelf()
                            .find('.st_link span')
                            .addClass('st_arrow_down')
                            .removeClass('st_arrow_up');
                }

                //makes the thumbs div scrollable
                //on mouse move the div scrolls automatically
                function makeScrollable($outer, $inner){
                    var extra 			= 800;
                    //Get menu width
                    var divWidth = $outer.width();
                    //Remove scrollbars
                    $outer.css({
                        overflow: 'hidden'
                    });
                    //Find last image in container
                    var lastElem = $inner.find('img:last');
                    $outer.scrollLeft(0);
                    //When user move mouse over menu
                    $outer.unbind('mousemove').bind('mousemove',function(e){
                        var containerWidth = lastElem[0].offsetLeft + lastElem.outerWidth() + 2*extra;
                        var left = (e.pageX - $outer.offset().left) * (containerWidth-divWidth) / divWidth - extra;
                        $outer.scrollLeft(left);
                    });
                }
            });
        </script>
    </body>
</html>
{% comment %} {% get_solo 'configuracion.SiteConfiguration' as site_config %}
    <section class="inner-header layer-overlay bg-title" {% thumbnail site_config.foto_fondo_galerias '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">Galeria</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Galerias</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Grid 4 -->
    <section>
        <div class="container pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Portfolio Gallery Grid -->
                        <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
                        {% for obj in object_list %}
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item all-gallery">
                                <div class="thumb">
                                    <div class="flexslider-wrapper" data-direction="vertical">
                                        <div class="flexslider">
                                            <ul class="slides">
                                            {% for foto in obj.galeria.all %}
                                                <li>
                                                    <a href="/media/{{foto.archivo}}" title="{{foto.titulo}} - Foto: {{foto.credito}}">
                                                    {% thumbnail foto.archivo "830x620" crop='center' as im %}
                                                        <img src="{{im.url}}" alt="{{foto.titulo}}">
                                                    {% endthumbnail %}

                                                    </a>
                                                </li>
                                            {% endfor %}



                                            </ul>
                                        </div>
                                    </div>
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="#"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="p-0 mt-5 titlepoup"><a href="#">{{obj.titulo|truncatechars:25}}</a></h4>
                            </div>
                            <!-- Portfolio Item End -->
                        
                            
                        {% endfor %}
                        </div>
                        <!-- End Portfolio Gallery Grid -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-12">
    	<nav>
    		{% if is_paginated %}
              <ul class="pagination theme-colored">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
    	</nav>
    </div> {% endcomment %}
{% endblock contenido %}
