{% extends "base.html" %}

{% load thumbnail %}
{% load embed_video_tags %}
{% load taggit_templatetags2_tags %}

{% block share %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@caps_nicaragua">
	<meta name="twitter:creator" content="@caps_nicaragua">
	<meta name="twitter:title" content="{{object.titulo}}">
	<meta name="twitter:description" content="{{object.texto_noticia|truncatechars:300|striptags}}">
	{% if object.video_principal %}
		<meta name="twitter:player" content="{{object.video_principal}}">
		<meta name="twitter:player:stream:content_type" content="video/mp4; codecs='avc1.42E01E1, mp4a.40.2'">
		<meta name="twitter:player:width" content="435">
		<meta name="twitter:player:height" content="251">
	{% else %}
		<meta name="twitter:image" content="https://caps-nicaragua.org/media/{{object.foto_principal}}">
	{% endif %}

    <meta property="og:title" content="{{object.titulo}}" />
    {% if object.video_principal %}
        <meta property="og:type" content="article" />
        <meta property="og:video" content="{{object.video_principal}} " />
        <meta property="og:video:width" content="398">
		<meta property="og:video:height" content="264">
    {% else %}
        <meta property="og:image" content="https://caps-nicaragua.org/media/{{object.foto_principal}}">
        <meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
    {% endif %}
    <meta property="og:description" content="{{object.texto_noticia|truncatechars:300|striptags}}" />
    <meta property="og:url" content="https://caps-nicaragua.org{{request.path}}" />
    <meta property="og:locale" content="es_ES" />


	
	

{% endblock share %}



{% block contenido %}
<style type="text/css">
.mobile-cfca {
  	position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    color: #656565;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 0px;
    background: #eee;
    text-align: center;
    height: 50px;
}
.owl-controls .owl-nav > div{
	top:20%;
}
</style>

<section class="noticia">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<article class="post pb-30">
					<div class="entry-header">
						<div class="post-thumb">

							{% if object.video_principal %}
							<div class="video-nota">
	                        	{% video object.video_principal '850x440' query="autoplay=1"%}
	                        	<div class="credito-video">
	                        		<i class="fa fa-video mr-5"></i> {{object.credito_foto}}
	                        	</div>
	                        </div>
	                        {% elif object.foto_principal %}
	                            {% thumbnail object.foto_principal "830x620" crop='center' as im %}
	                            <figure class="entry-cover">
	                            	<a href="{{object.get_absolute_url}}">
	                                	<img src="{{ im.url }}" alt="{{object.titulo}}" width="100%">
	                                	<figcaption><i class="fa fa-camera mr-5"></i> {{object.credito_foto}}{% if object.descripcion_foto %} • {{object.descripcion_foto|truncatechars:75}}{% endif %} </figcaption>
	                            	</a>
	                            </figure>
	                        	{% endthumbnail %}
	                        {% else %}
		                        <figure class="entry-cover">
		                        	<a href="{{object.get_absolute_url}}">
		                                <img src="http://placehold.it/830x620" alt="{{object.titulo}}" width="100%">
		                            </a>
		                        </figure>
	                        {% endif %}


						</div>
					</div>

					<div class="clearfix"></div>
					<div class="entry-content">
						<div class="entry-meta media no-bg no-border mt-15 pb-20">
							<div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
								<ul>
									<li class="font-16 text-white font-weight-600">{{object.fecha_publicacion|date:"d"}}</li>
									<li class="font-12 text-white text-uppercase">{{object.fecha_publicacion|date:"M"}}</li>
								</ul>
							</div>
							<div class="media-body pl-15">
								<div class="event-content pull-left flip">
									<h3 class="entry-title text-white text-uppercase m-0"><a >{{object.titulo}}</a></h3>
									<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-user mr-5 text-theme-colored"></i> {{object.autor_noticia.get_full_name}} ||</span>
									<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-book mr-5 text-theme-colored"></i> {{object.todas_tematicas|lower}} ||</span>
									<span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-calendar mr-5 text-theme-colored"></i> {{object.fecha_publicacion}}</span>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						{% if object.galeria.all %}
						<div class="widget">
			              	<h5 class="widget-title line-bottom">Galería de fotos</h5>

			              	<div class="owl-carousel">
			              		{% for imagen in object.galeria.all %}
							  		<a href="/media/{{imagen.archivo}}" class="item" title="{{imagen.titulo}} - Foto {{imagen.credito}}" data-lightbox-gallery="gallery">
							  			{% thumbnail imagen.archivo "450x300" crop='center' as im %}
							  				<img src="{{im.url}}" alt="{{imagen.titulo}}" >
							  			{% endthumbnail %}
							  		</a>

							  	{% endfor %}
							</div>
			            </div>
			            {% endif %}
						<div class="content-nota">{{object.texto_noticia|safe}}</div>



						<div class="clearfix"></div>

					</div>
					<!-- <div class="row mt-30 content-nota">
						<div class="col-md-12">
							{{object.texto_noticia|safe}}
						</div>
					</div> -->
					<div class="row">
						<div class="col-md-12">
						{% if object.adjuntar.all %}
							<h4 class="">Documentos adjuntos</h4>
						{% endif %}
							{% for attach in object.adjuntar.all %}
								<a class="btn btn-default btn-theme-colored mt-10" href="/media/{{attach.archivo}}"><i class="fa fa-file-pdf-o pr-5"></i>{{attach.nombre}}</a>
							{% endfor %}
	            		</div>
					</div>


					<hr>
					<div class="mt-30 mb-0 hidden-xs">
						<h5 class="pull-left mt-10 mr-20 text-theme-colored font-18">Compartir:</h5>
						<ul class="styled-icons icon-circled m-0">
							<li>
								<a class="customer share" href="https://www.facebook.com/sharer.php?u=https://caps-nicaragua.org{{request.path}}" data-bg-color="#3A5795" style="background: rgb(58, 87, 149) !important;" target="_blank">
									<i class="fa fa-facebook text-white"></i>
								</a>
							</li>
							<li>
								<a class="customer share" href="https://twitter.com/share?url=https://caps-nicaragua.org{{request.path}}&amp;hashtags=capsnicaragua" data-bg-color="#55ACEE" style="background: rgb(85, 172, 238) !important;" >
									<i class="fa fa-twitter text-white"></i>
								</a>
							</li>
							<li>
								<a class="" href="https://wa.me/?text={{object.titulo}} https://caps-nicaragua.org{{request.path}}" data-bg-color="#4ac959" style="background: rgb(74,201,89) !important" target="_blank">
									<i class="fa fa-whatsapp text-white"></i>
								</a>
							</li>
							<li>
								<a class="" href="mailto:?subject={{object.titulo}}&amp;body=https://caps-nicaragua.org{{request.path}}" data-bg-color="#555555" style="background: rgb(81, 81, 81) !important">
									<i class="fa fa-envelope text-white"></i>
								</a>
							</li>


						</ul>
					</div>

				</article>
				<div class="tagline p-0 pt-20 mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="tags">
								<p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span>{% for tag in object.tags.all %}
								<a href="{% url 'tags_news' slug=tag.slug %}">{{tag}}</a> {% if forloop.last %}{%else%},{% endif %}
								{% endfor %}</p>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div class="col-sm-12 col-md-3">
		        <div class="sidebar sidebar-left mt-sm-30">
		            <div class="widget">
		                <h5 class="widget-title line-bottom"><span>Búsqueda</span></h5>
		                <div class="search-form">
		                    <form action="{% url 'search_results' %}" method="get">
		                        <div class="input-group">
		                            <input name="q" type="text" placeholder="Buscar" class="form-control search-input">
		                            <span class="input-group-btn">
		                                <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
		                            </span>
		                        </div>
		                    </form>
		                </div>
		            </div>
		            <div class="widget">
		            	<h5 class="widget-title line-bottom">Temáticas</h5>
		            	<div class="categories">
		            		<ul class="list list-border angle-double-right">
		            			{% for k,v in categorias.items %}
		            				<li><a href="{% url 'tematicas_news' tematicas=v.1 %}">{{k}}<span  class="badge bg-theme-colored">{{v.0}}</span></a></li>
		            			{% endfor %}
		            		</ul>
		            	</div>
		            </div>
		            <div class="widget">
		                <h5 class="widget-title line-bottom"><span>Noticias relacionadas</span></h5>
		                <div class="latest-posts">
		                {% for nota in noticias_relacionas %}
		                    <article class="post media-post clearfix pb-0 mb-5">
		                        <a class="post-thumb" href="{{nota.get_absolute_url}}">
		                        {% if nota.foto_principal %}
									{% thumbnail nota.foto_principal "70x70" crop='center' as im %}
		                        		<img src="{{ im.url }}" alt="{{object.titulo}}">
		                        	{% endthumbnail %}
		                        {% else %}
		                        	<img src="http://placehold.it/70x70" alt="{{nota.titulo}}">
		                        {% endif %}
		                        </a>
		                        <div class="post-right">
		                            <h5 class="post-title mt-0"><a href="{{nota.get_absolute_url}}">{{nota.titulo}}</a></h5>
		                            <p>{{nota.texto_noticia|safe|truncatewords:6|striptags}}</p>
		                        </div>
		                    </article>
		                {% endfor %}
		                </div>
		            </div>

		            <div class="widget">
		                <h5 class="widget-title line-bottom"><span>Último video</span></h5>
		                <div class="owl-carousel-1col">
		                {% for obj in ultimos_videos %}
		                    <div class="item">
		                        <div class="fluid-video-wrapper">
		                        	{% video obj.video_url '264x149' %}
		                        </div>
		                        <h4 class="title"><a href="#">{{obj.titulo}}</a></h4>
		                        <p>{{obj.descripcion|truncatewords:7|striptags}}</p>
		                    </div>
		                {% empty%}
		                	<p>Aun no existe videos en la web</p>
		                {% endfor %}
		                </div>
		            </div>

		        </div>
		    </div>
		</div>
	</div>
</section>
<div class="hidden-sm hidden-md hidden-lg mobile-cfca pl-5 pr-5">
	<h5 class="pull-left mt-10 mr-20 text-theme-colored font-18">Compartir:</h5>
	<ul class="styled-icons icon-circled m-0">
		<li><a class="customer share" href="https://www.facebook.com/sharer.php?u=https://caps-nicaragua.org{{request.path}}" data-bg-color="#3A5795" style="background: rgb(58, 87, 149) !important;"><i class="fab fa-facebook-f text-white"></i></a></li>
		<li><a class="customer share" href="https://twitter.com/share?url=https://caps-nicaragua.org{{request.path}}&amp;hashtags=capsnicaragua" data-bg-color="#55ACEE" style="background: rgb(85, 172, 238) !important;"><i class="fab fa-twitter text-white"></i></a></li>
		<li><a class="" href="whatsapp://send?text=https://caps-nicaragua.org{{request.path}}"  style="background: rgb(74, 201, 89) !important;"><i class="fab fa-whatsapp text-white"></i></a></li>
		<li><a class="" href="mailto:?subject={{object.titulo}}&amp;body=https://caps-nicaragua.org{{request.path}}"style="background: rgb(85, 85, 85) !important;"><i class="fas fa-envelope text-white"></i></a></li>
	</ul>
	
</div>

{% endblock contenido %}
{% block extra_js %}
<script src="/static/js/social.js"></script>

<script>
  $('.menuzord-menu li.menu2').addClass('active');
  $(".post .content-nota figcaption").prepend("<span class='fa fa-image'></span> ");

  $('.owl-carousel').owlCarousel({
	    loop:true,
	    margin:10,
	    autoplay:true,
	    nav:true,
	    navText: [
	        '<i class="pe-7s-angle-left"></i>',
	        '<i class="pe-7s-angle-right"></i>'
	    ],
	    responsive:{
	        0:{
	            items:1
	        },
	        600:{
	            items:3
	        },
	        1000:{
	            items:5
	        }
	    }
	});


</script>
{% endblock extra_js %}