{% extends "base.html" %}

{% load thumbnail %}
{% load embed_video_tags %}
{% load solo_tags %}
{% load taggit_templatetags2_tags %}
{% load el_pagination_tags %}

{% block extra_js %}
<script>
  $('.menuzord-menu li.menu2').addClass('active');
</script>
{% endblock extra_js %}

{% block contenido %}
<style type="text/css">
.styled-pagination{
    position:relative;
}

.styled-pagination li{
    position:relative;
    display:inline-block;
    margin:0px 5px 10px;
}

.styled-pagination a, .endless_page_current{
    position:relative;
    display:inline-block;
    line-height:24px;
    padding:6px 5px;
    font-size:16px;
    text-transform:uppercase;
    min-width:40px;
    border:2px solid rgba(0,0,0,0.10);
    background:#ffffff;
    color:#3DB4D9;
    text-align:center;
    border-radius:3px;
    transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
}

.styled-pagination  a.next,
.styled-pagination a.prev{
    padding:6px 25px;
}

.styled-pagination  a:hover,
.styled-pagination a.active, .endless_page_current{
    color:#ffffff;
    background:#337ab7;
    border-color:#337ab7;
}
.endless_page_current strong {
    color: #FFF;
}
</style>
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<section class="inner-header layer-overlay bg-title" {% thumbnail site_config.foto_fondo_noticias '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Noticias</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Noticias</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pb-0">
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                    <div class="schedule-box maxwidth500 widget">
                        <h5 class="widget-title line-bottom"><span>Búsqueda</span></h5>
                        <div class="search-form">
                            <form action="{% url 'search_results' %}" method="get">
                                <div class="input-group">
                                    <input name="q" type="text" placeholder="Buscar" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="row">
                    {% paginate 15 object_list %}
                    {% for nota in object_list %}
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
                                <div class="col-md-5">
                                    <div class="thumb">
                                    {% if nota.foto_principal %}
                                        {% thumbnail nota.foto_principal "830x620" crop='center' as im %}
                                            <a href="{{nota.get_absolute_url}}">
                                                <img src="{{ im.url }}" alt="{{nota.titulo}}">
                                            </a>
                                        {% endthumbnail %}
                                    {% elif nota.video_principal %}
                                        {% video nota.video_principal as my_video %}
                                            {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                                                <img class="img-fullwidth" src="{{im.url}}" alt="{{nota.titulo}}">
                                            {% endthumbnail %}
                                        {% endvideo %}
                                    {% else %}
                                        <a href="{{nota.get_absolute_url}}">
                                            <img class="img-fullwidth" alt="{{nota.titulo}}" src="http://placehold.it/830x620">
                                        </a>
                                    {% endif %}


                                        <div class="donate-now">
                                            <a style="background-color: {{nota.get_tematica_color}};" class="btn btn-flat pull-left mt-10">{{nota.get_tematica}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="schedule-details clearfix p-15 pt-20">
                                        <div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
                                            <ul>
                                                <li class="font-15 text-white font-weight-600 border-bottom ">{{nota.fecha_publicacion|date:"d"}}</li>
                                                <li class="font-14 text-white text-uppercase border-bottom">{{nota.fecha_publicacion|date:"M"}}</li>
                                                <li class="font-14 text-white font-weight-600">{{nota.fecha_publicacion|date:"Y"}}</li>
                                            </ul>
                                        </div>
                                        <h3 class="title mt-0"><a href="{% url 'detail_news' nota.slug %}">{{nota.titulo}}</a></h3>
                                        <ul class="list-inline text-gray">
                                            <li><i class="fa fa-calendar mr-5"></i> {{nota.fecha_publicacion|date:"l P"}}</li>
                                            <li><i class="fa fa-user mr-5"></i> {{nota.autor_noticia.first_name}} {{nota.autor_noticia.last_name}}</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <p class="mt-10">{{nota.texto_noticia|safe|truncatewords:26}}</p>
                                        <div class="mt-10">
                                            <a class="btn btn-dark btn-theme-colored mt-10" href="{% url 'detail_news' nota.slug %}">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="styled-pagination pull-left">
                          <ul class="pagination theme-colored">
                            {% show_pages %}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 hidden-xs hidden-sm">
                    <div class="sidebar sidebar-left mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom"><span>Búsqueda</span></h5>
                            <div class="search-form">
                                <form action="{% url 'search_results' %}" method="get">
                                <div class="input-group">
                                    <input name="q" type="text" placeholder="Buscar" class="form-control search-input">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Temáticas</h5>
                            <div class="categories">
                                <ul class="list list-border angle-double-right">
                                {% for k,v in categorias.items %}
                                    <li><a href="{% url 'tematicas_news' tematicas=v.1 %}">{{k}} <span  class="badge bg-theme-colored">{{v.0}}</span></a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="widget">
                            <h5 class="widget-title line-bottom"><span>Último video</span></h5>
                            <div class="owl-carousel-1col">
                           {% for obj in ultimos_videos %}
                                <div class="item">
                                    <div class="fluid-video-wrapper">
                                        {% video obj.video_url '264x149' %}
                                    </div>
                                    <h4 class="title"><a href="#">{{obj.titulo}}</a></h4>
                                    <p>{{obj.descripcion|truncatewords:7|striptags}}</p>
                                </div>
                            {% empty%}
                                <p>Aun no existe videos en la web</p>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title line-bottom">Tags</h4>
                            <div class="tags">
                                {% get_tagcloud as tags for 'web.noticias' %}
                                {% for tag in tags %}
                                    <a href="{% url 'tags_news' slug=tag.slug %}">{{tag}}</a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock contenido %}
