{% extends "base.html" %}

{% load thumbnail %}
{% load solo_tags %}
{% load embed_video_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

{% endblock extra_css %}
{% block extra_js %}

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script>
  $('.menuzord-menu li.dm-video').addClass('active');
</script>


{% endblock extra_js %}

{% block contenido %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<section class="inner-header layer-overlay bg-title" {% thumbnail site_config.foto_fondo_videos '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">Videos</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Videos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Grid 4 -->
    <section>
        <div class="container-fluid pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Portfolio Gallery Grid -->
                        <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
                        {% for obj in object_list %}
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item all-gallery">
                                <div class="thumb">
                                    {% if obj.imagen_portada %}
                                        {% thumbnail obj.imagen_portada "470x320" crop='center' as im %}
                                            <img class="img-fullwidth" src="{{im.url}}" alt="{{obj.titulo}}">
                                        {% endthumbnail %}
                                    {% else %}
                                        {% video obj.video_url as my_video %}
                                            {% thumbnail my_video.thumbnail "470x320" crop='center' as im %}
                                                <img class="img-fullwidth" src="{{im.url}}" alt="{{obj.titulo}}">
                                            {% endthumbnail %}
                                        {% endvideo %}

                                    {% endif %}

                                    <a class="overlay-shade" data-fancybox href="{{obj.video_url}}"></a>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a data-fancybox href="{{obj.video_url}}"><i class="fa fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <h4 class="p-0 mt-5"> <a data-fancybox href="{{obj.video_url}}">{{obj.titulo|truncatechars:60}}</a></h4>
                            </div>
                            <!-- Portfolio Item End -->
                        {% endfor %}

                        </div>
                        <!-- End Portfolio Gallery Grid -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-12">
    	<nav>
            {% if is_paginated %}
              <ul class="pagination theme-colored">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
    	</nav>
    </div>
{% endblock contenido %}
