@font-face {
  font-family: "itc-avant-garde-gothic-lt-book-regular";
  src: url("../fonts/itc-avant-garde-gothic-lt-book-regular.otf");
}
@font-face {
  font-family: "Museo-500-Regular";
  src: url("../fonts/Museo-500-Regular.otf");
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #484848;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Museo-500-Regular', sans-serif;
}
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: 'Museo-500-Regular', sans-serif;
}
.menuzord-menu > li > a {
  font-family: 'Museo-500-Regular', sans-serif;
  font-size: 14px;
}
.menuzord-brand img {
  max-height: 40px;
}
.breadcrumb {
  text-align: left;
}
.menuzord .showhide {
  float: left;
}
#side-panel .side-panel-wrap {
  padding: 40px 10px 40px 10px;
}
#side-panel .widget {
  width: 270px;
}
#side-panel-trigger {
  margin-top: 14px;
}
@media only screen and (max-width: 480px) {
  .menuzord-responsive .menuzord-brand {
    width: 60%;
  }
}
.btn-menu {
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  width: 66px;
  height: 66px;
}
.causes .thumb .donate-now {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 10px;
  left: 10px;
}
.schedule-box .donate-now {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 30px;
  left: 15px;
}
.event-title {
  background-color: #231f20;
}
.donate-now a {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: auto;
}
.donate-now a:hover {
  color: #fff;
}
.ow-hidden {
  overflow: hidden;
}
.border-2 {
  border-right: 1px dashed #3db4d9;
}
.box-text {
  text-align: right;
}
.box-text h3 {
  font-weight: bold;
}
.box-text .icon-data {
  position: absolute;
  left: 10%;
  top: 10%;
}
.scale_effect {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.scale_effect:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.videos-list {
  background-color: #111;
}
.videos-list .spidochetube {
  max-width: 1200px;
}
.videos-list .spidochetube .spidochetube_inner {
  padding: 0px;
}
ol.list {
  list-style: decimal;
  margin-top: 13px;
  padding-left: 30px;
}
ol.list li {
  margin: 5px 0;
  font-weight: 500;
  position: relative;
}
button.btn.btn-primary.dropdown-toggle.btn-theme-colored {
  border-left-color: #118bb1;
}
.widget-title {
  font-size: 17px;
}
.panel-group .panel-title a.active::after {
  background-color: #3db4d9;
}
.post .separator {
  margin: 10px 0px;
}
.post p a {
  color: #3db4d9;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #3db4d9;
  border-color: #3db4d9;
}
.affix {
  top: 100px;
}
.list-group-item:first-child,
.list-group-item:last-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.tab-content .separator {
  margin: 15px 0px 0px 0px;
}
.bg-title {
  background-image: no-repeat;
  background-size: cover;
}
.share-button {
  position: relative;
  width: 50px;
}
.share-button .toggle-input {
  display: none;
}
.share-button .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 10;
  display: block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  color: #3db4d9;
  -moz-box-shadow: inset 0 0 0 1px #3db4d9;
  -webkit-box-shadow: inset 0 0 0 1px #3db4d9;
  box-shadow: inset 0 0 0 1px #3db4d9;
}
.share-button .toggle:after {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-family: 'Font Awesome 5 Free';
  content: "\f1e0";
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  left: -2px;
  font-weight: 900;
}
.toggle-input:checked + .toggle:before {
  background-color: #3db4d9;
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: barbefore 0.3s forwards;
  -moz-animation: barbefore 0.3s forwards;
  -o-animation: barbefore 0.3s forwards;
  animation: barbefore 0.3s forwards;
}
.toggle-input:checked + .toggle:after {
  background-color: #3db4d9;
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: barafter 0.3s forwards;
  -moz-animation: barafter 0.3s forwards;
  -o-animation: barafter 0.3s forwards;
  animation: barafter 0.3s forwards;
}
.network-list li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
  -moz-transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
  -o-transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
  transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
}
.network-list li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  text-indent: 120%;
  text-decoration: none;
}
.network-list li a:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-family: 'Font Awesome 5 Free';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 40px;
  text-indent: 0;
  -moz-box-shadow: inset 0 0 0 1px #c8c7c0;
  -webkit-box-shadow: inset 0 0 0 1px #c8c7c0;
  box-shadow: inset 0 0 0 1px #c8c7c0;
}
.network-list li.twitter a:before {
  content: "\f099";
  color: #00c3f3;
  font-family: 'Font Awesome 5 Brands';
}
.network-list li.twitter a:hover:before {
  -moz-box-shadow: inset 0 0 0 2px #00c3f3;
  -webkit-box-shadow: inset 0 0 0 2px #00c3f3;
  box-shadow: inset 0 0 0 2px #00c3f3;
}
.network-list li.facebook a:before {
  content: "\f39e";
  color: #2c609b;
  font-family: 'Font Awesome 5 Brands';
}
.network-list li.facebook a:hover:before {
  -moz-box-shadow: inset 0 0 0 2px #2c609b;
  -webkit-box-shadow: inset 0 0 0 2px #2c609b;
  box-shadow: inset 0 0 0 2px #2c609b;
}
input:checked ~ .network-list li {
  opacity: 1;
}
input:checked ~ .network-list li:nth-child(1) {
  left: 50px;
}
input:checked ~ .network-list li:nth-child(2) {
  left: 100px;
}
input:checked ~ .network-list li:nth-child(3) {
  left: 150px;
}
@-webkit-keyframes barafter {
  0% {
    content: "\f1e0";
    width: 46px;
    height: 40px;
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    top: 0;
    left: 0;
    opacity: 1;
  }
  50% {
    background-color: transparent;
    content: "\f1e0";
    width: 46px;
    height: 40px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(0.2);
    -moz-transform: rotate(0deg) scale(0.2);
    -o-transform: rotate(0deg) scale(0.2);
    transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50.001% {
    background-color: #fff;
    left: 10px;
    top: 22px;
    content: "";
    height: 3px;
    width: 30px;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes barbefore {
  0% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  50% {
    background-color: transparent;
    -webkit-transform: rotate(0deg) scale(0.2);
    -moz-transform: rotate(0deg) scale(0.2);
    -o-transform: rotate(0deg) scale(0.2);
    transform: rotate(0deg) scale(0.2);
    opacity: 0;
  }
  60% {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -o-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
  }
}
.styled-icons.icon-sm a {
  font-size: 18px;
  margin: 2px 10px 2px 0;
}
.type-post .entry-content h3.entry-title {
  font-family: 'Museo-500-Regular', sans-serif;
  font-size: 18px;
}
.type-post .entry-content .entry-title > a {
  font-family: 'Museo-500-Regular', sans-serif;
  font-size: 18px;
}
article.type-post .entry-content > p {
  font: 'Open Sans', sans-serif;
}
.header-nav .header-nav-wrapper.scroll-to-fixed-fixed.scroll-to-fixed-fixed {
  border: 0px;
}
.schedule-box .thumb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-dots span {
  font-family: 'Museo-500-Regular', sans-serif;
  font-size: 20px;
}
.noticia .post .post-thumb figcaption {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: relative;
  padding: 10px 15px;
  top: -46px;
  margin-bottom: -46px;
  font-size: 13px;
}
.noticia .post .post-thumb .credito-video {
  background: rgba(0,0,0,0.75);
  color: #fff;
  padding: 10px 15px;
  font-size: 13px;
}
.noticia .post .entry-cover:before {
  background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 34%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(34%, rgba(255,255,255,0.34)), color-stop(100%, #000));
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 34%, #000 100%);
  background: -o-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 34%, #000 100%);
  background: -ms-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 34%, #000 100%);
  background: -webkit-background-origin: padding-box;;
  bottom: 0;
  display: inline-block;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.content-nota figcaption,
.contenido-leccion figcaption {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: relative;
  padding: 10px 15px;
  top: -42px;
  margin-bottom: -42px;
  font-size: 13px;
  text-align: left;
}
.content-nota blockquote,
.contenido-leccion blockquote {
  border: 0;
  font-size: 22px !important;
  padding: 10px 10px 10px 70px;
}
.content-nota blockquote:before,
.contenido-leccion blockquote:before {
  content: '\f10d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  left: 30px;
  margin-top: -15px;
  color: #3db4d9;
}
.content-nota blockquote span,
.contenido-leccion blockquote span {
  font-size: 22px !important;
}
.content-nota blockquote p,
.contenido-leccion blockquote p {
  font-family: 'Open Sans', sans-serif;
  padding: 5px 20px;
  font-weight: 500;
  border-left: 3px solid #3db4d9;
}
.content-nota blockquote p strong,
.contenido-leccion blockquote p strong {
  color: #3db4d9;
}
.content-nota a,
.contenido-leccion a {
  color: #3db4d9;
}
.content-nota a strong,
.contenido-leccion a strong {
  color: #3db4d9;
}
.content-nota a:after,
.contenido-leccion a:after {
  content: '\f35d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  padding-left: 5px;
  vertical-align: super;
  font-size: 12px;
}
.content-nota ul.list li a,
.contenido-leccion ul.list li a {
  color: #3db4d9;
}
.content-nota h1,
.contenido-leccion h1,
.content-nota h2,
.contenido-leccion h2,
.content-nota h3,
.contenido-leccion h3,
.content-nota h4,
.contenido-leccion h4,
.content-nota h5,
.contenido-leccion h5,
.content-nota h6,
.contenido-leccion h6 {
  color: #3db4d9;
}
.widget-title .color-1 {
  background-color: #005cb9;
}
.widget-title .color-2 {
  background-color: #ed6e22;
}
.widget-title .color-3 {
  background-color: #551108;
}
.widget-title .color-4 {
  background-color: #125444;
}
.widget-title .color-5 {
  background-color: #6bcff6;
}
footer .widget ul.list li a {
  font-size: 17px;
}
a.dir {
  line-height: 2;
}
.widget .post-title a,
.widget.dark .widget-title.line-bottom {
  font-size: 17px;
}
.post-date {
  color: #808080;
/*==============================
 =            evento            =
 ==============================*/
}
.info-box-evento li {
  position: relative;
  padding-left: 60px;
  color: #8d8d8d;
  min-height: 50px;
  font-size: 15px;
  margin-bottom: 25px;
}
.info-box-evento li .icon {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  line-height: 50px;
  color: #dee1e3;
  font-size: 36px;
}
.info-box-evento li strong {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
.info-box-evento.list-inline li {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .content-nota img,
  .contenido-leccion img {
    height: auto;
  }
}
.font-weight {
  font-weight: bold;
}
/*=============================================
=            user-admin  		           =
=============================================*/
.user-conf .fas {
  font-size: 18px;
  padding: 0 5px;
}
/*=============================================
=            Card 				            =
=============================================*/
.card-admin {
  -moz-box-shadow: 1px 0px 20px rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 0px 20px rgba(0,0,0,0.05);
  box-shadow: 1px 0px 20px rgba(0,0,0,0.05);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -o-background-clip: border-box;
  background-clip: border-box;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.card-admin .card-body {
  flex: 1 1 auto;
  padding: 0.8rem;
}
.card-admin .round {
  line-height: 75px;
  width: 75px;
  height: 75px;
  font-size: 30px;
  display: inline-block;
  font-weight: 400;
  border: 3px solid #f8f8fe;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #e1e4fb;
}
.data-graf {
  padding: 20px 10px;
  border: 1px solid #fff;
  background: #3db4d9;
}
.data-graf .round-mini {
  line-height: 50px;
  font-size: 50px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}
.round-inner {
  color: #484848;
}
.text-muted {
  color: #707070 !important;
}
.flex-row {
  flex-direction: row !important;
}
.d-flex {
  display: flex !important;
}
.align-self-center,
align-self center !important,
.align-self-end {
  align-self: flex-end !important;
}
/*===================================
=            tablas            =
===================================*/
.table th {
  font-family: 'Museo-500-Regular', sans-serif;
}
.table td[rowspan] {
  vertical-align: middle;
}
.tabla-acti th {
  text-align: center;
  background: #3db4d9;
  color: #fff;
  vertical-align: middle !important;
}
.tabla-acti td {
  text-align: center;
  vertical-align: middle !important;
}
.tabla-acti td[bgcolor] {
  color: #fff;
  font-weight: bold;
}
.tabla-acti .ancho-th {
  width: 550px;
  text-align: left;
  background: #fff;
  Color: #484848;
}
th.ancho-th.bg-theme-colored-darker2.text-white {
  text-align: center;
}
.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
  padding: 2px;
}
.bg-twitter {
  background-color: #1da1f2;
}
.bg-fb {
  background-color: #3b5998;
}
.bg-insta {
  background-color: #c13584;
}
.bg-youtube {
  background-color: #f00;
}
/*===================================
=            formularios            =
===================================*/
input.form-control.input-sm {
  height: 30px !important;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 45px;
}
.header-dropdown li.active .tab_btn {
  background-color: #3db4d9;
  color: #fff;
}
.content-indicador .tab-content,
.container-perfil .tab-content {
  border: 0;
  padding: 0;
}
/*===================================
=            Graficos            =
===================================*/
.tab-indicador {
  padding: 0px;
  border: 0px;
}
.tacometro1 {
  position: absolute;
  z-index: 2;
  left: 40px;
}
/*===================================
=            Tabpanel            =
===================================*/
.tab-dash .tab-content,
.tab-perfil .tab-content {
  border: 0;
}
.tab-dash .nav-tabs > li.active a,
.tab-perfil .nav-tabs > li.active a,
.tab-dash .nav-tabs > li.active a:hover,
.tab-perfil .nav-tabs > li.active a:hover,
.tab-dash .nav-tabs > li.active a:focus,
.tab-perfil .nav-tabs > li.active a:focus {
  background-color: #3db4d9;
  color: #fff;
  border-color: #3db4d9;
}
/*===================================
=            ficha            =
===================================*/
.perfil-caps label {
  font-size: 0.9em;
  text-transform: inicial;
}
.perfil-caps .styled-icons {
  position: relative;
  margin-top: -60px;
  z-index: 2;
  top: -20px;
}
.badge-movistar {
  background-color: #00377d;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.badge-claro {
  background-color: #ef3829;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.label-contenido {
  background-color: #f5f5f5;
  padding: 10px 20px;
  color: #096480;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}
.label-contenido li {
  font-weight: bold !important;
}
.label-contenido.text-left {
  text-align: left !important;
}
a:hover {
  color: #3db4d9;
}
.progress-bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.progress-bar .percent {
  display: none;
}
.progress-type {
  position: absolute;
  left: 50px;
  font-weight: 800;
  line-height: 18px;
  color: #fff;
  font-size: 0.9rem;
}
.progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  line-height: 18px;
  margin-right: 20px;
  font-size: 0.9rem;
}
.progress-animated {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: myanimation;
  -webkit-transition: 5s all;
  animation-duration: 5s;
  animation-name: myanimation;
  -o-transition: 5s all;
  -webkit-transition: 5s all;
  -moz-transition: 5s all;
  -o-transition: 5s all;
  transition: 5s all;
}
@-webkit-keyframes myanimation {
  from {
    width: 0;
  }
}
/********* peticiones *********/
.header-dropdown {
  position: relative;
  float: right;
  top: -10px;
  list-style: none;
}
.header-dropdown li {
  display: inline-block;
}
.header-dropdown li a {
  display: block;
}
.header-dropdown li .tab_btn {
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  background: #eee;
  color: #777;
  width: 40px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  padding: 5px;
}
.header-dropdown li .tab_btn.active {
  background-color: #3db4d9;
  color: #fff;
}
.header-dropdown .dropdown {
  position: relative;
}
.card-body .header .header-dropdown {
  position: absolute;
  top: 14px;
  right: 15px;
}
.badge-theme-color {
  background-color: #3db4d9;
  Color: #fff;
}
.badge-resuelto {
  background: transparent;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
.badge-pendiente {
  background: transparent;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}
.badge-cerrado {
  background: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
}
.btn-outline {
  color: #6c757d;
  border-color: #6c757d;
}
html body .flotTip,
html body .jqstooltip {
  width: auto !important;
  height: auto !important;
  background: #343a40;
  color: #fff;
  padding: 5px 10px;
}
@-moz-keyframes myanimation {
  from {
    width: 0;
  }
}
@-webkit-keyframes myanimation {
  from {
    width: 0;
  }
}
@-o-keyframes myanimation {
  from {
    width: 0;
  }
}
@keyframes myanimation {
  from {
    width: 0;
  }
}
