

{% load solo_tags static %}
{% load thumbnail flatpages %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}

<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="description" content="{{site_config.texto_corto_proposito}}" />
<meta name="author" content="SIMAS - CFCA" />

{% block share %}{% endblock share %}
<!-- Page Title -->
<title>{{site_config.site_name}}</title>
<link rel="shortcut icon" type="image/png" href="{% static 'img/logos/favicon.ico' %}"/>
<!-- Stylesheet -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/animate.css" rel="stylesheet" type="text/css">
<link href="/static/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="/static/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="/static/css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="/static/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="/static/css/style.css" rel="stylesheet" type="text/css"> -->

<!-- CSS | Theme Color -->
<link href="/static/css/color/theme-skin-blue.css" rel="stylesheet" type="text/css">
<link href="/static/css/fontawesome/v4-shims.min.css" rel="stylesheet" type="text/css">
{% block extra_css %}

{% endblock extra_css %}

<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146655946-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146655946-1');
</script>

</head>
<body class="has-side-panel side-panel-left fullwidth-page">
<style>
.goog-te-gadget-simple{
    background: white !important;
 }
 .goog-te-gadget-simple::before{
     content: '\f57d';
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     font-size: 13px;
 }
 .goog-te-gadget-simple::after{
     content: '\f078';
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     font-size: 12px;
 }
/*.goog-te-gadget-simple .goog-te-menu-value img{
    display: none;
}*/
.goog-te-gadget img {
    display: none;
}
.goog-te-gadget-simple{
    padding: 8px;
}
.goog-te-gadget-simple .goog-te-menu-value span:first-child{
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    line-height: 19px !important;
    font-weight: bold !important;
    color: #3DB4D9 !important;
    border-color: #3DB4D9 !important;
}
.goog-te-gadget-simple .goog-te-menu-value span{
    border: none !important;
}
</style>
<div id="wrapper" class="clearfix">
    <!-- Header -->
    <header class="header">
        <div class="header-top bg-theme-colored sm-text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="widget no-border m-0">
                            <div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                 new google.translate.TranslateElement({
                                        pageLanguage: 'es',
                                        includedLanguages: 'es,en,fr,',
                                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
                                        'google_translate_element'
                                        );
                                    }
                            </script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip sm-pull-none sm-text-center mt-sm-15">
                                <li><a href="https://www.facebook.com/CAPSNica/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/caps_nicaragua"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/caps_nicaragua/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCqEBGraEA_nT5M9OhZnGBvA"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="https://www.ivoox.com/perfil-caps-nicaragua_aj_21012758_1.html"><i class="fa fa-podcast"></i></a></li>
                                <!--<li>
                                {% if request.user.is_authenticated %}
                                    {{user.get_full_name|default:user.username}} <a href="{% url 'account_logout' %}">Salir</a>
                                {% else %}
                                    <a href="{% url 'account_login' %}?next={{ request.path }}">Iniciar Sesion</a>
                                {% endif %}
                                </li>-->
                            </ul>
                        {% if request.user.is_authenticated %}
                        <div class="btn-group show-on-hover user-conf pull-right">
                            <button type="button" class="btn btn-border btn-theme-colored  dropdown-toggle" data-toggle="dropdown">
                               <span class="fas fa-user"></span> {{request.user}}<span class="fas fa-angle-down"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/admin">Administración</a></li>
                                <li><a href="/beneficiario/">Seguimientos</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="btn-group show-on-hover user-conf pull-right">
                            <button type="button" class="btn btn-border btn-theme-colored  dropdown-toggle" data-toggle="dropdown">
                               <span class="fas fa-user"></span>inicie Sesión<span class="fas fa-angle-down"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'account_login' %}?next={{ request.path }}">Iniciar Sesión</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
                <div class="container">
                    <nav id="menuzord-right" class="menuzord default no-bg">
                        <a class="menuzord-brand pull-left flip" href="/"><img src="/static/img/logos/logo-wide2.png" alt=""></a>
                        <div id="side-panel-trigger" class="side-panel-trigger visible-xs visible-sm sr-only"><a href="#">Temas <i class="fa fa-bars font-22"></i></a></div>
                        {% get_flatpages as flatpages %}
                        <ul class="menuzord-menu">
                            <li class="menu1"><a href="/">Inicio</a></li>
                            <li class="menu0"><a href="#">Conócenos</a>
                                <ul class="dropdown">
                                {% for page in flatpages %}

                                    {% if page.url != '/politicas-privacidad/' and page.url != '/condiciones-servicio/' %}
                                        <li class="dm-page{{ page.id }}"><a href="/paginas{{ page.url }}">{{page.title}}</a></li>
                                    {% endif %}
                                    
                                {% endfor %}
                                </ul>
                            </li>
                             <li class="menu2" ><a href="{% url 'list_news' %}">Infórmate</a></li>
                            <li class="menu3"><a href="{% url 'list_course' %}">Aprende</a></li>
                            <li class="menu4"><a href="/lista-noticias-vidas/">Vida del CAPS</a></li>
                            <li class="menu5"><a href="/eventos">Eventos</a></li>
                            <li class="menu6"><a href="#">Documéntate</a>
                                <ul class="dropdown">
                                    <li class="dm-doc"><a href="/documentos/">Documentos</a></li>
                                    <li class="dm-video"><a href="/videos/">Videos</a></li>
                                    <li class="dm-galeria"><a href="/galerias/">Galeria</a></li>

                                </ul>
                            </li>

                            {% if request.user.is_authenticated %}
                            <li class="menu7"><a href="#home">Seguimientos</a>
                               <ul class="dropdown">
                                    <li><a href="/beneficiario/">Bene. Modulos Aprendizaje</a></li>
                                    <li><a href="/beneficiario-inversion/">Beneficiario Inversiones</a></li>
                                    <li><a href="/caps/cobertura/">Cobertura</a></li>
                                    <!-- <li><a href="/resultado/">Resultados</a></li>
                                    <li><a href="/actividades/">Actividades</a></li>
                                     <li><a href="/financiero/">Financiero</a></li> -->
                                    <li><a href="/encuestas/">Conocimientos</a></li>

                                </ul>
                            </li>
                            {% endif %}







                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Start main-content -->
    <main class="main-content">

      {% block contenido %}{% endblock contenido %}
    </main><!-- /.container -->

    <footer id="footer" class="footer divider layer-overlay overlay-dark-9" {% thumbnail site_config.foto_fondo_footer '1800x1000' as im %} data-bg-img="{{im.url}}" {% endthumbnail %} style="background-size: 100%;">

        <div class="container main-footer pt-40 pb-10">
            <div class="row border-bottom-black">
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Proyecto</h5>
                        <img class="mt-10 mb-20 center-block" alt="" src="/static/img/logos/logo-blanco2.png">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Organizaciones</h5>
                        <div class="latest-posts">
                            <article class="post media-post clearfix pb-0 mb-20">
                                <a href="http://www.simas.org.ni/" class="post-thumb"><img alt="" src="/static/img/logos/SIMAS.png" width="60"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5">
                                        <a href="http://www.simas.org.ni/">SIMAS</a>
                                    </h5>
                                    <p class="post-date mb-0 font-15">Ejecuta</p>
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-20">
                                <a href="https://www.canada.ca/en.html" class="post-thumb"><img alt="" src="/static/img/logos/Canada.jpg" width="100"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5">
                                        <a href="https://www.canada.ca/en.html">Gobierno de Canadá</a>
                                    </h5>
                                    <!-- <p class="post-date mb-10 font-15">Financiado</p> -->
                                </div>
                            </article>
                            <article class="post media-post clearfix pb-0 mb-20">
                                <a href="https://changeforchildren.org/" class="post-thumb"><img alt="" src="/static/img/logos/cfc.png" width="60"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5">
                                        <a href="https://changeforchildren.org/">Change for children</a>
                                    </h5>
                                    <p class="post-date mb-0 font-15">Financiado</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Enlaces de interés</h5>
                        <ul class="list list-border">
                            <li><a href="/proposito/">Propósito</a></li>
                            <li><a href="{% url 'list_news' %}">Infórmate</a></li>
                            {% comment %} <li><a href="{% url 'list_course' %}">Aprende</a></li> {% endcomment %}
                            <li><a href="/documentos/">Documentos</a></li>
                            <li><a href="/galerias/">Galeria</a></li>

                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget dark">
                                <h5 class="widget-title mb-10">Siguenos en nuestras redes:</h5>
                                <ul class="styled-icons icon-dark icon-theme-colored icon-circled icon-sm">
                                    <li><a href="https://www.facebook.com/CAPSNica/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/caps_nicaragua"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/caps_nicaragua/"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCqEBGraEA_nT5M9OhZnGBvA"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="https://www.ivoox.com/perfil-caps-nicaragua_aj_21012758_1.html"><i class="fa fa-podcast"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom">Contacto</h5>
                        <div class="opening-hours">
                            <ul class="list list-border">
                                <li><a class="dir" href="#">Dirección: Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen.</a></li>
                                <li><a href="#">PBX y Fax: (+505) 22682302</a></li>
                                <li><a href="mailto:simas@simas.org.ni">Correo: simas@simas.org.ni</a></li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom bg-black-333">
            <div class="container pt-15 pb-10">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-white font-11 m-0">Desarrollado por <a href="https://simas.org.ni/">SIMAS</a> {{site_config.anio_copyright}}.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="widget no-border m-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<!-- external javascripts -->
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/stylinggt.js"></script>
<script src="/static/js/example.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="/static/js/jquery-plugin-collection.js"></script>

<script type="text/javascript">
    $('.content-nota ul, .contenido-leccion ul').addClass('list theme-colored');
    $('.content-nota a, .contenido-leccion a').attr('target','_blank');

</script>



<!-- JS | Custom script for all pages -->
<script src="/static/js/mainjs.js"></script>

{% block extra_js %}{% endblock extra_js %}
  </body>
</html>
