{% load  separarlista %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <style> 
        @page {
            size: A4;
            margin: 1cm;
        }
        table, th, td {
        border: 1px solid black;
        }
        table {
        width: 90%;
        }
        th, td {margin: 20px; height: 50px;}
        td {
        text-align: center;
        }
        </style>
    <body>
        <h1 style="text-align: center;">{{caps.nombre_caps}}</h1>
        {% for k,v in perfil.items %}
            <h3>Año: {{k}}</h3>
            <hr>
            {% for dato in v.0 %}
                {% if v.11 %}
                    {% for foto in v.11 %}
                    <th>
                        <td><img src="http://{{request.get_host}}/media/{{ foto.foto }}" alt="{{foto.descripcion}}" height="200" width="auto"></td>
                    </th>   
                    {% endfor %}
                {% else %}
                    <div class="thumb">
                        <img src="http://placehold.it/500x300" alt="" width="100%">
                    </div>
                {% endif %}


                {% if dato.facebook %}
                <ul class="styled-icons icon-dark icon-theme-colored icon-sm text-right">
                    <li>Facebook: {{dato.facebook}}</li>
                </ul>
                {% endif %}

                <div class="media-body">
                    <h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
                        Contacto: {{dato.contacto}}
                    </h5>
                    <p>
                        <span>Cargo:</span> {{dato.cargo}}
                        <br>
                        <span>Celular:</span>
                        {% if dato.cel_movistar %}
                            {{dato.cel_movistar}} <span class="badge badge-movistar">T</span>{% if dato.cel_claro %}, {% endif %}
                        {% endif %}
                        {% if dato.cel_claro %}
                            {{dato.cel_claro}} <span class="badge badge-claro">C</span>
                        {% endif %}
                        <br>

                    </p>
                </div>

                <div class="media-body">
                    <h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
                        Ubicación: {{dato.ficha_caps.departamento}}
                    </h5>
                    <p>
                        {% if dato.ficha_caps.municipio %}
                            <span>Municipio:</span> {{dato.ficha_caps.municipio.nombre}} <br>
                        {% endif %}

                        {% if dato.ficha_caps.comunidad %}
                            <span>Comunidad:</span> {{dato.ficha_caps.comunidad.nombre}} <br>
                        {% endif %}

                        <span>Dirección:</span> {{dato.ficha_caps.direccion}}. <br>
                    </p>
                </div>


            {% endfor %}

            {% for constitucion in v.1 %}
            <h2>Datos de constitución</h2>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="label-contenido">
                        Nombre del presidente: {{constitucion.presidente}}
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <p class="label-contenido">
                        Sexo: {{constitucion.get_sexo_display}}
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <p class="label-contenido">
                        Fecha nacimiento: {{constitucion.fecha_nacimiento}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="label-contenido">
                        Fecha constitución del caps: {{constitucion.fecha_constitucion}}
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="label-contenido">
                        Fecha de registro municipal: {{constitucion.fecha_legalizacion}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="label-contenido" data-toggle="tooltip" title="{{constitucion.registro_aval}}">
                        Registro aval: {{constitucion.registro_aval}}
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="label-contenido" data-toggle="tooltip" title="{{constitucion.get_tipo_sistema_agua_display}}">
                        Tipo sistema agua: {{constitucion.get_tipo_sistema_agua_display}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="label-contenido">
                        Cantidad de tomas: {{constitucion.tomas_administrada}}
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="label-contenido">
                        Cantidad de familias: {{constitucion.cantidad_familia}}
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="label-contenido">
                        Personas beneficiaras: {{constitucion.cantidad_beneficiarios}}
                    </p>
                </div>
            </div>
            {% endfor %}

            {% for estructura in v.2 %}
            <div class="row mb-20">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                   <h4>Estructuras</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_estructuras_list|separalist|safe }}
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Nombres de estructuras de apoyo</h4>
                    <p class="label-contenido text-left">
                        {{estructura.estructura_apoyo}}
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Cargos junta directiva</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_junta_directiva_cargos_list|separalist|safe }}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Junta directiva mujer</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_junta_directiva_mujer_list|separalist|safe }}
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Documentos caps</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_documentos_caps_list|separalist|safe }}

                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>JD ayuda economica</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_jd_ayuda_economica_list|separalist|safe }}

                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Personal ayuda economica</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_personal_ayuda_economica_list|separalist|safe }}

                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Personal mujer</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{estructura.get_personal_mujer_list|separalist|safe }}

                    </ul>
                </div>
            </div>
            {% endfor %}

            {% for funciones in v.3 %}
            <h2>Composición de las estructuras del caps</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <table class="table1">
                            <thead >
                                <tr>
                                    <th>Mujeres asamblea general</th>
                                    <th>Hombres asamblea general</th>
                                    <th>Mujeres junta directiva</th>
                                    <th>Hombres junta directiva</th>
                                    <th>Mujeres administracion</th>
                                    <th>Hombres administracion</th>
                                    <th>Mujeres comisiones apoyo</th>
                                    <th>Hombres comisiones apoyo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                {% for composicion in v.3 %}
                                    <td>{{composicion.mujeres_asamblea_general}}</td>
                                    <td>{{composicion.hombres_asamblea_general}}</td>
                                    <td>{{composicion.mujeres_junta_directiva}}</td>
                                    <td>{{composicion.hombres_junta_directiva}}</td>
                                    <td>{{composicion.mujeres_administracion}}</td>
                                    <td>{{composicion.hombres_administracion}}</td>
                                    <td>{{composicion.mujeres_comisiones_apoyo}}</td>
                                    <td>{{composicion.hombres_comisiones_apoyo}}</td>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            {% endfor %}

            <br>
            <div class="funciones">
                <h2>Funciones del CAPS</h2>
                <div class="">
                    {% for composicion in v.4 %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h4>Cuáles de las siguiente funciones desempeñadas por la jd del caps</h4>
                            <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                {{composicion.get_funciones_jd_list|separalist|safe }}
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <h4>Ingresos del caps</h4>
                            <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                {{composicion.get_ingresos_list|separalist|safe }}
                            </ul>

                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <h4>Principales gastos del caps</h4>
                            <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                {{composicion.get_gastos_list|separalist|safe }}
                            </ul>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>

            <h2>El patrimonio del CAPS</h2>
        <div class="">
            {% for patrimonio in v.5 %}
            <div class="row mb-20">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Patrimonio CAPS</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{patrimonio.get_patrimonio_caps_list|separalist|safe }}
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>El caps paga impuestos</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        {{patrimonio.get_pagos_list|separalist|safe }}
                    </ul>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <h4>Tarifa diferenciada por la energia electrica</h4>
                    <ul class="list theme-colored check mt-0 label-contenido  text-left">
                        <li>{{patrimonio.get_energia_display}}</li>

                        {% if patrimonio.no %}
                            <h4>Razones:</h4>
                            <p>{{patrimonio.no}}</p>
                        {% endif %}

                    </ul>
                </div>

            </div>
            {% endfor %}

            <br>
            <div class="row mb-20">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                   <label for="">Estimación del valor Patrimonio del CAPS</label>
                   <div class="table-responsive">
                       <table class="table table-bordered table-hove">
                           <thead class="bg-theme-colored-darker3 text-white">
                               <tr>
                                   <th>Patriminio</th>
                                   <th>Monto</th>
                               </tr>
                           </thead>
                           <tbody>
                               {% for patrimonioestimacion in v.6 %}
                               <tr>
                                   <td>{{patrimonioestimacion.get_patriminio_display}}</td>
                                   <td>{{patrimonioestimacion.monto}}</td>
                               </tr>
                               {% endfor %}
                       </table>
                   </div>
                </div>
            </div>

            <div class="funciones">
                <h2>Asistencia técnica del CAPS</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hove">
                        <thead class="bg-theme-colored-darker3 text-white">
                            <tr>
                                <th>OPCION</th>
                                <th>REGLAMENTO</th>
                                <th>LEY 722</th>
                                <th>EDUCACION</th>
                                <th>AGUA SANEAMIENTO</th>
                                <th>MANEJO FINANCIERO</th>
                                <th>MANEJO ADMINISTRATIVO</th>
                                <th>OTROS</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for asistencia in v.7 %}
                            <tr>
                                <td>{{asistencia.get_opcion_display}}</td>

                                <td class="text-center">
                                    {% if asistencia.reglamento == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.ley_722 == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.educacion == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.agua_saneamiento == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.manejo_financiero == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.manejo_administrativo == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if asistencia.otros == True %}
                                        &#10004;
                                        {% else %}
                                        &#x2716;
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <br>
            <div class="funciones">
                <h2>Asistencia a los modulos de capacitación</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hove">
                        <thead class="bg-theme-colored-darker3 text-white">
                            <tr>
                                <th>Modulos</th>
                                <th>Asistio</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for k,v in v.10.items %}
                            <tr>
                                <td>{{k}}</td>
                                <td class="text-center">
                                    {% if v >= 1 %}
                                    &#10004;
                                    {% else %}
                                    &#x2716;
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <br>
            <div role="tabpanel" class="tab-pane " id="foda{{k}}">
                <div class="foda">
                    <h2>Análisis FODA CAPS</h2>
                    <div class="table-responsive">
                        {% for foda in v.8 %}
                        <table class="foda">
                            <thead class="">
                                <tr>
                                    <th></th>
                                    <th bgcolor="#FF4D11">Aspectos Positivos</th>
                                    <th bgcolor="#01A19D">Aspectos Negativos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th bgcolor="#FE9202"><p class="text-vertical">Internos</p></th>
                                    <td>
                                        <h4 class="text-theme-colored">
                                            <span class="fa fa-circle font-12"></span> Fortalezas
                                        </h4>
                                        {{foda.fortalezas}}
                                    </td>
                                    <td>
                                        <h4 class="text-theme-colored">
                                            <span class="fa fa-circle font-12"></span> Oportunidades
                                        </h4>
                                        {{foda.oportunidad}}
                                    </td>
                                </tr>
                                <tr>
                                    <th bgcolor="#01AD61"><p class="text-vertical">Externos</p></th>
                                    <td>
                                        <h4 class="text-theme-colored">
                                            <span class="fa fa-circle font-12"></span> Debilidades
                                        </h4>
                                        {{foda.debilidades}}
                                    </td>
                                    <td>
                                        <h4 class="text-theme-colored">
                                            <span class="fa fa-circle font-12"></span> Amenazas
                                        </h4>
                                        {{foda.amenazas}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <br><br>
        {% endfor %}
    </body>
</html>