{% extends "base.html" %}

{% load thumbnail solo_tags extras_tags_cfca embed_video_tags humanize %}

{% block extra_css %}
<link href="/static/css/notice.css" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block contenido %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<!-- Section: home -->
<section class="news-banner">
    <div class="container-fluid pb-0 pt-0">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
            {% if noticia_permanente %}
                <article class="type-post {{noticia_permanente.get_tematica_color}} main-note">
                    <figure class="entry-cover">
                        {% if noticia_permanente.foto_principal %}
                        {% thumbnail noticia_permanente.foto_principal "830x620" crop='center' as im %}
                        <a href="{{noticia_permanente.get_absolute_url}}">
                            <img src="{{ im.url }}" alt="{{noticia_permanente.titulo}}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        {% video noticia_permanente.video_principal as my_video %}
                            {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                            <a href="{{noticia_permanente.get_absolute_url}}">
                                <img class="img-fullwidth" src="{{im.url}}" alt="{{noticia_permanente.titulo}}">
                            </a>
                            {% endthumbnail %}
                        {% endvideo %}
                        {% endif %}
                    </figure>
                    <div class="entry-content">
                        <div class="post-category"><a style="background-color: {{noticia_permanente.get_tematica_color}};" href="#" title="World">{{noticia_permanente.get_tematica}}</a></div>
                        <h3 class="entry-title"><a href="{{noticia_permanente.get_absolute_url}}">{{noticia_permanente.titulo}}</a></h3>
                        <p>{{noticia_permanente.texto_noticia|safe|truncatewords:12|striptags}}</p>
                        <div class="entry-footer">
                            <span class="post-date"><a href="{{noticia_permanente.get_absolute_url}}">{{noticia_permanente.fecha_publicacion|date:"d F, Y"}}</a></span>
                            <span class="post-like"><i class="fa fa-user" style="color: {{noticia_permanente.get_tematica_color}}"></i><a href="#">{{noticia_permanente.autor_noticia.first_name}} {{noticia_permanente.autor_noticia.last_name}}</a></span>

                        </div>
                        <a href="{{noticia_permanente.get_absolute_url}}" title="Leer más">Leer más
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </article>
            {% else %}
                {% for nota in noticias_principales|slice:"0:1"%}
                <article class="type-post {{nota.get_tematica_color}} main-note">
                    <figure class="entry-cover">
                        {% if nota.foto_principal %}
                        {% thumbnail nota.foto_principal "830x620" crop='center' as im %}
                        <a href="{{nota.get_absolute_url}}">
                            <img src="{{ im.url }}" alt="{{nota.titulo}}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        {% video nota.video_principal as my_video %}
                            {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                            <a href="{{nota.get_absolute_url}}">
                                <img class="img-fullwidth" src="{{im.url}}" alt="{{nota.titulo}}">
                            </a>
                            {% endthumbnail %}
                        {% endvideo %}
                        {% endif %}
                    </figure>
                    <div class="entry-content">
                        <div class="post-category"><a style="background-color: {{nota.get_tematica_color}};" href="#" title="World">{{nota.get_tematica}}</a></div>
                        <h3 class="entry-title"><a href="{{nota.get_absolute_url}}">{{nota.titulo}}</a></h3>
                        <p>{{nota.texto_noticia|safe|truncatewords:12|striptags}}</p>
                        <div class="entry-footer">
                            <span class="post-date"><a href="{{nota.get_absolute_url}}">{{nota.fecha_publicacion|date:"d F, Y"}}</a></span>
                            <span class="post-like"><i class="fa fa-user" style="color: {{nota.get_tematica_color}}"></i><a href="#">{{nota.autor_noticia.first_name}} {{nota.autor_noticia.last_name}}</a></span>

                        </div>
                        <a href="{{nota.get_absolute_url}}" title="Leer más">Leer más
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </article>
                {% endfor %}
            {% endif %}
            </div>
            {% if noticia_permanente %}
                {% for notas in  noticias_principales|slice:"0:4"%}
                <div class="col-md-3 col-sm-3 col-xs-12 padding-bottom-5">
                <article class="type-post {{notas.get_tematica_color}}">
                    <figure class="entry-cover">
                        {% if notas.foto_principal %}
                        {% thumbnail notas.foto_principal "830x620" crop="center" as im %}
                        <a href="{{notas.get_absolute_url}}">
                            <img src="{{ im.url }}" alt="{{notas.titulo}}">
                        </a>
                        {% endthumbnail %}
                        {% elif notas.video_principal %}
                        <a href="{{notas.get_absolute_url}}">
                        {% video notas.video_principal as my_video %}
                            {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                                <img class="img-fullwidth" src="{{im.url}}" alt="{{notas.titulo}}">
                            {% endthumbnail %}
                        {% endvideo %}
                        </a>
                        {% else %}
                        <a href="{{notas.get_absolute_url}}">
                            <img src="http://placehold.it/830x620" alt="{{notas.titulo}}">
                        </a>
                        {% endif %}
                    </figure>
                    <div class="entry-content">
                        <div class="post-category"><a  style="background-color: {{notas.get_tematica_color}};" href="{{notas.get_absolute_url}}" title="Travel">{{notas.get_tematica}}</a></div>
                        <h3 class="entry-title"><a href="{{notas.get_absolute_url}}">{{notas.titulo}}</a></h3>
                        <p>{{notas.texto_noticia|truncatewords:20|safe|striptags}}</p>
                        <div class="entry-footer">
                            <span class="post-date"><a href="{{notas.get_absolute_url}}">{{notas.fecha_publicacion|date:"d F, Y"}}</a></span>
                            <span class="post-like"><i class="fa fa-user" style="color:{{notas.get_tematica_color}};"></i><a href="#">{{notas.autor_noticia.first_name}} {{notas.autor_noticia.last_name}}</a></span>

                        </div>
                        <a href="{{notas.get_absolute_url}}" title="Leer más">Leer más <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            {% endfor %}
            {% else %}
            {% for notas in  noticias_principales|slice:"1:5"%}
            <div class="col-md-3 col-sm-3 col-xs-12 padding-bottom-5">
                <article class="type-post {{notas.get_tematica_color}}">
                    <figure class="entry-cover">
                        {% if notas.foto_principal %}
                        {% thumbnail notas.foto_principal "830x620" crop="center" as im %}
                        <a href="{{notas.get_absolute_url}}">
                            <img src="{{ im.url }}" alt="{{notas.titulo}}">
                        </a>
                        {% endthumbnail %}
                        {% elif notas.video_principal %}
                        <a href="{{notas.get_absolute_url}}">
                        {% video notas.video_principal as my_video %}
                            {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                                <img class="img-fullwidth" src="{{im.url}}" alt="{{notas.titulo}}">
                            {% endthumbnail %}
                        {% endvideo %}
                        </a>
                        {% else %}
                        <a href="{{notas.get_absolute_url}}">
                            <img src="http://placehold.it/830x620" alt="{{notas.titulo}}">
                        </a>
                        {% endif %}
                    </figure>
                    <div class="entry-content">
                        <div class="post-category"><a  style="background-color: {{notas.get_tematica_color}};" href="{{notas.get_absolute_url}}" title="Travel">{{notas.get_tematica}}</a></div>
                        <h3 class="entry-title"><a href="{{notas.get_absolute_url}}">{{notas.titulo}}</a></h3>
                        <p>{{notas.texto_noticia|truncatewords:20|safe|striptags}}</p>
                        <div class="entry-footer">
                            <span class="post-date"><a href="{{notas.get_absolute_url}}">{{notas.fecha_publicacion|date:"d F, Y"}}</a></span>
                            <span class="post-like"><i class="fa fa-user" style="color:{{notas.get_tematica_color}};"></i><a href="#">{{notas.autor_noticia.first_name}} {{notas.autor_noticia.last_name}}</a></span>

                        </div>
                        <a href="{{notas.get_absolute_url}}" title="Leer más">Leer más <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>


</section>

<a href="/covid19-nicaragua/" class="destacado"  data-bg-img="/static/img/fondos/shape-a.png">
    <div class="container">
        <div class="text-rotator">
            <H3 class="slogan">
                        <ul>
                            <li><span>PREPÁRATE </span></li>
                            <li><span>ACTÚA </span></li>
                        </ul>
                     ANTE EL COVID-19 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Click aquí"
              </H3>
        </div>

    </div>
</a>


<!-- Section: About  -->
<section>
    <div class="container pb-30 pt-20">
        <div class="section-content">
            <h2 class="title line-bottom">Conócenos y contribuye a la <span class="text-theme-colored">Gestión del Agua</span></h2>
            <div class="row">
                <div class="col-md-6 ">
                <div class="owl-carousel-1col">
                    <div class="item">
                        <figure class="ow-hidden">
                            {% if site_config.foto_proposito|file_exists %}
                            {% thumbnail site_config.foto_proposito "600x280" crop="center" as im %}
                            <img class="img-fullwidth scale_effect" src="{{im.url}}" alt="{{site_config.site_name}}">
                            {% endthumbnail %}
                            {% else %}
                            <img class="img-fullwidth" src="http://placehold.it/600x280" alt="{{site_config.site_name}}">
                            {% endif %}
                        </figure>

                        <h3 class="line-bottom">Propósito</h3>
                        <p>{{site_config.texto_corto_proposito}}
                        </p>
                        <a class="text-theme-colored font-13" href="/paginas/proposito/">Leer más →</a>
                    </div>
                    <div class="item">
                        <figure class="ow-hidden">
                            <a href="https://www.ivoox.com/escuchar-audios-caps-nicaragua_al_21012758_1.html?show=programs"><img class="img-fullwidth scale_effect" src="/static/img/podcast.png" alt="podcast caps nicaragua"></a>
                        </figure>

                        <h3 class="line-bottom">Podcast</h3>
                        <p>
                            Viñetas radiales, destinadas a informar sobre diversas acciones de los CAPS, enfocadas en el desarrollo comunitario; incluyendo la promoción de medidas de protección, higiene y saneamiento en los 12 municipios de incidencia del proyecto TGSRH.
                        </p>
                        <a class="text-theme-colored font-13" href="https://www.ivoox.com/escuchar-audios-caps-nicaragua_al_21012758_1.html?show=programs">Leer más →</a>
                    </div>
                </div>
                </div>

                <div class="col-md-6">
                    <div class="row">

                        {% for inversion in noticias_inversion %}

                        <div class="col-md-6">
                            <div class="causes bg-white maxwidth500 mb-sm-30">
                                <div class="thumb">
                                    {% if inversion.foto_principal %}
                                    {% thumbnail inversion.foto_principal "830x620" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{inversion.titulo}}" alt="{{inversion.titulo}}" class="img-fullwidth">
                                    {% endthumbnail %}
                                    {% elif inversion.video_principal %}
                                    {% video inversion.video_principal as my_video %}
                                        {% thumbnail my_video.thumbnail "830x620" crop='center' as im %}
                                            <img class="img-fullwidth" src="{{im.url}}" alt="{{inversion.titulo}}">
                                        {% endthumbnail %}
                                        {% endvideo %}
                                    {% else %}
                                    <img src="http://placehold.it/830x620" alt="{{inversion.titulo}}" class="img-fullwidth">
                                    {% endif %}
                                    <div class="donate-now">
                                        <a style="background-color: {{inversion.get_tematica_color}};" class="btn btn-flat pull-left mt-10">{{inversion.get_tematica}}</a>
                                    </div>
                                </div>

                                <div class="causes-details clearfix p-15 pt-10 pb-10">
                                    <h5 class="font-weight-600 font-16"><a href="{{inversion.get_absolute_url}}">{{inversion.titulo}}</a></h5>
                                    <p>{{inversion.texto_noticia|safe|truncatewords:12|striptags}}</p>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <span class="normal-font font-24">Números</span>
                            <h3 class="mt-0 text-theme-colored">IMPACTO</h3>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pl-0 pr-0">
                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 box-text border-2">
                                <span class="fa fa-usd font-40 icon-data text-theme-colored"></span>
                                <h3 class="mt-5 mb-0">{{total_ejecutado|floatformat:2|intcomma}}</h3>
                                <span class="normal-font font-14">FINANCIADO</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6 box-text">
                                <span class="fa fa-usd font-40 icon-data text-theme-colored"></span>
                                <h3 class="mt-5 mb-0">{{cofinanciado|floatformat:2|intcomma}}</h3>
                                <span class="normal-font font-14">COFINANCIADO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- begin infografias -->
    <section class="bg-silver-light">
        <div class="container">
            <div class="section-content">
                <h2 class="title line-bottom">Infografías</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel-3col">
                                
                                    {% for obj in galerias_index %}
                                    <div class="item">
                                        <div class="causes bg-white maxwidth500 mb-sm-30">
                                            <div class="thumb">
                                                <a href="/media/{{obj.archivo}}" title="{{obj.titulo}}" data-lightbox-gallery="infografias">
                                                    <img src="/media/{{obj.archivo}}" alt="{{obj.credito}}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>  
                                    {% endfor %}
                                    
                                
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end infografias -->
    
    <!-- Section: Upcoming Events -->
    <section class="bg-silver-light">
        <div class="container">
            <div class="section-content">
                <h2 class="title line-bottom">Infórmate de las últimas <span class="text-theme-colored">actividades</span></h2>
                <div class="row">
                    <div class="column default-featured-column links-column col-lg-4 col-md-12 col-sm-12">
                        <article class="inner-box mb-md-60">
                            <div class="vertical-links-outer events-post">
                                <div class="text-uppercase p-15 mb-5 event-title" >
                                    <h2 class="text-white fw-b font-24 mr-xs-80 mr-xxs-0">Siguientes <span class="text-theme-colored">Eventos</span></h2>
                                </div>

                                <div class="bx-event-carousel">
                                    {% for evento in eventos %}
                                    <div class="link-block">
                                        <div class="default inner">
                                            <figure class="image-thumb ow-hidden">
                                                {% if evento.imagen_portada %}
                                                {% thumbnail evento.imagen_portada "830x620" crop="center" as im %}
                                                <img class="scale_effect" src="{{ im.url }}" alt="{{evento.titulo}}"  class="img-fullwidth">
                                                {% endthumbnail %}
                                                {% else %}
                                                <img class="scale_effect" src="http://placehold.it/830x620" alt="{{evento.titulo}}">
                                                {% endif %}
                                            </figure>
                                            <h4 class="title"><a href="{% url 'detail_eventos' evento.slug %}" >{{evento.titulo|truncatechars:50}}</a></h4>
                                            <ul class="event-held">
                                                <li><i class="fa fa-clock-o"></i>{{evento.fecha|date:"P"}}</li>
                                                <li> <i class="fa fa-map-marker"></i> {{evento.lugar}}</li>
                                            </ul>
                                            <ul class="event-date">
                                                <li class="event-day">{{evento.fecha|date:"d"}}</li>
                                                <li class="event-month">{{evento.fecha|date:"M"}}</li>
                                            </ul>
                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>

                            </div>
                        </article>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="owl-carousel-2col">
                                    {% for noti_actividad in noticias_actividades %}
                                    <div class="item">
                                        <div class="causes bg-white maxwidth500 mb-sm-30">
                                            <div class="thumb {{noti_actividad.get_tematica_color}}">
                                                {% if noti_actividad.foto_principal %}
                                                {% thumbnail noti_actividad.foto_principal "830x620" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="{{noti_actividad.titulo}}" alt="{{noti_actividad.titulo}}" class="img-fullwidth">
                                                {% endthumbnail %}
                                                {% else %}
                                                <img src="http://placehold.it/830x620" alt="{{noti_actividad.titulo}}" class="img-fullwidth">
                                                {% endif %}
                                                <div class="donate-now">
                                                    <a style="background-color: {{noti_actividad.get_tematica_color}};" class="btn btn-flat pull-left mt-10">{{noti_actividad.get_tematica}}</a>
                                                </div>
                                            </div>

                                            <div class="causes-details clearfix p-15 pt-10 pb-10">
                                                <h5 class="font-weight-600 font-16"><a href="{{noti_actividad.get_absolute_url}}">{{noti_actividad.titulo}}</a></h5>
                                                <p>{{noti_actividad.texto_noticia|safe|truncatewords:11|striptags}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="row mt-20">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <span class="normal-font font-24">Números</span>
                                <h3 class="mt-0 text-theme-colored">IMPACTO</h3>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 box-text border-2">
                                <span class="fa fa-graduation-cap font-40 icon-data text-theme-colored"></span>
                                <h3 class="mt-5 mb-0">{{participantes}}</h3>
                                <span class="normal-font font-14">CAPACITACIONES</span>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 box-text border-2">
                                <span class="fa fa-venus font-40 icon-data text-theme-colored"></span>
                                <h3 class="mt-5 mb-0">{{participantes_mujeres}}</h3>
                                <span class="normal-font font-14">MUJERES</span>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 box-text">
                                <span class="fa fa-mars font-40 icon-data text-theme-colored"></span>
                                <h3 class="mt-5 mb-0">{{participantes_hombres}}</h3>
                                <span class="normal-font font-14">HOMBRES</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Parallax -->
    {% comment %} <section class="divider parallax layer-overlay overlay-dark-6" {% thumbnail site_config.foto_fondo_index_aprendizaje '960x640' as im %}data-bg-img="{{im.url}}" {% endthumbnail %} data-parallax-ratio="0.7">
        <div class="container pt-110 pb-110">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-white font-24 font-weight-600 mb-5">Gestión comunitaria del agua</h3>
                    <h2 class="text-white font-36 text-uppercase font-weight-600 mt-0">El Uso de las TIC  <span class="text-theme-colored">para el aprendizaje</span></h2>
                    <p class="text-white">
                        El proyecto Tecnologías para la Gestión del Recurso Hídrico, dispone en su plataforma virtual con seis cursos que permitirá a integrantes de las Juntas Directivas, capacitarse en temas como organización comunitaria y la gestión del agua, a través de dispositivos móviles.
                    </p>
                    <a href="{% url 'list_course' %}" class="btn btn-lg btn-default mt-20 btn-theme-colored">¡Tú también puedes aprender! Entra Ya.</a>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!-- Section: Gallery -->
    <section id="gallery">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="hidden-xs col-md-7 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3 class="text-uppercase title line-bottom mt-0 mb-30"><i class="fa fa-camera text-theme-colored text-gray-darkgray mr-10"></i>Galeria</h3>
                        <!-- Portfolio Gallery Grid -->

                        <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                            {% for obj in galerias %}
                            {% for foto in obj.galeria.all|slice:":4" %}
                            <!-- Portfolio Item Start -->
                            <div class="gallery-item">
                                <div class="thumb">
                                    {% thumbnail foto.archivo "830x620" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{foto.titulo}}" class="img-fullwidth">
                                    {% endthumbnail %}
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="media/{{foto.archivo}}" title="{{foto.titulo}}. Foto: {{foto.credito}}" data-lightbox-gallery="gallery"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Portfolio Item End -->
                            {% endfor %}

                            {% endfor %}

                        </div>
                        <!-- End Portfolio Gallery Grid -->
                    </div>
                    <div class="visible-xs-* col-xs-12 hidden-sm hidden-md hidden-lg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3 class="text-uppercase title line-bottom mt-0 mb-30"><i class="fa fa-camera text-theme-colored text-gray-darkgray mr-10"></i>Galeria</h3>
                        <div class="thumb">
                            <div class="owl-carousel-xs-gallery" data-lightbox="gallery">
                                {% for obj in galerias %}
                                {% for foto in obj.galeria.all %}
                                {% thumbnail foto.archivo "830x620" crop="center" as im %}
                                <div class="item">
                                    <a href="media/{{foto.archivo}}" title="{{foto.titulo}}. Foto: {{foto.credito}}" data-lightbox-gallery="gallery">
                                        <img src="{{ im.url }}" alt="{{foto.titulo}}">
                                    </a>
                                </div>
                                {% endthumbnail %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Portfolio Gallery Grid

                            <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
                                {% for foto in galerias %}

                                <div class="gallery-item">
                                    <div class="thumb">
                                        {% thumbnail foto.archivo "830x620" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{foto.titulo}}" alt="{{foto.titulo}}" class="img-fullwidth">
                                        {% endthumbnail %}
                                        <div class="overlay-shade"></div>
                                        <div class="icons-holder">
                                            <div class="icons-holder-inner">
                                                <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                    <a href="media/{{foto.archivo}}" title="{{foto.titulo}}. Foto: {{foto.credito}}" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>
                        -->
                    </div>
                    <div class="col-md-5 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3 class="text-uppercase title line-bottom mt-0 mb-30 mt-sm-40"><i class="fa fa-tint text-theme-colored mr-10"></i>Voces <span class="text-theme-colored">del Agua</span></h3>

                        <div class="bxslider bx-nav-top">
                            {% for voz in voces %}
                            <div class="testimonial media sm-maxwidth400 pt-5 pb-5 pl-10 pr-10 mt-0 mb-10">
                                <div class="pt-10">
                                    <div class="thumb pull-left mb-0 mr-0 pr-20">
                                        {% if voz.foto_principal %}
                                        {% thumbnail voz.foto_principal "100x100" crop='center' as im %}
                                        <img width="75" class="img-circle" src="{{ im.url }}" alt="{{voz.credito_foto}}" width="100%">
                                        {% endthumbnail %}
                                        {% else %}
                                        <img width="75" class="img-circle" alt="{{voz.credito_foto}}" src="http://placehold.it/100x100">
                                        {% endif %}

                                    </div>
                                    <div class="ml-100 ">
                                        <p>“{{voz.descripcion|safe}}”.</p>
                                        <p class="author mt-0">- <span class="text-theme-colored">{{voz.titulo}},</span> <small></small></p>
                                        <p class="author mt-0">{{voz.credito_foto}}.</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="videos-list">
        <div class="container">
            <h2 class="title line-bottom text-white">Últimos <span class="text-theme-colored">videos</span></h2>


            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="tab-content p-0 border-0">
                    {% for video in videos %}
                        <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="video{{video.id}}">
                            {% video video.video_url '982x552' %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h5 class="text-white hidden-md	hidden-lg">Más Videos</h5>
                    <ul class="nav nav-tabs nav_videos row" role="tablist">
                        {% for vid in videos|slice:":4" %}
                            <li class="{% if forloop.first %}active{% endif %} col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <a class="mb-10" href="#video{{vid.id}}" aria-controls="video{{vid.id}}" role="tab" data-toggle="tab">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">
                                            {% if vid.imagen_portada %}
                                                {% thumbnail vid.imagen_portada "854x480" crop='center' as im %}
                                                    <img class="img-fullwidth" src="{{im.url}}" alt="{{vid.titulo}}">
                                                {% endthumbnail %}
                                            {% else %}

                                                {% video vid.video_url as my_video %}
                                                <img class="img-fullwidth" src="{{my_video.thumbnail}}" alt="{{vid.titulo}}">
                                                {% endvideo %}

                                            {% endif %}
                                        </div>
                                        <div class="title-video col-lg-7 col-md-7 col-sm-7 col-xs-8">
                                            <p class="">
                                                {{vid.titulo}}

                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>

        <div class="row">

        </div>

    </section>
    {% comment %} <section class="videos-list">
        <div class="container video-content">
            <h2 class="title line-bottom text-white">Últimos <span class="text-theme-colored">videos</span></h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLdSnwitdAVEFyK0nut-t5oeFtvaunSlAs" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

        </div>

    </section> {% endcomment %}
    <section class="mb-0">
        <div class="call-to-action pt-40 pb-40 bg-theme-colored container">

            <div class="icon-box icon-rounded-bordered left media mb-0 ml-60 ml-sm-0"> <a href="#" class="media-left pull-left flip hidden-xs"> <i class="pe-7s-paper-plane text-white border-1px p-20"></i></a>
                <div class="media-body">
                    <h3 class="media-heading heading text-white">Suscríbete a nuestro boletín</h3>
                    <p class="text-white">Para estar actualizado de las nuevas noticias y actividades del proyecto, escribe tu correo electrónico y recibirás nuestra actualizaciones.</p>

                    <!-- <form id="mailchimp-subscription-form-footer" class="newsletter-form">
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" placeholder="correo" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                            <span class="input-group-btn">
                                <button data-height="45px" class="btn btn-colored  btn-xs m-0 font-14" type="submit">Suscribirse</button>
                            </span>
                        </div>
                    </form> -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                                <form action="https://gmail.us3.list-manage.com/subscribe/post?u=bd5374a50dd1754f895ad7983&amp;id=45cd4a124a" method="post" id="" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group mb-20">
                                                <input type="text" value="" name="FNAME" class="form-control font-16" id="mce-FNAME" placeholder="Nombre" data-height="45px">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group  mb-20">
                                                <input type="text" value="" name="LNAME" class="form-control font-16" id="mce-LNAME" placeholder="Apellidos" data-height="45px">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-lg-12">
                                            <div class="input-group">

                                                <input type="email" value="" name="EMAIL" class="required email form-control input-lg font-16" id="mce-EMAIL" placeholder="Correo" data-height="45px">
                                                <span class="input-group-btn">

                                                    <input data-height="45px" type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="btn btn-colored  btn-xs m-0 font-14">
                                                </span>
                                            </div>
                                        </div>

                                    </div>










                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bd5374a50dd1754f895ad7983_45cd4a124a" tabindex="-1" value=""></div>
                                        <div class="clear"></div>

                                </form>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">

                            <div id="mc_embed_signup">

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        {% endblock contenido %}

        {% block extra_js %}
        <script>
            $('.menuzord-menu li.menu1').addClass('active');

              $(document).ready(function(){

                var sloganArea = $('.slogan ul');
                sloganArea.width(sloganArea.find('li').eq(0).find('span').width());
            
                setInterval(function () {
                    var itemHeight = $('.slogan ul li').eq(0).height();
            
                    sloganArea.animate({
                        width : $('.slogan ul li').eq(1).find('span').width(),
                        top : itemHeight * -1
                    },200, function(){
                        sloganArea.append($('.slogan ul li').eq(0));
                        sloganArea.css('top', 1);
            
                        $('.slogan ul li').each(function(i){
                            $(this).css('top', i*itemHeight);
                        });
                    });
            
                }, 4000);
            
            });
            $('.owl-carousel-xs-gallery').owlCarousel({
                loop:true,
                margin:10,
                autoplay:true,
                nav:true,
                navText: [
                '<i class="fa fa-angle-left"></i>',
                '<i class="fa fa-angle-right"></i>'
                ],
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            });

            $('.bx-event-carousel').bxSlider({
                auto: true,
                speed: 1000,
                mode: 'vertical',
                minSlides: 3,
                slideMargin: 10,
                pager: false,
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
            $('.nav_videos li a').on('click', function() {
                var id_iframe = $('.tab-pane.active iframe').attr('id');
                document.getElementById(id_iframe).src += '';
            });
        </script>
        {% endblock extra_js %}
