{% extends "base.html" %}

{% load thumbnail %}
{% load solo_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
{% endblock extra_css %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <script>
        pannellum.viewer('panorama', {
            "type": "equirectangular",
            "panorama": "https://pannellum.org/images/alma.jpg"
        });
    </script>
<script>
  $('.menuzord-menu li.dm-page{{flatpage.id}}').addClass('active');
  $('.section-default ol').addClass('list');
  
</script>
{% endblock extra_js %}

{% block contenido %}
{% comment %} <style>
    #panorama {
        width: 830px;
        height: 620px;
    }
</style> {% endcomment %}
{% get_solo 'configuracion.SiteConfiguration' as site_config %}
<section class="inner-header layer-overlay bg-title" {% thumbnail site_config.foto_fondo_flatpage '1300x200' as im %}data-bg-img="{{im.url}}" {% endthumbnail %}>
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center white">
                    <h2 class="text-white mt-10">Conócenos</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">{{flatpage.title}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} <div id="panorama"></div> {% endcomment %}
<section>
    <div class="container pb-0">
        <div class="section-content mb-50 section-default">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2 class="title line-bottom">{{flatpage.title}}</h2>
                    {{flatpage.content}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

