{% extends "seguimiento/basedash.html" %}

{% block contenido %}

<div class="container">
<div class="btn-group">
  <a href="/redes-sociales/home/" class="btn btn-primary btn-lg">Redes Sociales</a>
  <a href="/redes-sociales/campaing/" class="btn btn-success btn-lg">Campañas</a>
  <a href="/redes-sociales/estadisticas/" class="btn btn-warning btn-lg">Estadisticas web</a>
</div>
<br><br>
<div class="table-response">
      <table class="table table-hover table-bordered">
          <caption>Redes Sociales año {{k}}</caption>
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Tiempo</th>
              <th class="text-center" scope="col" colspan="3">Alcance</th>
              <th class="text-center" scope="col" colspan="3">Interacción</th>
              <th class="text-center" scope="col" colspan="3">Cantidad de publicaciones</th>
              <th class="text-center" scope="col" colspan="2">Sitio web</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th scope="col">Facebook</th>
              <th scope="col">Instagram</th>
              <th scope="col">Twitter</th>
              <th scope="col">Facebook</th>
              <th scope="col">Instagram</th>
              <th scope="col">Twitter</th>
              <th scope="col">Facebook</th>
              <th scope="col">Instagram</th>
              <th scope="col">Twitter</th>
              <th scope="col">Notas</th>
              <th scope="col">Vistas</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in tabla_data %}
            <tr>
              <th scope="row">{{obj.nombre}}</th>
              <td class="text-center">{{obj.fecha_inicio}} - {{obj.fecha_finalizacion}}</td>
              <td class="text-center">{{obj.alcance_fb}}</td>
              <td class="text-center">{{obj.alcance_ig}}</td>
              <td class="text-center">{{obj.alcance_tw}}</td>
              <td class="text-center">{{obj.interaccion_fb}}</td>
              <td class="text-center">{{obj.interaccion_ig}}</td>
              <td class="text-center">{{obj.interaccion_tw}}</td>
              <td class="text-center">{{obj.publicaciones_fb}}</td>
              <td class="text-center">{{obj.publicaciones_ig}}</td>
              <td class="text-center">{{obj.publicaciones_tw}}</td>
              <td class="text-center">{{obj.sitio_web_notas}}</td>
              <td class="text-center">{{obj.sitio_web_vistas}}</td>
            </tr>
            {% endfor %}
            <tr>
            {% for llave,valor in anualidades.items %}
                {% if llave == k %}
                  <th scope="row">Anual</th>
                  <td class="text-center">{{valor.0}}</td>
                  <td class="text-center">{{valor.1}}</td>
                  <td class="text-center">{{valor.2}}</td>
                  <td class="text-center">{{valor.3}}</td>
                  <td class="text-center">{{valor.4}}</td>
                  <td class="text-center">{{valor.5}}</td>
                  <td class="text-center">{{valor.6}}</td>
                  <td class="text-center">{{valor.7}}</td>
                  <td class="text-center">{{valor.8}}</td>
                {% endif %}
            {% endfor %}  
            </tr>
          </tbody>
        </table>
        </div>  
   

</div> <!-- container -->
<br><br>

{% endblock contenido %}
