{% extends "seguimiento/basedash.html" %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{% endblock extra_css %}

{% block contenido %}

<div class="container">
<div class="btn-group">
  <a href="/redes-sociales/home/" class="btn btn-primary btn-lg">Redes Sociales</a>
  <a href="/redes-sociales/campaing/" class="btn btn-success btn-lg">Campañas</a>
  <a href="/redes-sociales/estadisticas/" class="btn btn-warning btn-lg">Estadisticas web</a>
</div>
<br><br>
<form action="/redes-sociales/estadisticas/">
  <label for="meses">Escoge los meses:</label>
  <select name="mes" id="mes" multiple="multiple">
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
  </select>
  <br><br>
  <input type="submit" value="Consultar">
</form>
<br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for k in tabla_data.keys  %}
      <li class="nav-item">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{k}}-tab" data-toggle="tab" href="#{{k}}" role="tab" aria-controls="{{k}}" {% if forloop.first %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>{{k}}</a>
      </li>
    {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
    {% for k, v in tabla_data.items  %}
      <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{k}}" role="tabpanel" aria-labelledby="{{k}}-tab">
      <!-- aqui va la tabla -->
    <div class="table-response">
      <table class="table table-hover table-bordered">
          <caption>Redes Sociales año {{k}}</caption>
          <thead>
            <tr>
              <th scope="col">Meses</th>
              <th class="text-center" scope="col" colspan="3">Analityc</th>
              <th class="text-center" scope="col" colspan="4">Usuarios</th>
            </tr>
            <tr>
              <th></th>
              <th scope="col">Pagina vistas</th>
              <th scope="col">Usuarios</th>
              <th scope="col">Duracion session</th>
              <th scope="col">Femenino</th>
              <th scope="col">%</th>
              <th scope="col">Masculino</th>
              <th scope="col">%</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in v.items %}
            <tr>
              <th scope="row">{{key}}</th>
              <td class="text-center">{{value.0.0}}</td>
              <td class="text-center">{{value.0.1}}</td>
              <td class="text-center">{{value.0.2}}</td>
              <td class="text-center">{{value.0.3}}</td>
              <td class="text-center">{{value.0.4}}</td>
              <td class="text-center">{{value.0.5}}</td>
              <td class="text-center">{{value.0.6}}</td>
              
            </tr>
            {% endfor %}
            <tr>
            {% for llave,valor in anualidades.items %}
                {% if llave == k %}
                  <th scope="row">Anual</th>
                  <td class="text-center">{{valor.0}}</td>
                  <td class="text-center">{{valor.1}}</td>
                  <td class="text-center">{{valor.2}}</td>
                  <td class="text-center">{{valor.3}}</td>
                  <td class="text-center"></td>
                  <td class="text-center">{{valor.5}}</td>
                  <td class="text-center"></td>
                  
                {% endif %}
            {% endfor %}  
            </tr>
          </tbody>
        </table>
        </div>
        <hr>
        
        <div id="container-usuarios-{{k}}" style="width:100%; height:400px;"></div>
        <hr>
        <div id="container-analityc-{{k}}" style="width:100%; height:400px;"></div>
      </div>
    {% endfor %}
    </div>

</div> <!-- container -->
<br><br>

{% endblock contenido %}

{% block extra_js %}}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('#mes').select2({
        placeholder: "Seleccione meses",
        allowClear: true,
        width: '592px' 
    });

}); 
</script> 
<script type="text/javascript">

{% for k, v in anualidades.items  %}

Highcharts.chart('container-usuarios-{{k}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Usuarios - {{k}}'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Usuarios',
        colorByPoint: true,
        data: [{
            name: 'Femenino',
            y: {{v.3}},
            sliced: true,
            selected: true
        }, {
            name: 'Masculino',
            y: {{v.5}}
        }
        ]
    }]
});

{% endfor %}

{% for k, v in tabla_data.items  %}

Highcharts.chart('container-analityc-{{k}}', {

    title: {
        text: 'Paginas vistas y Usuarios {{k}}'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Numeros de vistas y Usuarios'
        }
    },

    xAxis: {
        categories: [
        {% for key, value in v.items %}
          '{{key}}', {% if forloop.last %}{% endif %}
        {% endfor %}
        ]
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        }
    },

    series: [{
        name: 'Paginas vistas',
        data: [{% for value in v.values %}{{value.0.0}},{% endfor %}]
    }, {
        name: 'Usuarios',
        data: [{% for value in v.values %}{{value.0.1}},{% endfor %}]
    }
    ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
     


{% endfor %}

</script> 
{% endblock extra_js %}