{% extends "seguimiento/basedash.html" %}

{% load extras_tags_cfca %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{% endblock extra_css %}

{% block contenido %}

<div class="container">
<div class="btn-group">
  <a href="/redes-sociales/home/" class="btn btn-primary btn-lg">Redes Sociales</a>
  <a href="/redes-sociales/campaing/" class="btn btn-success btn-lg">Campañas</a>
  <a href="/redes-sociales/estadisticas/" class="btn btn-warning btn-lg">Estadisticas web</a>
</div>
<br><br>
<form action="/redes-sociales/home/">
  <label for="meses">Escoge los meses:</label>
  <select name="mes" id="mes" multiple="multiple">
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
  </select>
  <br><br>
  <input type="submit" value="Consultar">
</form>
<br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for k in tabla_data.keys  %}
      <li class="nav-item">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{k}}-tab" data-toggle="tab" href="#{{k}}" role="tab" aria-controls="{{k}}" {% if forloop.first %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>{{k}}</a>
      </li>
    {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
    {% for k, v in tabla_data.items  %}
      <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{k}}" role="tabpanel" aria-labelledby="{{k}}-tab">
      <!-- aqui va la tabla -->
    <div class="table-response">
      <table class="table table-hover table-bordered">
          <caption>Redes Sociales año {{k}}</caption>
          <thead>
            <tr>
              <th scope="col">Meses</th>
              <th class="text-center" scope="col" colspan="3">Facebook</th>
              <th class="text-center" scope="col" colspan="3">Instagram</th>
              <th class="text-center" scope="col" colspan="3">Twitter</th>
            </tr>
            <tr>
              <th></th>
              <th scope="col">Interacción(MG,CM,SH)</th>
              <th scope="col">Seguidores</th>
              <th scope="col">Alcance</th>
              <th scope="col">Interacción(MG,CM,SH)</th>
              <th scope="col">Seguidores</th>
              <th scope="col">Alcance</th>
              <th scope="col">Interacción(MG,CM,SH)</th>
              <th scope="col">Seguidores</th>
              <th scope="col">Alcance</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in v.items %}
            <tr>
              <th scope="row">{{key}}</th>
              <td class="text-center">{{value.0.0}}</td>
              <td class="text-center">{{value.0.1}}</td>
              <td class="text-center">{{value.0.2}}</td>
              <td class="text-center">{{value.0.3}}</td>
              <td class="text-center">{{value.0.4}}</td>
              <td class="text-center">{{value.0.5}}</td>
              <td class="text-center">{{value.0.6}}</td>
              <td class="text-center">{{value.0.7}}</td>
              <td class="text-center">{{value.0.8}}</td>
            </tr>
            {% endfor %}
            <tr>
            {% for llave,valor in anualidades.items %}
                {% if llave == k %}
                  <th scope="row">Anual</th>
                  <td class="text-center">{{valor.0}}</td>
                  <td class="text-center">{{valor.1|ultimo}}</td>
                  <td class="text-center">{{valor.2}}</td>
                  <td class="text-center">{{valor.3}}</td>
                  <td class="text-center">{{valor.4|ultimo}}</td>
                  <td class="text-center">{{valor.5}}</td>
                  <td class="text-center">{{valor.6}}</td>
                  <td class="text-center">{{valor.7|ultimo}}</td>
                  <td class="text-center">{{valor.8}}</td>
                {% endif %}
            {% endfor %}  
            </tr>
          </tbody>
        </table>
        </div>
        <hr>

        <div id="container-alcance-{{k}}" style="width:100%; height:400px;"></div>
        <hr>
        <div id="container--{{k}}" style="width:100%; height:400px;"></div>
        <hr>
        <div id="container-barra-{{k}}" style="width:100%; height:400px;"></div>
        <hr>
        <div id="container-interacion-{{k}}" style="width:100%; height:400px;"></div>
        <hr>
        <div id="container-seguidores-{{k}}" style="width:100%; height:400px;"></div>
      </div>
    {% endfor %}
    </div>

</div> <!-- container -->
<br><br>

{% endblock contenido %}

{% block extra_js %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('#mes').select2({
        placeholder: "Seleccione meses",
        allowClear: true,
        width: '592px' 
    });

}); 
</script> 


<script type="text/javascript">
// Create the chart
{% for k,v in anualidades.items %}

Highcharts.chart('container--{{k}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Alcance anual - Redes Sociales'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Redes Sociales',
        colorByPoint: true,
        data: [{
            name: 'Facebook',
            y: {{v.2}},
            sliced: true,
            selected: true
        }, {
            name: 'Instagram',
            y: {{v.5}}
        }, {
            name: 'Twitter',
            y: {{v.8}}
        }]
    }]
});

// Create the chart
Highcharts.chart('container-barra-{{k}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Seguidores totales'
    },
    subtitle: {
        text: '{{k}}'
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}'
    },

    series: [
        {
            name: "Redes Sociales",
            colorByPoint: true,
            data: [
                {
                    name: "Facebook",
                    y: {{v.1|ultimo}},
                },
                {
                    name: "Instagram",
                    y: {{v.4|ultimo}},
                },
                {
                    name: "Twitter",
                    y: {{v.7|ultimo}},
                }  
               
            ]
        }
    ]
    
});
              
{% endfor %}

{% for k, v in tabla_data.items  %}

Highcharts.chart('container-alcance-{{k}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Alcance Mensual'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
             {% for key, value in v.items %}
              '{{key}}', {% if forloop.last %}{% endif %}
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Facebook',
        data: [{% for value in v.values %}{{value.0.2}},{% endfor %}]

    }, {
        name: 'Instagram',
        data: [{% for value in v.values %}{{value.0.5}},{% endfor %}]

    }, {
        name: 'Twitter',
        data: [{% for value in v.values %}{{value.0.8}},{% endfor %}]

    }]
});

Highcharts.chart('container-interacion-{{k}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Interacción mensual'
    },
    xAxis: {
        categories: [
        {% for key, value in v.items %}
          '{{key}}', {% if forloop.last %}{% endif %}
        {% endfor %}
        ]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: ( // theme
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                ) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Facebook',
        data: [{% for value in v.values %}{{value.0.0}},{% endfor %}]
    }, {
        name: 'Instagram',
        data: [{% for value in v.values %}{{value.0.3}},{% endfor %}]
    }, {
        name: 'Twitter',
        data: [{% for value in v.values %}{{value.0.6}},{% endfor %}]
    }]
});

Highcharts.chart('container-seguidores-{{k}}', {

    title: {
        text: 'Seguidores {{k}}'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Numeros de seguidores'
        }
    },

    xAxis: {
        categories: [
        {% for key, value in v.items %}
          '{{key}}', {% if forloop.last %}{% endif %}
        {% endfor %}
        ]
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        }
    },

    series: [{
        name: 'Facebook',
        data: [{% for value in v.values %}{{value.0.1}},{% endfor %}]
    }, {
        name: 'Instagram',
        data: [{% for value in v.values %}{{value.0.4}},{% endfor %}]
    }, {
        name: 'Twitter',
        data: [{% for value in v.values %}{{value.0.7}},{% endfor %}]
    }
    ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
     


{% endfor %}

</script> 
{% endblock extra_js %}