{% extends "base.html" %}

{% load embed_video_tags %}

{% block share_fb %}
<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="/media/{{object.imagen}}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.descripcion|striptags}}" />
<meta property="og:url" content="http:{{request.path}}" />
<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}

{% block contenido %}
<div id="side-panel" class="dark bg-img-cover layer-overlay overlay-white-8">
  <div class="side-panel-wrap">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="pe-7s-close font-36"></i></a></div>
    <div class="side-panel-nav mt-30">
      <div class="widget no-border">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="widget-title line-bottom">{{object.titulo}}</h5>
                <nav id="accordion2" class="panel-group accordion">
                    <div class="list-group mb-0">
                        <a onclick="closepane()" class="list-group-item active" href="#home" aria-controls="home" role="tab" data-toggle="tab">Introduccion</a>
                    </div>
                    {% for modulo in object.modules.all %}
                    <div class="panel">
                        <div class="panel-title"> <a data-parent="#accordion2" data-toggle="collapse" href="#accordion2{{forloop.counter}}" class="" aria-expanded="true"> <span class="open-sub"></span>{{modulo.titulo}}</a>
                        </div>
                        <div id="accordion2{{forloop.counter}}" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                          <div class="panel-content p-0">
                            <div class="list-group mb-0">
                            {% for content in modulo.contenidos.all %}
                                <a onclick="closepane()" href="#section-{{content.titulo|slugify}}-{{forloop.counter}}" class="list-group-item scroll-to" aria-controls="section-{{content.titulo|slugify}}-{{forloop.counter}}" role="tab" data-toggle="tab">
                                    {{content.titulo}}
                                </a>
                            {% endfor %}
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </nav>
            </div>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- <button class="btn btn-gray btn-theme-colored btn-xl  pull-left  btn-menu visible-xs visible-sm hvr-bounce-in">
    <i class="fa fa-bars"></i>
</button> -->
<section class="inner-header layer-overlay bg-title" {% if object.imagen_banner %} data-bg-img="/media/{{object.imagen_banner}}" {%else%} data-bg-img="http://placehold.it/1300x200" {% endif %}>
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 xs-text-center">
                        <h2 class="text-white mt-10">{{object.titulo}}</h2>
                        <ol class="breadcrumb white mt-10 text-left">
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Aprende</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: aprende  -->
    <section >
        <div class="container div-scroll">
            <div class="row stop-s" >
                <div class="col-md-3 hidden-xs hidden-sm  ">
                    <div class="sidebar">
                        <div class="sidebar__inner">
                            <h5 class="widget-title line-bottom">{{object.titulo}}</h5>
                            <div id="accordion1" class="panel-group accordion">
                                <div class="panel intro">
                                    <div class="panel-collapse">
                                        <div class="panel-content p-0">
                                            <div class="list-group mb-0 ">
                                                <a class="list-group-item active" href="#home" aria-controls="home" role="tab" data-toggle="tab">Introducción</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for modulo in object.modules.all %}
                                <div class="panel {{modulo.titulo|slugify}}-{{forloop.counter}}">
                                    <div class="panel-title "> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{forloop.counter}}" class="" aria-expanded="true"> <span class="open-sub"></span>{{modulo.titulo}}</a>
                                    </div>
                                    <div id="accordion1{{forloop.counter}}" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                      <div class="panel-content p-0">
                                        <div class="list-group mb-0">
                                        {% for content in modulo.contenidos.all %}
                                            <a href="#section-{{content.titulo|slugify}}-{{forloop.counter}}" class="list-group-item scroll-to" aria-controls="section-{{content.titulo|slugify}}-{{forloop.counter}}" role="tab" data-toggle="tab">
                                                {{content.titulo}}
                                            </a>
                                        {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-9 tab-content ">
                     <article role="tabpanel" class="tab-pane active" id="home">
                        <h3 class="title ">Introducción del curso</h3>
                        <div class="separator "></div>
                        <div class="share-button">
                            <input class="toggle-input" id="toggle-input" type="checkbox" />
                            <label for="toggle-input" class="toggle"></label>
                            <ul class="network-list">
                                <li class="twitter">
                                    <a class="customer share" href="https://twitter.com/share?url={{object.get_absolute_url}}&amp;text={{object.titulo}} &amp;hashtags=cfca" target="_blank">Share on Twitter</a>
                                </li>
                                <li class="facebook">
                                    <a class="customer share" href="https://www.facebook.com/sharer.php?u={{object.get_absolute_url}}" target="_blank">
                                    Share on Facebook</a>
                                </li>
                            </ul>
                        </div>

                        <div class="row mt-15">
                            <div class="col-md-12 ck-contenido contenido-leccion">
                                {{object.descripcion|safe}}
                            </div>
                        </div>

                        <div class="row mt-15" >
                            <div class="col-xs-12">
                                <a class="btn btn-gray btn-theme-colored btn-xl nextcurso" id="intro">
                                    <span class="hidden-xs">Empezar curso</span>
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                     </article>
                {% for obj in object.modules.all %}
                {% for contenidos in obj.contenidos.all %}

                    <article class="post pb-30 tab-pane" role="tabpanel" class="" id="section-{{contenidos.titulo|slugify}}-{{forloop.counter}}">
                        <h3 class="title ">{{contenidos.titulo}}</h3>

                        <div class="separator "></div>
                        <div class="share-button">
                            <input class="toggle-input" id="toggle-input{{contenidos.titulo|slugify}}-{{forloop.counter}}" type="checkbox" />
                            <label for="toggle-input{{contenidos.titulo|slugify}}-{{forloop.counter}}" class="toggle"></label>
                             <ul class="network-list">
                                <li class="twitter">
                                    <a class="customer share" href="https://twitter.com/share?url=https://codepen.io/patrickkahl&amp;text=esto es un texto &amp;hashtags=aguapalagente" target="_blank">Share on Twitter</a>
                                </li>
                                <li class="facebook">
                                    <a class="customer share" href="https://www.facebook.com/sharer.php?u=https://codepen.io/patrickkahl" target="_blank">
                                    Share on Facebook</a>
                                </li>
                                <li class="googleplus">
                                    <a class="customer share" href="https://plus.google.com/share?url=https://codepen.io/patrickkahl" target="_blank">Share on Google+</a>
                                </li>
                            </ul>
                        </div>

                        <div class="row mt-30">

                            <div class="col-md-12 contenido-leccion">
                                {{contenidos.contenido|safe}}
                                <br>
                                <div class="video-tutorial">
                                {% if contenidos.url_video %}
                                   {% video contenidos.url_video '480x360' %}
                                {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12 mt-30">
                                <div class="row">



                                        {% if forloop.first %}
                                            {% if not forloop.last %}

                                                <div class="col-xs-6">
                                                    <a class="btn btn-gray btn-theme-colored btn-xl prevcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                        <i class="fas fa-play fa-flip-horizontal"></i>
                                                        <span class="hidden-xs">Tema anterior</span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <a class="btn btn-gray btn-theme-colored btn-xl  pull-right btnNext">
                                                        <span class="hidden-xs">Siguiente lección</span>
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </a>
                                                </div>
                                            {% elif  forloop.parentloop.last %}
                                                <div class="col-xs-6">
                                                    <a class="btn btn-gray btn-theme-colored btn-xl prevcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                        <i class="fas fa-play fa-flip-horizontal"></i>
                                                        <span class="hidden-xs">Tema anterior</span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <a href="{% url 'list_course' %}" class="btn btn-gray btn-theme-colored btn-xl  pull-right">
                                                        <span class="hidden-xs">Comenzar otro curso</span>
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </a>
                                                </div>
                                            {% else %}


                                                {% if forloop.parentloop.first  %}
                                                    <div class="col-xs-6">
                                                        <a class="btn btn-gray btn-theme-colored btn-xl prevcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                            <i class="fas fa-play fa-flip-horizontal"></i>
                                                            <span class="hidden-xs">Introducción </span>

                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="col-xs-6">
                                                        <a class="btn btn-gray btn-theme-colored btn-xl prevcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                            <i class="fas fa-play fa-flip-horizontal"></i>
                                                            <span class="hidden-xs">Tema anterior </span>

                                                        </a>
                                                    </div>
                                                {% endif %}


                                                <div class="col-xs-6">
                                                    <a class="btn btn-gray btn-theme-colored btn-xl pull-right nextcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                        <span class="hidden-xs">Siguiente tema</span>
                                                        <i class="fas fa-play"></i>
                                                    </a>
                                                </div>


                                            {% endif %}

                                        {% elif forloop.last %}
                                            <div class="col-xs-6">
                                                <a class="btn btn-gray btn-theme-colored btn-xl btnPrevious" >
                                                    <i class="fa fa-arrow-circle-left"></i>
                                                    <span class="hidden-xs">Lección anterior</span>

                                                </a>
                                            </div>

                                            {% if not forloop.parentloop.last %}

                                                <div class="col-xs-6">
                                                    <a class="btn btn-gray btn-theme-colored btn-xl pull-right nextcurso" id="{{obj.titulo|slugify}}-{{forloop.parentloop.counter}}">
                                                        <span class="hidden-xs">Siguiente tema</span>
                                                        <i class="fas fa-play"></i>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="col-xs-6">
                                                    <a href="{% url 'list_course' %}" class="btn btn-gray btn-theme-colored btn-xl  pull-right">
                                                        <span class="hidden-xs">Comenzar otro curso</span>
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </a>
                                                </div>
                                            {% endif %}



                                        {% else %}
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-10">
                                                <a class="btn btn-gray btn-theme-colored btn-xl btnPrevious">
                                                    <i class="fa fa-arrow-circle-left"></i>
                                                    <span class="hidden-xs">Lección anterior</span>
                                                </a>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-10">
                                                <a class="btn btn-gray btn-theme-colored btn-xl  pull-right btnNext">
                                                    <span class="hidden-xs">Siguiente lección</span>
                                                    <i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        {% endif %}

                                </div>




                            </div>
                        </div>
                    </article>
                {% endfor %}
                {% endfor %}


                </div>

            </div>
        </div>
    </section>

{% endblock contenido %}
{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>

<script src="/static/js/jquery.sticky.js"></script>
<script src="/static/js/aprendisaje.js"></script>
<script src="/static/js/social.js"></script>
<script type="text/javascript">
//var url = document.location.toString();
function getUrlParameter(variable)
{
   var query = window.location.search.substring(1);
   var vars = query.split("&");
   for (var i=0;i<vars.length;i++) {
           var pair = vars[i].split("=");
           if(pair[0] == variable){return pair[1];}
   }
   return(false);
}

// $(document).ready(function(){
//     var accordian = getUrlParameter("acc");
//     var tab = getUrlParameter("tab");
//     $('#' + accordian + '.collapse').collapse('show');
//     $('#' + accordian + ' #' + tab).tab('show');
// });

</script>

<script>
  $('.menuzord-menu li.menu3').addClass('active');
  $('.contenido-leccion ul').addClass('list ');
</script>

{% endblock extra_js %}
