{% extends "seguimiento/basedash.html" %}

{% load staticfiles %}

{% block contenido %}
<section>
    <div class="container">
        <div class="section-content perfil-caps">
            <h2>Lista de caps</h2>
            <ul>
                {% for obj in object_list %}
                    <li><a href="{% url 'detail-caps' obj.id %}">{{obj}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock contenido %}
