{% extends "seguimiento/basedash.html" %}

{% load  separarlista thumbnail %}

{% block extra_css %}

{% endblock extra_css %}
{% block contenido %}
<style>
    .foda .text-vertical{
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    .foda th{
        color: white;
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<!-- Section: inner-header -->
<section class="inner-header layer-overlay bg-title" data-bg-img="/static/img/imgprueba/encuesta.png">
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-sm-8 xs-text-center">
                    <h2 class="text-white mt-10">Perfil CAPS</h2>
                    <ol class="breadcrumb white mt-10 text-left">
                        <li><a href="/">Inicio</a></li>
                        <li class="active">Perfil CAPS</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="section-content perfil-caps">
            <div role="tabpanel" class="tab-perfil">
                <h3 class="name text-theme-colored mt-0 mb-20">{{object.nombre_caps}}</h3>
                
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-8">
                         <ul class="header-dropdown display-block">
                            {% for k,v in perfil.items %}
                                <li class="{% if forloop.first %}active{%endif%}">
                                    <a class="tab_btn" href="#{{k}}" aria-controls="home" role="tab" data-toggle="tab">{{k}}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{% url 'generatePdf' object.id %}" target="_blank"> <i class="fas fa-download"></i> PDF</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="container-perfil">
                    <div class="tab-content">
                        {% for k,v in perfil.items %}
                            <div role="tabpanel" class="tab-pane {% if forloop.first %} active {%endif%}" id="{{k}}">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs boot-tabs mb-20" role="tablist">
                                    <li role="presentation" class="active">
                                        <a class="btn-theme-colored btn-border font-14 font-weight" href="#general{{k}}" aria-controls="general" role="tab" data-toggle="tab">Información general</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="btn-theme-colored btn-border font-14 font-weight" href="#estructura{{k}}" aria-controls="estructura" role="tab" data-toggle="tab">Estructuras y documentos de gobernanza</a>
                                    </li>
                                    <li role="presentation" >
                                        <a class="btn-theme-colored btn-border font-14 font-weight" href="#patrimonio{{k}}" aria-controls="patrimonio" role="tab" data-toggle="tab">Patrimonio y asistencia técnica </a>
                                    </li>
                                    {% if v.8 %}
                                    <li role="presentation" >
                                        <a class="btn-theme-colored btn-border font-14 font-weight" href="#foda{{k}}" aria-controls="foda" role="tab" data-toggle="tab">Foda </a>
                                    </li>
                                    {% endif %}
                                    {% if v.9 %}
                                        <li role="presentation" >
                                            <a class="btn-theme-colored btn-border font-14 font-weight" href="#documentos{{k}}" aria-controls="documentos" role="tab" data-toggle="tab">Documentos </a>
                                        </li>
                                    {% endif %}
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content p-0 border-0">
                                    <div role="tabpanel" class="tab-pane active" id="general{{k}}">

                                        <div class="row">
                                            {% for dato in v.0 %}
                                            <div class="col-md-5">
                                                {% if v.11 %}
                                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                        <!-- Indicators -->
                                                        <ol class="carousel-indicators">
                                                            {% for foto in v.11 %}
                                                                <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active{% endif %}"></li>
                                                            {% endfor %}
                                                        </ol>

                                                        <!-- slides -->
                                                        
                                                        <div class="carousel-inner" role="listbox">
                                                            {% for foto in v.11 %}
                                                                {% thumbnail foto.foto "830x620" crop='center' as im %}
                                                                    <div class="item {% if forloop.first %} active{% endif %}"><img src="{{ im.url }}" alt="{{foto.descripcion}}" class="img-responsive img-fullwidth"></div>
                                                                {% endthumbnail %}
                                                            {% endfor %}
                                                        </div>

                                                        <!-- Controls -->
                                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                {% else %}
                                                <div class="thumb">
													<img src="http://placehold.it/500x300" alt="" width="100%">
												</div>
                                                {% endif %}

                                                {% if dato.facebook %}
                                                <ul class="styled-icons icon-dark icon-theme-colored icon-sm text-right">
                                                    <li><a href="{{dato.facebook}}"><i class="fa fa-facebook"></i></a></li>
                                                </ul>
                                                {% endif %}


                                                <div class="bg-light media border-bottom p-15">
                                                    <div class="media-left">
                                                        <i class="fas fa-mobile-alt text-theme-colored font-28 mt-5"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
                                                            Contacto: {{dato.contacto}}
                                                        </h5>
                                                        <p>
                                                            <span>Cargo:</span> {{dato.cargo}}
                                                            <br>
                                                            <span>Celular:</span>
                                                            {% if dato.cel_movistar %}
                                                                {{dato.cel_movistar}} <span class="badge badge-movistar">T</span>{% if dato.cel_claro %}, {% endif %}
                                                            {% endif %}
                                                            {% if dato.cel_claro %}
                                                                {{dato.cel_claro}} <span class="badge badge-claro">C</span>
                                                            {% endif %}
                                                            <br>

                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bg-light media border-bottom p-15">
                                                    <div class="media-left">
                                                        <i class="fas fa-map-marker-alt text-theme-colored font-28 mt-5"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="text-uppercase title line-bottom mt-0 mb-10 font-17">
                                                            Ubicación: {{dato.ficha_caps.departamento}}
                                                        </h5>
                                                        <p>
                                                            {% if dato.ficha_caps.municipio %}
                                                                <span>Municipio:</span> {{dato.ficha_caps.municipio.nombre}} <br>
                                                            {% endif %}

                                                            {% if dato.ficha_caps.comunidad %}
                                                                <span>Comunidad:</span> {{dato.ficha_caps.comunidad.nombre}} <br>
                                                            {% endif %}

                                                            <span>Dirección:</span> {{dato.ficha_caps.direccion}}. <br>
                                                        </p>
                                                    </div>
                                                </div>


                                            </div>
                                            {% endfor %}

                                            <div class="col-md-7">
                                                {% for constitucion in v.1 %}
                                                <div class="constitucion mb-10">
                                                    <h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Datos de constitución</h4>
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                <label for="">Nombre del presidente</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.presidente}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                                                <label for="">Sexo</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.get_sexo_display}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                                                <label for="">Fecha nacimiento</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.fecha_nacimiento}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                <label for="">Fecha constitución del caps</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.fecha_constitucion}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                <label for="">Fecha de registro municipal</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.fecha_legalizacion}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                <label for="">Registro aval</label>
                                                                <p class="label-contenido" data-toggle="tooltip" title="{{constitucion.registro_aval}}">
                                                                    {{constitucion.registro_aval}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                <label for="">Tipo sistema agua</label>
                                                                <p class="label-contenido" data-toggle="tooltip" title="{{constitucion.get_tipo_sistema_agua_display}}">
                                                                    {{constitucion.get_tipo_sistema_agua_display}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label for="">Cantidad de tomas</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.tomas_administrada}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label for="">Cantidad de familias</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.cantidad_familia}}
                                                                </p>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                <label for="">Personas beneficiaras</label>
                                                                <p class="label-contenido">
                                                                    {{constitucion.cantidad_beneficiarios}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <!-- <div class="row mt-30">

                                                    <div class="col-md-6">
                                                        <h4 class="line-bottom">Últimas peticiones</h4>
                                                        <div class="latest-peticiones">
                                                            <article class="bg-light media border-bottom p-15">

                                                                <div class="media-left">
                                                                    <i class="fas fa-reply text-primary font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Respuesta"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h5 class="post-title mt-0 mb-10 ">
                                                                        <a href="#">Mejoras al sistemas de agua</a>
                                                                    </h5>
                                                                    <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                        <i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
                                                                    </span>
                                                                </div>

                                                            </article>
                                                            <article class="bg-light media border-bottom p-15">

                                                                <div class="media-left">
                                                                    <i class="fas fa-ban text-danger font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Rechazado"></i>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h5 class="post-title mt-0 mb-10 ">
                                                                        <a href="#">Contrucción de tanque de almacenamiento</a>
                                                                    </h5>
                                                                    <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                        <i class="fa fa-calendar mr-5 text-theme-colored"></i> 24/03/2019
                                                                    </span>
                                                                </div>

                                                            </article>
                                                            <article class="bg-light media border-bottom p-15">

                                                                <div class="media-left">

                                                                    <i class="fas fa-check text-success font-28 mt-5" data-toggle="tooltip" data-placement="top" title="Completado"></i>

                                                                </div>
                                                                <div class="media-body">
                                                                    <h5 class="post-title mt-0 mb-10 ">
                                                                        <a href="#">Revisión de presupuesto</a>
                                                                    </h5>
                                                                    <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                                        <i class="fa fa-calendar mr-5 text-theme-colored"></i> 07/03/2019
                                                                    </span>
                                                                </div>

                                                            </article>
                                                            <a class="pull-right mt-10" href="#">Más peticiones <i class="fas fa-chevron-right"></i></a>



                                                        </div>



                                                    </div>
                                                    <div class="col-md-6">
                                                        <h4 class="line-bottom">Noticias del CAPS</h4>
                                                        <div class="latest-posts">
                                                            <article class="post media-post clearfix pb-0 mb-10">
                                                                <a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/53/2b/532b6afb1cb610c2c8d6ff2a74b2fedf.jpg" alt="" width="75"></a>
                                                                <div class="post-right">
                                                                    <h5 class="post-title mt-0"><a href="#">“Agua y vida son dos palabras unidas”</a></h5>

                                                                </div>
                                                            </article>
                                                            <article class="post media-post clearfix pb-0 mb-10">
                                                                <a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/c0/fc/c0fc877aadaafb06a292e09d648fd110.jpg" alt="" width="75"></a>
                                                                <div class="post-right">
                                                                    <h5 class="post-title mt-0"><a href="#">CAPS mejoran sus sistemas de agua en Somotillo</a></h5>

                                                                </div>
                                                            </article>
                                                            <article class="post media-post clearfix pb-0 mb-10">
                                                                <a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/6a/16/6a1645b0296c928fd9c33b547b8ca27d.jpg" alt="" width="75"></a>
                                                                <div class="post-right">
                                                                    <h5 class="post-title mt-0"><a href="#">"Con mi celular acorto distancia y me comunico rapidito"</a></h5>

                                                                </div>
                                                            </article>
                                                            <article class="post media-post clearfix pb-0 mb-10">
                                                                <a class="post-thumb" href="#"><img src="https://caps-nicaragua.org/media/cache/13/cf/13cfbf914c343408e8c6e044b48d5d89.jpg" alt="" width="75"></a>
                                                                <div class="post-right">
                                                                    <h5 class="post-title mt-0"><a href="#">“Superando los tiempos de agua escasa”</a></h5>

                                                                </div>
                                                            </article>
                                                            <a class="pull-right mt-10" href="#">Más noticias <i class="fas fa-chevron-right"></i></a>
                                                        </div>


                                                    </div>


                                                </div> -->
                                            </div>

                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="estructura{{k}}">
                                        <div class="estructuras">
                                            <h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Estructuras y documentos de gobernanza de el CAPS</h4>
                                            <div class="">
                                                {% for estructura in v.2 %}
                                                <div class="row mb-20">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Estructuras</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_estructuras_list|separalist|safe }}
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Nombres de estructuras de apoyo</label>
                                                        <p class="label-contenido text-left">
                                                            {{estructura.estructura_apoyo}}
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Cargos junta directiva</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_junta_directiva_cargos_list|separalist|safe }}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Junta directiva mujer</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_junta_directiva_mujer_list|separalist|safe }}
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Documentos caps</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_documentos_caps_list|separalist|safe }}

                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">JD ayuda economica</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_jd_ayuda_economica_list|separalist|safe }}

                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Personal ayuda economica</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_personal_ayuda_economica_list|separalist|safe }}

                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Personal mujer</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{estructura.get_personal_mujer_list|separalist|safe }}

                                                        </ul>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="composicion">
                                            <h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Composición de las estructuras del caps</h4>
                                            <div class="">
                                                {% for funciones in v.3 %}
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hove">
                                                                <thead class="bg-theme-colored-darker3 text-white">
                                                                    <tr>
                                                                        <th>Mujeres asamblea general</th>
                                                                        <th>Hombres asamblea general</th>
                                                                        <th>Mujeres junta directiva</th>
                                                                        <th>Hombres junta directiva</th>
                                                                        <th>Mujeres administracion</th>
                                                                        <th>Hombres administracion</th>
                                                                        <th>Mujeres comisiones apoyo</th>
                                                                        <th>Hombres comisiones apoyo</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                    {% for composicion in v.3 %}
                                                                        <td>{{composicion.mujeres_asamblea_general}}</td>
                                                                        <td>{{composicion.hombres_asamblea_general}}</td>
                                                                        <td>{{composicion.mujeres_junta_directiva}}</td>
                                                                        <td>{{composicion.hombres_junta_directiva}}</td>
                                                                        <td>{{composicion.mujeres_administracion}}</td>
                                                                        <td>{{composicion.hombres_administracion}}</td>
                                                                        <td>{{composicion.mujeres_comisiones_apoyo}}</td>
                                                                        <td>{{composicion.hombres_comisiones_apoyo}}</td>
                                                                    {% endfor %}
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <div class="funciones">
                                            <h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Funciones del CAPS</h4>
                                            <div class="">
                                                {% for composicion in v.4 %}
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                        <label for="">Cuáles de las siguiente funciones desempeñadas por la jd del caps</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{composicion.get_funciones_jd_list|separalist|safe }}
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                                        <label for="">Ingresos del caps</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{composicion.get_ingresos_list|separalist|safe }}
                                                        </ul>

                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                                                        <label for="">Principales gastos del caps</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{composicion.get_gastos_list|separalist|safe }}
                                                        </ul>
                                                    </div>

                                                </div>
                                                {% endfor %}


                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane " id="patrimonio{{k}}">
                                        <div class="estructuras">
                                            <h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>El patrimonio del CAPS</h4>
                                            <div class="">
                                                {% for patrimonio in v.5 %}
                                                <div class="row mb-20">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Patrimonio CAPS</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{patrimonio.get_patrimonio_caps_list|separalist|safe }}
                                                        </ul>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">El caps paga impuestos</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            {{patrimonio.get_pagos_list|separalist|safe }}
                                                        </ul>

                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                                        <label for="">Tarifa diferenciada por la energia electrica</label>
                                                        <ul class="list theme-colored check mt-0 label-contenido  text-left">
                                                            <li>{{patrimonio.get_energia_display}}</li>

                                                            {% if patrimonio.no %}
                                                                <label for="">Razones:</label>
                                                                <p>{{patrimonio.no}}</p>
                                                            {% endif %}

                                                        </ul>
                                                    </div>

                                                </div>
                                                {% endfor %}

                                                 <div class="row mb-20">
                                                     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                                                        <label for="">Estimación del valor Patrimonio del CAPS</label>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hove">
                                                                <thead class="bg-theme-colored-darker3 text-white">
                                                                    <tr>
                                                                        <th>Patriminio</th>
                                                                        <th>Monto</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for patrimonioestimacion in v.6 %}
                                                                    <tr>
                                                                        <td>{{patrimonioestimacion.get_patriminio_display}}</td>
                                                                        <td>{{patrimonioestimacion.monto}}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                            </table>
                                                        </div>
                                                     </div>
                                                 </div>



                                            </div>
                                        </div>
                                        <div class="funciones">
                                            <h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Asistencia técnica del CAPS</h4>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hove">
                                                    <thead class="bg-theme-colored-darker3 text-white">
                                                        <tr>
                                                            <th>OPCION</th>
                                                            <th>REGLAMENTO</th>
                                                            <th>LEY 722</th>
                                                            <th>EDUCACION</th>
                                                            <th>AGUA SANEAMIENTO</th>
                                                            <th>MANEJO FINANCIERO</th>
                                                            <th>MANEJO ADMINISTRATIVO</th>
                                                            <th>OTROS</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for asistencia in v.7 %}
                                                        <tr>
                                                            <td>{{asistencia.get_opcion_display}}</td>

                                                            <td class="text-center">
                                                                {% if asistencia.reglamento == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.ley_722 == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.educacion == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.agua_saneamiento == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.manejo_financiero == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.manejo_administrativo == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if asistencia.otros == True %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                    {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="funciones">
                                            <h4 class="title line-bottom border-bottom mt-20 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Asistencia a los modulos de capacitación</h4>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hove">
                                                    <thead class="bg-theme-colored-darker3 text-white">
                                                        <tr>
                                                            <th>Modulos</th>
                                                            <th>Asistio</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k,v in v.10.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td class="text-center">
                                                                {% if v >= 1 %}
                                                                    <i class="fas fa-check-circle text-primary">
                                                                {% else %}
                                                                    <i class="fas fa-times-circle text-danger">
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="foda{{k}}">
                                        <div class="foda">
                                            <h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Análisis FODA CAPS</h4>
                                            <div class="table-responsive">
                                                {% for foda in v.8 %}
                                                <table class="table table-bordered table-hover">
                                                    <thead class="">
                                                        <tr>
                                                            <th></th>
                                                            <th bgcolor="#FF4D11">Aspectos Positivos</th>
                                                            <th bgcolor="#01A19D">Aspectos Negativos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th bgcolor="#FE9202"><p class="text-vertical">Internos</p></th>
                                                            <td>
                                                                <h4 class="text-theme-colored">
                                                                    <span class="fa fa-circle font-12"></span> Fortalezas
                                                                </h4>
                                                                {{foda.fortalezas}}
                                                            </td>
                                                            <td>
                                                                <h4 class="text-theme-colored">
                                                                    <span class="fa fa-circle font-12"></span> Oportunidades
                                                                </h4>
                                                                {{foda.oportunidad}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th bgcolor="#01AD61"><p class="text-vertical">Externos</p></th>
                                                            <td>
                                                                <h4 class="text-theme-colored">
                                                                    <span class="fa fa-circle font-12"></span> Debilidades
                                                                </h4>
                                                                {{foda.debilidades}}
                                                            </td>
                                                            <td>
                                                                <h4 class="text-theme-colored">
                                                                    <span class="fa fa-circle font-12"></span> Amenazas
                                                                </h4>
                                                                {{foda.amenazas}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="documentos{{k}}">
                                        <div class="foda">
                                            <h4 class="title line-bottom border-bottom mt-0 mb-30 mt-sm-40"><i class="fas fa-file-contract text-theme-colored mr-10"></i>Lista de documentos</h4>
                                            <ul class="list theme-colored check">
                                                {% for documento in v.9 %}
                                                <li>
                                                    <span class="fas fa-file-pdf text-theme-colored mr-10">
                                                        <a target="_blank" href="/media/{{documento.documentos}}">{{documento.nombre_documento}}</a>
                                                    </span>

                                                </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock contenido %}

{% block extra_js %}
    <script type="text/javascript">
        //$('.menuzord-menu li.menu6').addClass('active');

    </script>
{% endblock extra_js %}
